Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(i18n): add missing translations
  client/app/account/billing/payment/transactions/translations/Messages_it_IT.json
Due: none

feat(billing.autorenew): add form for renewal type choice
  client/app/billing/autoRenew/BillingService.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.component.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.html
  client/app/billing/autoRenew/actions/update/automatic/automatic.module.js
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/form/form.component.js
  client/app/billing/autoRenew/actions/update/form/form.constants.js
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/actions/update/form/form.html
  client/app/billing/autoRenew/actions/update/form/form.module.js
  client/app/billing/autoRenew/actions/update/form/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.component.js
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.html
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.module.js
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.component.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.html
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.module.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.component.js
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/actions/update/update.html
  client/app/billing/autoRenew/actions/update/update.module.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/active/AutoRenewActivation.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/enable/billing-autoRenew-enable.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/update/billing-autoRenew-update.controller.js
  client/app/billing/autoRenew/update/billing-autoRenew-update.html
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): remove HOSTING_DOMAIN grouping
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): use state for cancel resiliation modal
  client/app/billing/autoRenew/BillingService.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.component.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.controller.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.html
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.module.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.controller.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): import missing constant
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

refactor(billing): split routing into submodules
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/billing.module.js
  client/app/billing/billing.routing.js
  client/app/billing/billingApp.module.js
  client/app/billing/confirmTerminate/termination.module.js
  client/app/billing/confirmTerminate/termination.routing.js
  client/app/billing/orders/orders.module.js
  client/app/billing/orders/orders.routing.js
  client/app/billing/orders/retraction/retraction.module.js
  client/app/billing/orders/retraction/retraction.routing.js
  client/app/billing/sla/sla.module.js
  client/app/billing/sla/sla.routing.js
Due: eslint --fix

fix(billing): inject module dependencies
  client/app/billing/billing.module.js
Due: eslint --fix

feat(billing): add ssh keys tab
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.controller.js
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.html
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.controller.js
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.html
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.controller.js
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.html
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/ssh.routing.js
  client/app/billing/autoRenew/ssh/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.html
  client/app/billing/autoRenew/ssh/user-ssh.service.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.controller.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/billing.controller.js
  client/app/billing/billing.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): regroup sidebar menu into tabs
  client/app/account/user/agreements/user-agreements.html
  client/app/account/user/agreements/user-agreements.routes.js
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/details/details.module.js
  client/app/billing/autoRenew/agreements/details/details.routing.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.html
  client/app/billing/autoRenew/agreements/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/user-agreements.constant.js
  client/app/billing/autoRenew/agreements/user-agreements.controller.js
  client/app/billing/autoRenew/agreements/user-agreements.html
  client/app/billing/autoRenew/agreements/user-agreements.module.js
  client/app/billing/autoRenew/agreements/user-agreements.routes.js
  client/app/billing/autoRenew/agreements/user-agreements.service.js
  client/app/billing/autoRenew/billing-autoRenew.controller.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/translations/Messages_fr_FR.json
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.service): turn service to a class and extract constants
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

fix(ip.reverse): use vps api only for legacy vps
  client/app/ip/ip/ip-ip.controller.js
  client/app/ip/ip/reverse/add/ip-ip-reverse-add.controller.js
  client/app/ip/ip/reverse/constants.js
  client/app/ip/ip/reverse/ip-ip-reverse.service.js
  client/app/ip/ip/reverse/update/update.controller.js
Due: eslint --fix

refactor(ip.reverse): move controllers according to their scope
  client/app/ip/ip/reverse/ip-ip-reverse.controller.js
  client/app/ip/ip/reverse/update/ip-ip-reverse-update.controller.js
  client/app/ip/ip/reverse/update/update.controller.js
Due: eslint --fix

refactor(ip.reverse.update): use es6 and oui-modal
  client/app/ip/ip.app.js
  client/app/ip/ip/reverse/ip-ip-reverse.service.js
  client/app/ip/ip/reverse/update/ip-ip-reverse-update.html
  client/app/ip/ip/reverse/update/translations/Messages_fr_FR.json
  client/app/ip/ip/reverse/update/update.controller.js
  client/app/ip/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.19.8
  CHANGELOG.md
  package.json
Due: none

feat(dedicated.servers): improve filtering by string using like operator
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/account/billing/payment/transactions/translations/Messages_pl_PL.json
Due: none

refactor: temp
  client/app/billing/autoRenew/billing-autoRenew.controller.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/billing/autoRenew/domain/billing-autoRenew-domain.html
  client/app/billing/autoRenew/hosting/billing-autoRenew-hosting.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(deps): upgrade ng-ovh-otrs v7.1.7
  package.json
  yarn.lock
Due: none

release v10.19.9
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/ip/ip/reverse/update/translations/Messages_es_ES.json
Due: none

feat(baremetal-agora): move baremetal option to full agora
  client/app/dedicated/server/bandwidth-vrack/order-agora/dedicated-server-bandwidth-agora-vrack.controller.js
  client/app/dedicated/server/bandwidth-vrack/order-agora/dedicated-server-bandwidth-agora-vrack.html
  client/app/dedicated/server/bandwidth/order-agora/dedicated-server-bandwidth-agora-order.controller.js
  client/app/dedicated/server/bandwidth/order-agora/dedicated-server-bandwidth-agora-order.html
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(mrtg-graphic): fix mrtg graphics
  client/app/dedicated/server/bandwidth-vrack/order-agora/dedicated-server-bandwidth-agora-vrack.controller.js
  client/app/dedicated/server/bandwidth-vrack/order-agora/dedicated-server-bandwidth-agora-vrack.html
  client/app/dedicated/server/bandwidth/order-agora/dedicated-server-bandwidth-agora-order.controller.js
  client/app/dedicated/server/bandwidth/order-agora/dedicated-server-bandwidth-agora-order.html
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(baremetal-bandwidth): add new bandwidth options
  client/app/dedicated/server/bandwidth-vrack/order-agora/dedicated-server-bandwidth-agora-vrack.controller.js
  client/app/dedicated/server/bandwidth-vrack/order-agora/dedicated-server-bandwidth-agora-vrack.html
  client/app/dedicated/server/bandwidth/order-agora/dedicated-server-bandwidth-agora-order.controller.js
  client/app/dedicated/server/bandwidth/order-agora/dedicated-server-bandwidth-agora-order.html
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(baremetal-bandwidth): add new bandwidth options
  client/app/dedicated/server/bandwidth-vrack/order-legacy/dedicated-server-bandwidth-vrack-order.controller.js
  client/app/dedicated/server/bandwidth-vrack/order-legacy/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.controller.js
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/bandwidth/order-agora/dedicated-server-bandwidth-agora-order.controller.js
  client/app/dedicated/server/bandwidth/order-agora/dedicated-server-bandwidth-agora-order.html
  client/app/dedicated/server/bandwidth/order-legacy/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth/order-legacy/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.module.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(baremetal-bandwidth): upgrade ovh api services
  client/app/dedicated/server/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: none

feat(baremetal-bandwidth): restructure controller
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.controller.js
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(baremetal-bandwidth): fix api query cache
  client/app/dedicated/server/dedicated-server.service.js
  commit.txt
Due: eslint --fix

feat(baremetal-bandwidth): date error fix
  client/app/dedicated/server/bandwidth-vrack/order-legacy/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth/order-legacy/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

feat(baremetal-bandwidth): restructure controller
  commit.txt
Due: none
