Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(ip): add port redirection
  client/app/config/constants.config.js
  client/app/ip/ip-lb/ip-ip-lb.controller.js
  client/app/ip/ip-lb/ip-ip-lb.html
  client/app/ip/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ip): add port redirection
  client/app/ip/ip-lb/ip-ip-lb.html
Due: htmlhint 'client/**/*.html'

fix(i18n): submit translations
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/account/billing/translations/Messages_cs_CZ.xml
  client/app/account/billing/translations/Messages_de_DE.xml
  client/app/account/billing/translations/Messages_en_ASIA.xml
  client/app/account/billing/translations/Messages_en_AU.xml
  client/app/account/billing/translations/Messages_en_CA.xml
  client/app/account/billing/translations/Messages_en_GB.xml
  client/app/account/billing/translations/Messages_en_SG.xml
  client/app/account/billing/translations/Messages_en_US.xml
  client/app/account/billing/translations/Messages_es_ES.xml
  client/app/account/billing/translations/Messages_es_US.xml
  client/app/account/billing/translations/Messages_fi_FI.xml
  client/app/account/billing/translations/Messages_fr_CA.xml
  client/app/account/billing/translations/Messages_it_IT.xml
  client/app/account/billing/translations/Messages_lt_LT.xml
  client/app/account/billing/translations/Messages_nl_NL.xml
  client/app/account/billing/translations/Messages_pl_PL.xml
  client/app/account/billing/translations/Messages_pt_PT.xml
  client/app/common/translations/Messages_es_ES.xml
  client/app/common/translations/Messages_pl_PL.xml
  client/app/dedicated/nas/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_en_ASIA.xml
  client/app/dedicated/server/translations/Messages_en_AU.xml
  client/app/dedicated/server/translations/Messages_en_CA.xml
  client/app/dedicated/server/translations/Messages_en_GB.xml
  client/app/dedicated/server/translations/Messages_en_SG.xml
  client/app/dedicated/server/translations/Messages_en_US.xml
  client/app/dedicatedUniverseComponents/bandwidth/translations/Messages_es_ES.xml
Due: none

feat(billing.payment.method): use corrected paymentMethod module
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  client/app/account/billing/payment/method/default/billing-payment-method-default.controller.js
  client/app/account/billing/payment/method/default/billing-payment-method-default.html
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.controller.js
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.html
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.controller.js
  client/app/app.js
  client/app/components/ovh-angular-payment-method/ovh-angular-payment-method.module.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.7.3
  CHANGELOG.md
  package.json
Due: none

fix(billing.autorenew): fix exchange renew redirection
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix

fix(user.contacts): replace ng-show with ng-if
  client/app/account/user/contacts/service/user-contacts-service.html
Due: htmlhint 'client/**/*.html'

fix(user.contacts): fix pagination translation
  client/app/account/user/contacts/service/user-contacts-service.html
Due: htmlhint 'client/**/*.html'

feat(): add payment method component
  client/app/account/billing/payment/billing-payment.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/ovhAccount/billing-ovhAccount.html
  client/app/account/billing/payment/vouchers/movements/billing-vouchers-movements.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade ovh-module-exchange to v9.2.1
  package.json
  yarn.lock
Due: none

build(deps): add web-universe-components dependency
  client/app/app.js
  package.json
  yarn.lock
Due: eslint --fix

build(deps): add missing @uirouter/angularjs dependency
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

build(deps): add missing angular-xeditable dependency
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

build(deps): add missing chartjs-plugin-zoom dependency
  package.json
  yarn.lock
Due: none

build(deps): add missing justgage dependency
  package.json
  yarn.lock
Due: none

build(deps): add missing URIjs dependency
  package.json
  yarn.lock
Due: none

fix(user.contacts): fix data display between pages
  client/app/account/user/contacts/service/user-contacts-service.html
Due: htmlhint 'client/**/*.html'

build(deps): add missing filesize dependency
  client/app/index.js
  package.json
Due: eslint --fix

feat(billing payment): wip add payment methods
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/add/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  client/app/common/translations/Messages_fr_FR.xml
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.7.4
  CHANGELOG.md
  package.json
Due: none

refactor(components.api): replace with wucApi
  client/app/account/otrs/new-ticket/otrs-new-ticket.service.js
  client/app/components/api/Api.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/license/license.service.js
Due: eslint --fix

refactor(components.chartjs): replace by wucChartjs
  client/app/components/chartjs/chartjs.constant.js
  client/app/components/chartjs/chartjs.directive.js
  client/app/components/chartjs/chartjs.factory.js
  client/app/components/chartjs/chartjs.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(components.user.session): remove some assistance menu items for FR
  client/app/account/otrs/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
  client/app/components/user/session/user-session.service.js
Due: eslint --fix

feat(billing.history): change message if there is no debt to pay
  client/app/account/billing/main/history/debt/pay/billing-main-history-debt-pay.controller.js
  client/app/account/billing/main/history/debt/pay/translations/Messages_fr_FR.xml
Due: eslint --fix

fix: add missing translation
  client/app/common/translations/Messages_fr_FR.xml
Due: none

build(deps): bump ovh-module-exchange to 9.2.2
  yarn.lock
Due: none

feat(cdn.dedicated): add tab to see logs
  client/app/app.js
  client/app/cdn/dedicated/domain/cdn-dedicated-domain.html
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.controller.js
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.html
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.routes.js
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.service.js
  client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.controller.js
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.html
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.routes.js
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.service.js
  client/app/cdn/dedicated/translations/Messages_fr_FR.xml
  client/app/css/source.less
  client/app/index.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(components.user.session): handle subsidiaries without support
  client/app/components/user/session/user-session.service.js
Due: eslint --fix

release v10.7.5
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/account/billing/translations/Messages_cs_CZ.xml
  client/app/account/billing/translations/Messages_de_DE.xml
  client/app/account/billing/translations/Messages_en_ASIA.xml
  client/app/account/billing/translations/Messages_en_AU.xml
  client/app/account/billing/translations/Messages_en_CA.xml
  client/app/account/billing/translations/Messages_en_GB.xml
  client/app/account/billing/translations/Messages_en_SG.xml
  client/app/account/billing/translations/Messages_en_US.xml
  client/app/account/billing/translations/Messages_es_ES.xml
  client/app/account/billing/translations/Messages_es_US.xml
  client/app/account/billing/translations/Messages_fi_FI.xml
  client/app/account/billing/translations/Messages_fr_CA.xml
  client/app/account/billing/translations/Messages_it_IT.xml
  client/app/account/billing/translations/Messages_lt_LT.xml
  client/app/account/billing/translations/Messages_nl_NL.xml
  client/app/account/billing/translations/Messages_pl_PL.xml
  client/app/account/billing/translations/Messages_pt_PT.xml
  client/app/account/user/translations/Messages_de_DE.xml
  client/app/common/translations/Messages_es_US.xml
  client/app/dedicated/housing/translations/Messages_de_DE.xml
  client/app/dedicated/nas/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_fr_CA.xml
Due: none

release v10.7.6
  CHANGELOG.md
  package.json
Due: none

feat(billing.payment): allow customer to delete payment mean
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  client/app/account/billing/payment/method/delete/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/mandatoryForAutorenew/billing-payment-method-mandatoryForAutorenew.controller.js
  client/app/account/billing/payment/method/mandatoryForAutorenew/billing-payment-method-mandatoryForAutorenew.html
  client/app/account/billing/payment/method/mandatoryForAutorenew/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/mandatoryForPostpaid/billing-payment-method-mandatoryForPostpaid.controller.js
  client/app/account/billing/payment/method/mandatoryForPostpaid/billing-payment-method-mandatoryForPostpaid.html
  client/app/account/billing/payment/method/mandatoryForPostpaid/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix
