Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(billing.payment.method): use corrected paymentMethod module
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  client/app/account/billing/payment/method/default/billing-payment-method-default.controller.js
  client/app/account/billing/payment/method/default/billing-payment-method-default.html
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.controller.js
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.html
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.controller.js
  client/app/components/ovh-angular-payment-method/ovh-angular-payment-method.module.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(): add payment method component
  client/app/account/billing/payment/billing-payment.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/ovhAccount/billing-ovhAccount.html
  client/app/account/billing/payment/vouchers/movements/billing-vouchers-movements.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing payment): wip add payment methods
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing): add shared model for new billing contact
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.controller.js
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.html
  client/app/components/ng-ovh-contacts/ng-ovh-contacts.module.js
  client/app/components/ng-ovh-payment-method/ovh-angular-payment-method.module.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing payment method): use right module name
  client/app/account/billing/atInternetTracking.config.js
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.routes.js
  client/app/account/billing/payment/method/add/views/legacy-bank-account/add-legacy-bank-account.controller.js
  client/app/account/billing/payment/method/add/views/legacy-billing-address/add-legacy-billing-address.controller.js
  client/app/account/billing/payment/method/billing-payment-method-section.service.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  package.json
  yarn.lock
Due: eslint --fix

refactor(configuration): turn view into a Component
  client/app/configuration/configuration.component.js
  client/app/configuration/configuration.routes.js
Due: eslint --fix

refactor(configuration): enhance code
  client/app/configuration/configuration.component.js
  client/app/configuration/configuration.controller.js
  client/app/configuration/configuration.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(configuration): change message for FR subsidiary
  client/app/common/translations/Messages_fr_FR.xml
  client/app/configuration/configuration.controller.js
  client/app/configuration/configuration.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(*): remove deprecated texts
  client/app/common/translations/Messages_fr_FR.xml
Due: none

fix: back button link
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: modal opening
  client/app/account/billing/payment/method/default/billing-payment-method-default.controller.js
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.controller.js
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.controller.js
Due: eslint --fix

fix: do not hide loader when redirect to hiPay
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
Due: eslint --fix

build: update yarn.lock and package.json files
  package.json
  yarn.lock
Due: none

build(deps): upgrade ng-ovh-http to v4.0.1-alpha.0
  client/app/app.js
  client/app/dedicatedUniverseComponents/contract/index.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

build(deps): upgrade ovh-utils-angular from v13.0.2 to v13.0.4
  package.json
  yarn.lock
Due: none

fix(ie11): bump @ovh-ux/translate-async-loader
  yarn.lock
Due: none

fix: contact creation for mandatory fields
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/components/user/user.service.js
  package.json
  yarn.lock
Due: eslint --fix

fix(server): mrtg chart labels
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
Due: eslint --fix

fix(billing.autorenew): fix resiliation for exchange services
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix

fix(server.statistics): add only milliseconds offset (#901)
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
Due: eslint --fix

fix: verbose legacy bank account owner FR address
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/add/views/legacy-billing-address/add-legacy-billing-address.controller.js
  client/app/account/billing/payment/method/add/views/legacy-billing-address/add-legacy-billing-address.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(payment method): add expiration date cell
  client/app/account/billing/payment/method/billing-payment-method.html
Due: htmlhint 'client/**/*.html'

build: update package.json file
  package.json
  yarn.lock
Due: none

fix(billing.autorenew): change redirection for exchange dedicated offers
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix

fix: disable transactions section for CA too
  client/app/account/billing/payment/billing-payment.html
  client/app/account/billing/payment/transactions/billing-payment-transactions.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.history): display right due date value
  client/app/account/billing/main/history/billing-main-history.html
Due: htmlhint 'client/**/*.html'

fix(billing.autorenew): change redirection for exchange dedicated offers (#903)
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix

fix(payment method): message display for US
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: after code review
  client/app/account/billing/main/history/balance/billing-history-balance.controller.js
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/account/billing/main/history/billing-main-history.html
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.controller.js
  client/app/account/billing/payment/method/billing-payment-method-section.service.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.controller.js
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.html
  client/app/app.js
  package.json
Due: htmlhint 'client/**/*.html', eslint --fix

build: change package.json file
  package.json
  yarn.lock
Due: none

release v10.8.1
  CHANGELOG.md
  package.json
Due: none

fix(billing-autorenew): payment frequency table header rearrange
  client/app/account/billing/autoRenew/update/billing-autoRenew-update.html
Due: htmlhint 'client/**/*.html'

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
