Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(account.contacts): restrict redirection for contact change
  client/app/account/contacts/update/user.contacts-update.routes.js
Due: eslint --fix

release v10.32.6
  CHANGELOG.md
  package.json
Due: none

fix(server-bandwidth): remove useless radio button
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.html
Due: htmlhint 'client/**/*.html'

refactor(duc): replace <i> and <b> by <span> and CSS
  client/app/dedicatedUniverseComponents/price/price.filter.js
Due: eslint --fix

fix(dedicated.nas): fix grammar error
  client/app/dedicated/nas/translations/Messages_fr_FR.json
Due: none

fix(dedicated.server.bandwidth.vrack): prevent step 2 from loading
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.controller.js
Due: eslint --fix

fix(dedicated.server): replace abbreviations by full text
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

feat(duc.price): create the component
  client/app/dedicatedUniverseComponents/price/index.js
  client/app/dedicatedUniverseComponents/price/price.class.js
  client/app/dedicatedUniverseComponents/price/price.component.js
  client/app/dedicatedUniverseComponents/price/price.constants.js
  client/app/dedicatedUniverseComponents/price/price.controller.js
  client/app/dedicatedUniverseComponents/price/price.filter.js
  client/app/dedicatedUniverseComponents/price/price.html
  client/app/dedicatedUniverseComponents/price/price.service.js
  client/app/dedicatedUniverseComponents/price/priceDisplay.class.js
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix: replace all ducPrice filter usage by ducPrice component
  client/app/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.html
  client/app/dedicated/server/bandwidth-vrack/order-legacy/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/bandwidth/order-legacy/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/kvm/order/dedicated-server-kvm-order.html
  client/app/dedicated/server/pro-use/order/dedicated-server-pro-use-order.html
  client/app/dedicated/server/traffic/order/dedicated-server-traffic-order.html
  client/app/dedicated/server/usb-storage/order/dedicated-server-usb-storage-order.html
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.html
  client/app/ip/ip/legacyOrder/durations.html
  client/app/ip/ip/legacyOrder/durationsPCC.html
  client/app/ip/ip/legacyOrder/migrate/ip-ip-legacyOrder-migrate.html
  client/app/license/order/license-order.html
  client/app/license/upgrade/license-upgrade.controller.js
  client/app/license/upgrade/license-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: enhance codebase
  client/app/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.controller.js
  client/app/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.html
  client/app/dedicated/server/bandwidth-vrack/order-legacy/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.controller.js
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/bandwidth/order-legacy/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/kvm/order/dedicated-server-kvm-order.html
  client/app/dedicated/server/pro-use/order/dedicated-server-pro-use-order.html
  client/app/dedicated/server/traffic/order/dedicated-server-traffic-order.html
  client/app/dedicated/server/usb-storage/order/dedicated-server-usb-storage-order.html
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.html
  client/app/dedicatedUniverseComponents/price/index.js
  client/app/dedicatedUniverseComponents/price/price.class.js
  client/app/dedicatedUniverseComponents/price/price.component.js
  client/app/dedicatedUniverseComponents/price/price.constants.js
  client/app/dedicatedUniverseComponents/price/price.controller.js
  client/app/dedicatedUniverseComponents/price/price.filter.js
  client/app/dedicatedUniverseComponents/price/price.service.js
  client/app/dedicatedUniverseComponents/price/priceDisplay.class.js
  client/app/dedicatedUniverseComponents/price/priceDisplay.service.js
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_FR.json
  client/app/ip/ip/legacyOrder/durations.html
  client/app/ip/ip/legacyOrder/durationsPCC.html
  client/app/ip/ip/legacyOrder/migrate/ip-ip-legacyOrder-migrate.html
  client/app/license/order/license-order.html
  client/app/license/upgrade/license-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: fix spelling mistakes
  client/app/dedicated/nas/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

fix(account.user.support.level): use right URLs in constant file
  client/app/account/user/support-level/support-level.constants.js
Due: eslint --fix

release v10.32.7
  CHANGELOG.md
  package.json
Due: none

fix(ola.bandwidth): hide order and resilliation button for some products
  client/app/dedicated/server/bandwidth/dashboard/dashboard.html
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html'

fix(billing.payment.method): remove unecessary injections
  client/app/billing/payment/method/controller.js
Due: eslint --fix

fix(billing.payment.method): add missing ngInject
  client/app/billing/payment/method/add/routing.js
  client/app/billing/payment/method/default/routing.js
  client/app/billing/payment/method/delete/routing.js
  client/app/billing/payment/method/edit/routing.js
  client/app/billing/payment/method/routing.js
Due: eslint --fix

fix(ola): disable action-menu if there's no elements
  client/app/dedicated/server/bandwidth/dashboard/dashboard.html
Due: htmlhint 'client/**/*.html'

fix(billing.autorenew): set page offset for current page (#1415)
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

fix(ola): change public bandwidth warning
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_en_GB.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_en_US.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
Due: none

feat(autorenew): add webcoach
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.component.js
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.controller.js
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.html
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.module.js
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.routing.js
  client/app/billing/autoRenew/actions/terminate-webcoach/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated): fix spelling mistakes (#1460)
  client/app/dedicated/nas/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

feat(billing.autorenew): update wording for expiration date (#1416)
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 76]
  client/app/account/contacts/service/edit/translations/Messages_it_IT.json
  client/app/account/contacts/service/translations/Messages_it_IT.json
  client/app/account/user/dashboard/translations/Messages_it_IT.json
  client/app/account/user/support-level/translations/Messages_it_IT.json
  client/app/account/user/translations/Messages_it_IT.json
  client/app/billing/translations/Messages_it_IT.json
  client/app/dedicated/housing/translations/Messages_pl_PL.json
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_pl_PL.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_pl_PL.json
  client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_pl_PL.json
  client/app/dedicated/server/interfaces/translations/Messages_pl_PL.json
  client/app/dedicated/server/translations/Messages_fr_CA.json
  client/app/dedicated/server/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/translations/Messages_it_IT.json
Due: none

feat(autorenew): add webcoach (#1464)
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.component.js
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.controller.js
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.html
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.module.js
  client/app/billing/autoRenew/actions/terminate-webcoach/terminate-webcoach.routing.js
  client/app/billing/autoRenew/actions/terminate-webcoach/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(account.user.advanced): restore the activation button
  client/app/account/user/advanced/advanced.routing.js
Due: eslint --fix

fix(account.contacts): filter service on category
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/user-contacts-service.routes.js
Due: eslint --fix

fix(account.contacts): filter service on category (#1467)
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/user-contacts-service.routes.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 78]
  client/app/account/user/support-level/translations/Messages_it_IT.json
Due: none

fix(ola): add translations (#1428)
  client/app/dedicated/housing/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

feat(dedicated.server): extract translations (#1430)
  client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_FR.json
Due: none

fix(billing.autorenew.ssh): scope function binding
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
Due: eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
