Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(options): change text
  client/app/dedicatedCloud/dashboard/main/tiles/options/translations/Messages_fr_FR.xml
Due: none

refactor(host.order-us): move data initialization to method
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

fix(tiles.options): allow ordering when only one pack is available
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

feat(resource): allow order for all subsidiaries
  client/app/app.js
Due: eslint --fix

fix(general-information.dashboard): add message when name was updated
  client/app/dedicatedCloud/dashboard/generalInformation/generalInformation.controller.js
Due: eslint --fix

style(backup.enable): change indentation
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
Due: htmlhint 'client/**/*.html'

fix(options.order): set order at final order step
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(datacenter.datastore): fetch consumption for Agora
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

style(datacenter): change indentation
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datastore-datacenter.routes.js
Due: eslint --fix

refactor(license.enable): rename legacy controller
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(user.password): display confirmation message
  client/app/dedicatedCloud/user/password/reset/dedicatedCloud-user-password-reset.controller.js
  client/app/dedicatedCloud/user/password/reset/dedicatedCloud-user-password-reset.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(license.enable): allow route for all subs
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

fix(dashboard): duplicate error messages will display
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter.backup): send legacy offer when outside the US
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
Due: eslint --fix

feat(selection): add translations for vRops option
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/translations/Messages_fr_FR.xml
Due: none

refactor(license.enable): reorder parameters alphabetically
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

fix(datastore): remove unused injection
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

fix(datacenter-backup): change link text for a11y
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

fix(datastore): handle case when no data is available yet
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

feat(backup): allow ordering for all subsidiaries
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(host.order-us): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

fix(datacenter.datastore): display hour of last update
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(options.selection): go to next step in all case
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

fix(user): respect password rules
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.controller.js
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(enable-legacy): get link to Veeam from constants instead of
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): add missing annotation
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(tiles.options): enhance code readability
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

refactor(backup.enable): rename legacy funnel
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: fix rebase mistakes
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  client/app/dedicatedCloud/resource/upgrade/state.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(options.order): simplify next step call
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(resource.legacy): extract controller into own file
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.controller.js
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
Due: eslint --fix

feat(host): allow order for all subsidiaries
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html'

fix(resource.legacy): remove unused controller
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
Due: eslint --fix

fix(selection): remove code specific for PL
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

fix(datacenter): display error message
  client/app/dedicatedCloud/datacenter/delete/dedicatedCloud-datacenter-delete.controller.js
Due: eslint --fix

fix: fix yarn.lock
  yarn.lock
Due: none

refactor(datastore): rename order funnel
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datastore-datacenter.routes.js
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): load method correctly on order
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
Due: eslint --fix

feat(datastore): allow ordering for all subsidiaries
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(backup): remove unsued functions
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
Due: eslint --fix
