Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(dedicated-cloud): rewrite some messages
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

build(deps): upgrade ng-ovh-sso-auth and ng-ovh-sso-auth-modal-plugin
  client/app/app.js
  client/app/components/ovh-angular-sso-auth/ovh-angular-sso-auth.module.js
  client/app/css/source.less
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(navbar): revamp style and texts
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/navbar/navbar-menu-header/index.js
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.component.html
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.component.js
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.html
  client/app/components/navbar/navbar-notification.service.js
  client/app/components/navbar/navbar.less
  client/app/components/navbar/navbar.service.js
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
  client/app/components/user/session/user-session.service.js
  client/app/css/source.less
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(navbar): revamp style and texts (#877)
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/navbar/navbar-menu-header/index.js
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.component.html
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.component.js
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.html
  client/app/components/navbar/navbar-notification.service.js
  client/app/components/navbar/navbar.less
  client/app/components/navbar/navbar.service.js
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
  client/app/components/user/session/user-session.service.js
  client/app/css/source.less
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): submit translations
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
Due: none

release v10.10.2
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.ftpbackup): add limit to ip blocks
  client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.controller.js
  client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix: review
  client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.controller.js
  client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.ftpbackup): change alert message
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: none

fix(dedicated.ftpbackup): change message and handle existing blocks
  client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.controller.js
  client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.html
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.constants.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.ftp-backup): add limit to ip blocks (#959)
  client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.controller.js
  client/app/dedicated/server/ftp-backup/access/add/dedicated-server-ftp-backup-access-add.html
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.constants.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(deps): upgrade exchange module
  package.json
  yarn.lock
Due: none

fix(i18n): extract translations
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(i18n): submit translations
  client/app/dedicated/server/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

release v10.10.3
  CHANGELOG.md
  package.json
Due: none

fix: display generic explain for other non FR customers
  client/app/account/billing/payment/method/add/billing-payment-method-add.constants.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/add/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ip.statistics): display correct units and details
  client/app/ip/ip/mitigation/statistics/ip-ip-mitigation-statistics.controller.js
Due: eslint --fix

fix(ip.mitigation.statistics): display correct units and details (#968)
  client/app/ip/ip/mitigation/statistics/ip-ip-mitigation-statistics.controller.js
Due: eslint --fix

release v10.10.4
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.server): add alert on task tab if service is expired
  client/app/dedicated/server/task/dedicated-server-task.controller.js
  client/app/dedicated/server/task/dedicated-server-task.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.payment): add explain text for credit card add (#951)
  client/app/account/billing/payment/method/add/billing-payment-method-add.constants.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/add/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/account/billing/payment/method/add/translations/Messages_fr_FR.xml
Due: none

feat(license): order as addon for dedicated servers
  client/app/config/constants.config.js
  client/app/dedicatedUniverseComponents/duration-iso8601/duration-iso8601.filter.js
  client/app/dedicatedUniverseComponents/duration-iso8601/index.js
  client/app/dedicatedUniverseComponents/duration-iso8601/translations/Messages_fr_FR.xml
  client/app/dedicatedUniverseComponents/index.js
  client/app/license/order/agoraOrder/license-agoraOrder.service.js
  client/app/license/order/license-order-classic.controller.js
  client/app/license/order/license-order-classic.html
  client/app/license/order/license-order-dedicated.controller.js
  client/app/license/order/license-order-dedicated.html
  client/app/license/order/license-order.controller.js
  client/app/license/order/license-order.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicatedcloud): update spla plancode
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable-us.controller.js
Due: eslint --fix

release v10.10.5
  CHANGELOG.md
  package.json
Due: none

fix: use oui-status and change error to warning
  client/app/dedicated/server/task/dedicated-server-task.controller.js
  client/app/dedicated/server/task/dedicated-server-task.html
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
