Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(*): duplicate error messages
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/security/dedicatedCloud-security.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

fix(*): terminate domain not working
  client/app/account/billing/confirmTerminate/billing-confirmTerminate.service.js
Due: eslint --fix

fix(account.billing): confirmTerminate domain not working
  client/app/account/billing/confirmTerminate/billing-confirmTerminate.service.js
Due: eslint --fix

fix(billing): search text capture from url
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix

fix(ip): add port redirection
  client/app/ip/ip-lb/ip-ip-lb.html
Due: htmlhint 'client/**/*.html'

fix(alignment-fix): licence order table fix
  client/app/license/order/license-order.html
Due: htmlhint 'client/**/*.html'

Revert "fix(deps): upgrade ovh-module-exchange to v9.1.0"
  package.json
  yarn.lock
Due: none

release v10.6.1
  CHANGELOG.md
  package.json
Due: none

fix(dedicated-server): tabs loading
  client/app/dedicated/server/dedicated-server-tabs.controller.js
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(account): country code update
  client/app/account/user/contacts/update/user-contacts-update.controller.js
  client/app/common/translations/Messages_fr_FR.xml
Due: eslint --fix

fix(account): country code update
  client/app/account/user/contacts/update/user-contacts-update.controller.js
Due: eslint --fix

fix(account.billing.autorenew): search text capture from url
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix

fix(constants): fix FI order url
  client/app/config/constants.config.js
Due: eslint --fix

feat(components.user.session): remove some assistance menu items for FR
  client/app/account/otrs/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
  client/app/components/user/session/user-session.service.js
Due: eslint --fix

release v10.6.2
  CHANGELOG.md
  package.json
Due: none

fix(account.user.contacts): update country code
  client/app/account/user/contacts/update/user-contacts-update.controller.js
  client/app/common/translations/Messages_fr_FR.xml
Due: eslint --fix

refactor(components.bytes): move to dedicatedUniverseComponent
  client/app/dedicated/server/traffic/dedicated-server-traffic.service.js
  client/app/dedicatedUniverseComponents/bytes/bytes.filter.js
  client/app/dedicatedUniverseComponents/bytes/index.js
  client/app/dedicatedUniverseComponents/bytes/translations/Messages_fr_FR.xml
  client/app/dedicatedUniverseComponents/index.js
Due: eslint --fix

refactor(components.bandwidth): move to dedicatedUniverseComponent
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicatedUniverseComponents/bandwidth/bandwidth.filter.js
  client/app/dedicatedUniverseComponents/bandwidth/index.js
  client/app/dedicatedUniverseComponents/bandwidth/translations/Messages_fr_FR.xml
  client/app/dedicatedUniverseComponents/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-server): tabs loading
  client/app/dedicated/server/dedicated-server-tabs.controller.js
  client/app/dedicated/server/dedicated-server.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/common/translations/Messages_fr_FR.xml
Due: none

refactor(components.contract): move to dedicatedUniverseComponent
  client/app/account/billing/autoRenew/active/AutoRenewActivation.controller.js
  client/app/account/billing/autoRenew/update/billing-autoRenew-update.controller.js
  client/app/dedicatedUniverseComponents/contract/index.js
  client/app/dedicatedUniverseComponents/contract/user-contract.service.js
  client/app/dedicatedUniverseComponents/index.js
  client/app/user-contracts/modal/user-contracts-accept.controller.js
  client/app/user-contracts/user-contracts.controller.js
Due: eslint --fix

resolved review request comments
  client/app/dedicatedCloud/security/dedicatedCloud-security.controller.js
Due: eslint --fix

refactor(components.price): move to dedicatedUniverseComponent
  client/app/account/billing/ovhAccount/retrieve/billing-ovhAccount-retrieve.html
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/kvm/order/dedicated-server-kvm-order.html
  client/app/dedicated/server/pro-use/order/dedicated-server-pro-use-order.html
  client/app/dedicated/server/traffic/order/dedicated-server-traffic-order.html
  client/app/dedicated/server/usb-storage/order/dedicated-server-usb-storage-order.html
  client/app/dedicatedCloud/resource/upgrade/dedicatedCloud-resource-upgrade.html
  client/app/dedicatedUniverseComponents/index.js
  client/app/dedicatedUniverseComponents/price/index.js
  client/app/dedicatedUniverseComponents/price/price.filter.js
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_FR.xml
  client/app/ip/ip/order/durations.html
  client/app/ip/ip/order/durationsPCC.html
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.html
  client/app/license/order/license-order.html
  client/app/license/upgrade/license-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(license.order): align and fix table
  client/app/license/order/license-order.html
Due: htmlhint 'client/**/*.html'

refactor(components.feature): remove feature availability
  client/app/account/billing/main/payments/billing-payments.controller.js
  client/app/account/user/security/sms/user-security-sms.service.js
  client/app/components/address/address.filter.js
  client/app/components/feature-availability/feature-availability.service.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
  client/app/components/user/session/user-session.service.js
  client/app/configuration/configuration.controller.js
  client/app/dedicated/housing/dedicated-housing.controller.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server-feature-availability.js
  client/app/dedicated/server/dedicated-server-tabs.controller.js
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.controller.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
  client/app/dedicated/server/terminate/dedicated-server-terminate.controller.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/ip/ip-feature-availability.js
  client/app/ip/ip.controller.js
  client/app/ip/ip/ip-ip.controller.js
  client/app/ip/ip/organisation/add-or-edit/ip-ip-organisation-add-or-edit.controller.js
  client/app/ip/ip/organisation/view/ip-ip-organisation-view.controller.js
  client/app/license/license-feature-availability.js
  client/app/license/license.service.js
  client/app/license/order/license-order.controller.js
  client/app/license/order/license-order.service.js
  client/app/user-contracts/user-contracts.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.translate): move to dedicatedUniverseComponent
  client/app/account/otrs/detail/otrs-detail.html
  client/app/account/otrs/otrs.html
  client/app/account/user/contacts/request/user-contacts-request.html
  client/app/account/user/contacts/update/user-contacts-update.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.html
  client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
  client/app/dedicated/server/task/dedicated-server-task.html
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.html
  client/app/dedicatedUniverseComponents/index.js
  client/app/dedicatedUniverseComponents/translate/index.js
  client/app/dedicatedUniverseComponents/translate/translate-alt.filter.js
  client/app/ip/ip-lb/backend/add/ip-ip-lb-backend-add.html
  client/app/ip/ip-lb/backend/probe/ip-ip-lb-backend-probe.html
  client/app/ip/ip-lb/ip-ip-lb.html
  client/app/ip/ip/block/move/ip-ip-block-move.html
  client/app/ip/ip/firewall/game/rule/add/ip-ip-firewall-game-rule-add.html
  client/app/ip/ip/ip-ip.html
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.html
  client/app/ip/ip/organisation/add-or-edit/ip-ip-organisation-add-or-edit.html
  client/app/ip/ip/organisation/view/ip-ip-organisation-view.html
  client/app/license/upgrade/SQLSERVER.html
  client/app/license/upgrade/WINDOWS.html
  client/app/license/upgrade/WORKLIGHT.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(deps): upgrade npm-run-all to v4.1.5
  package.json
  yarn.lock
Due: none

fix(i18n): retrieve translations
  client/app/account/billing/translations/Messages_pl_PL.xml
  client/app/account/otrs/translations/Messages_pl_PL.xml
  client/app/account/user/translations/Messages_pl_PL.xml
  client/app/common/translations/Messages_cs_CZ.xml
  client/app/common/translations/Messages_de_DE.xml
  client/app/common/translations/Messages_en_ASIA.xml
  client/app/common/translations/Messages_en_AU.xml
  client/app/common/translations/Messages_en_CA.xml
  client/app/common/translations/Messages_en_GB.xml
  client/app/common/translations/Messages_en_SG.xml
  client/app/common/translations/Messages_en_US.xml
  client/app/common/translations/Messages_es_ES.xml
  client/app/common/translations/Messages_es_US.xml
  client/app/common/translations/Messages_fi_FI.xml
  client/app/common/translations/Messages_fr_CA.xml
  client/app/common/translations/Messages_it_IT.xml
  client/app/common/translations/Messages_lt_LT.xml
  client/app/common/translations/Messages_nl_NL.xml
  client/app/common/translations/Messages_pl_PL.xml
  client/app/common/translations/Messages_pt_PT.xml
  client/app/components/sidebar-menu/account/translations/Messages_pl_PL.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_cs_CZ.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_de_DE.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_ASIA.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_AU.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_CA.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_GB.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_SG.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_US.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_es_ES.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_es_US.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_fi_FI.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_CA.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_it_IT.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_lt_LT.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_nl_NL.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_pl_PL.xml
  client/app/dedicatedUniverseComponents/price/translations/Messages_pt_PT.xml
Due: none

feat(autorenew): disable autorenew if there is no valid payment mean
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/account/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.html
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): clean promise initialization
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix
