Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

build(deps): upgrade ovh-module-exchange to v9.2.5
  package.json
  yarn.lock
Due: none

feat(account.user.contacts): support kubernetes (#941)
  client/app/account/user/contacts/user-contacts.service.js
  client/app/account/user/translations/Messages_fr_FR.xml
Due: eslint --fix

fix(i18n): submit translations
  client/app/account/user/translations/Messages_fr_FR.xml
Due: none

release v10.10.0
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.server): display tabs on reinstall error
  client/app/dedicated/server/dedicated-server.controller.js
Due: eslint --fix

fix(account.billing.payment.add): us payment add
  package.json
  yarn.lock
Due: none

build(deps): upgrade ovh-module-exchange to v9.3.0
  package.json
  yarn.lock
Due: none

fix(billing.payment.method): disbale default credit card with bad status
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.payment): clear vantiv iframe if already exist
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
Due: eslint --fix

release v10.10.1
  CHANGELOG.md
  package.json
Due: none

feat(dedicated-cloud): display loader when state transitions
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): use States to manage data retrieval
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.routes.js
  client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(constants): add Express URLs for all subs
  client/app/config/constants.config.js
Due: eslint --fix

feat(dedicated-cloud): retrieve if service uses Agora
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-backup): replace constant use
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter-datastore): refactor controller
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

fix(billing.payment): add explain text for credit card add
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/add/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud-datacenter-datastore): replace constant use
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter): rewrite `Controller` a bit
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenter-host): rewrite `Controller`
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-host): replace constant use
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud-datacenters): replace constant use
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-license): rewrite some parts
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
  client/app/dedicatedCloud/license/dedicatedCloud-license.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-dashboard): rewrite view
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud): remove deprecated feature
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud-security-max-simultaneous-connection): remove label
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.html
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud-license): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenters): rewrite `Controller`
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix

feat(dedicated-cloud-license-enable): allow access to route outside US
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(dedicated-cloud): add default alert type
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

refactor(dedicated-cloud-licence-enable): rewrite `Config`
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(dedicated-cloud-dashboard): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(dedicated-cloud): move constants to own file
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(dedicated-cloud-datacenter-host-order-us): rewrite `Ctrl`
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

fix(dedicated-cloud): display error message with an error alert type
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
  client/app/dedicatedCloud/security/logout/dedicatedCloud-security-logout.controller.js
  client/app/dedicatedCloud/security/session-timeout/update/dedicatedCloud-security-session-timeout-update.controller.js
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.controller.js
  client/app/dedicatedCloud/user/delete/dedicatedCloud-user-delete.controller.js
  client/app/dedicatedCloud/user/disable/dedicatedCloud-user-disable.controller.js
  client/app/dedicatedCloud/user/enable/dedicatedCloud-user-enable.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

refactor(dedicated-cloud): rewrite `Controller`
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

refactor(dedicated-cloud): rewrite `Service` as `Class`
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix
