Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

release v10.20.0
  CHANGELOG.md
  package.json
Due: none

feat(billing.autorenew): add form for renewal type choice
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.component.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.html
  client/app/billing/autoRenew/actions/update/automatic/automatic.module.js
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/form/form.component.js
  client/app/billing/autoRenew/actions/update/form/form.constants.js
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/actions/update/form/form.html
  client/app/billing/autoRenew/actions/update/form/form.module.js
  client/app/billing/autoRenew/actions/update/form/form.service.js
  client/app/billing/autoRenew/actions/update/form/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.component.js
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.html
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.module.js
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.component.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.html
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.module.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.component.js
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/actions/update/update.html
  client/app/billing/autoRenew/actions/update/update.module.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/active/AutoRenewActivation.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/enable/billing-autoRenew-enable.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/update/billing-autoRenew-update.controller.js
  client/app/billing/autoRenew/update/billing-autoRenew-update.html
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): import missing constant
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

refactor(billing.autorenew): use state for cancel resiliation modal
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.component.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.controller.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.html
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.module.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.controller.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix: bump ovh-api-services to ^7.4.2
  package.json
  yarn.lock
Due: none

fix(dedicated.servers): rename criteria callback
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/dedicated/server/translations/Messages_nl_NL.json
  client/app/ip/ip/reverse/update/translations/Messages_it_IT.json
  client/app/ip/ip/reverse/update/translations/Messages_pl_PL.json
  client/app/ip/translations/Messages_es_ES.json
  client/app/ip/translations/Messages_it_IT.json
Due: none

build(deps): upgrade ovh-api-services to v8.0.0
  package.json
  yarn.lock
Due: none

build(deps): upgrade ovh-api-services to v8.0.0 (#1268)
  package.json
  yarn.lock
Due: none

build(billing.autorenew): update to new structure
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): refactor export csv and disable all domains
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.component.js
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.controller.js
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.html
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.module.js
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.routing.js
  client/app/billing/autoRenew/disable-domains-bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disableAutoRenewDomains/billing-autoRenew-disableAutoRenewDomains.controller.js
  client/app/billing/autoRenew/disableAutoRenewDomains/billing-autoRenew-disableAutoRenewDomains.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): refactor common autorenew actions
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  client/app/billing/autoRenew/actions/delete/delete.routing.js
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.controller.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/billing/autoRenew/domain/billing-autoRenew-domain.html
  client/app/billing/autoRenew/hosting/billing-autoRenew-hosting.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add bulk activation/deactivation link
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/dedicated/server/translations/Messages_en_ASIA.json
  client/app/dedicated/server/translations/Messages_en_AU.json
  client/app/dedicated/server/translations/Messages_en_CA.json
  client/app/dedicated/server/translations/Messages_en_GB.json
  client/app/dedicated/server/translations/Messages_en_SG.json
  client/app/dedicated/server/translations/Messages_en_US.json
  client/app/dedicated/server/translations/Messages_fi_FI.json
  client/app/dedicated/server/translations/Messages_it_IT.json
  client/app/dedicated/server/translations/Messages_lt_LT.json
  client/app/ip/ip/reverse/update/translations/Messages_de_DE.json
Due: none

refactor(billing.autorenew): refactor common exchange actions
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade ng-ovh-http to v4.0.2
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/ip/translations/Messages_de_DE.json
Due: none

fix(ip): allow only reverse update in ipv6 modal
  client/app/ip/ip/reverse/add/ip-ip-reverse-add.controller.js
  client/app/ip/ip/reverse/add/ip-ip-reverse-add.html
  client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade ng-ovh-http to v4.0.2 (#1269)
  package.json
  yarn.lock
Due: none

refactor(billing.autorenew): refactor manual renew actions
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

build: remove duplicate bower dependencies
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

build: remove duplicate bower dependencies (#1260)
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix(ip): allow only reverse update in ipv6 modal (#1263)
  client/app/ip/ip/reverse/add/ip-ip-reverse-add.controller.js
  client/app/ip/ip/reverse/add/ip-ip-reverse-add.html
  client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add filters
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/dedicated/server/translations/Messages_de_DE.json
  client/app/dedicated/server/translations/Messages_pt_PT.json
  client/app/ip/ip/reverse/update/translations/Messages_pt_PT.json
Due: none

release v10.20.1
  CHANGELOG.md
  package.json
Due: none

build(deps): upgrade ng-ovh-web-universe-components to v4.0.3
  package.json
  yarn.lock
Due: none

fix(ip.reverse.add): display error fields when value are invalid
  client/app/ip/ip/reverse/add/ip-ip-reverse-add.html
  client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

feat(billing.autorenew): add bulk action pages
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/bulk/bulk.component.js
  client/app/billing/autoRenew/bulk/bulk.controller.js
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/bulk.module.js
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/billing-autoRenew-disable.html
  client/app/billing/autoRenew/disable/disable.component.js
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/disable/disable.html
  client/app/billing/autoRenew/disable/disable.module.js
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/disable/disable.service.js
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/enable/enable.component.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.html
  client/app/billing/autoRenew/enable/enable.module.js
  client/app/billing/autoRenew/enable/enable.routing.js
  client/app/billing/autoRenew/enable/enable.service.js
  client/app/billing/autoRenew/enable/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add bulk action pages (#1267)
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/bulk/bulk.component.js
  client/app/billing/autoRenew/bulk/bulk.controller.js
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/bulk.module.js
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/billing-autoRenew-disable.html
  client/app/billing/autoRenew/disable/disable.component.js
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/disable/disable.html
  client/app/billing/autoRenew/disable/disable.module.js
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/disable/disable.service.js
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/enable/enable.component.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.html
  client/app/billing/autoRenew/enable/enable.module.js
  client/app/billing/autoRenew/enable/enable.routing.js
  client/app/billing/autoRenew/enable/enable.service.js
  client/app/billing/autoRenew/enable/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add filters (#1271)
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
