Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(backup): allow ordering for all subsidiaries
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(backup.enable): rename order funnel
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter): remove surnumerary controller
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html'

refactor(datastore): rename legacy order funnel
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/orderLegacy/dedicatedCloud-datacenter-datastore-orderLegacy.controller.js
  client/app/dedicatedCloud/datacenter/datastore/orderLegacy/dedicatedCloud-datacenter-datastore-orderLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

style(datacenter): change indentation
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datastore-datacenter.routes.js
Due: eslint --fix

fix(datacenter): add missing annotation
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datastore-datacenter.routes.js
Due: eslint --fix

refactor(datacenter): reorder parameters alphabetically
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datastore-datacenter.routes.js
Due: eslint --fix

refactor(datastore): rename order funnel
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datastore-datacenter.routes.js
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(datastore): allow ordering for all subsidiaries
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(host): rename legacy order funnel
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.controller.js
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(host): rename order funnel
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.routes.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(host): allow order for all subsidiaries
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datastore): remove unused injection
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

fix(backup): remove unused injection
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
Due: eslint --fix

fix(datacenters): enable button for all subsidiaries
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html'

feat(datacenters): enable order funnel for all subsidiaries
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix

fix(datacenters): change paths to target correctly
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix

fix(backup): load method correctly on order
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
Due: eslint --fix

refactor(license): rename legacy order
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enableLegacy.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enableLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter): allow ordering for all subsidiaries
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html'

refactor(name-edition): use string interpolation
  client/app/components/name-edition/name-edition.controller.js
Due: eslint --fix

refactor(backup.enable): use object destructuration
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
Due: eslint --fix

refactor(backup.enable): use string interpolation
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
Due: eslint --fix

refactor(datacenter.host): use object destructuration
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

refactor(backup): remove unsued functions
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
Due: eslint --fix

refactor(datacenter): use object destructuring
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
Due: eslint --fix

feat(backup): prevent activation if no spla licence
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): use correct service pack
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
Due: eslint --fix

refactor(license.enable): change indentation && return Promises
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
Due: eslint --fix

feat(license.enable): fetch contracts from API
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.html
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup.enable): add missing annotation
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
Due: eslint --fix

style(backup.enable): change indentation
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
Due: eslint --fix

refactor(backup.enable-agora): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
Due: eslint --fix

style(host.order-us): change function order
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
Due: eslint --fix

feat(resource): rename legacy order funnel
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(resource.legacy): remove unused controller
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
Due: eslint --fix

refactor(resource.legacy): extract controller into own file
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.controller.js
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
Due: eslint --fix

refactor(resource.legacy): turn into class
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
Due: eslint --fix

style(resource.legacy): change indentation and reorder injections
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
Due: eslint --fix

refactor(resource.legacy): rename controller
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
