Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(deps): upgrade ng-ovh-apiv7 to v2.0.0
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix: use oui-status and change error to warning
  client/app/dedicated/server/task/dedicated-server-task.html
Due: htmlhint 'client/**/*.html'

refactor(dedicated.server): change duc-tabs to oui-header-tabs
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dashboard/dedicated-server-dashboard.routes.js
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/display-name/display-name.routes.js
  client/app/dedicated/server/dns/dedicated-server-dns.routes.js
  client/app/dedicated/server/firewall/dedicated-server-firewall.routes.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.routes.js
  client/app/dedicated/server/intervention/dedicated-server-intervention.routes.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.routes.js
  client/app/dedicated/server/monitoring/update/dedicated-server-monitoring-update.routes.js
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.routes.js
  client/app/dedicated/server/reboot/dedicated-server-reboot.routes.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
  client/app/dedicated/server/task/dedicated-server-task.routes.js
  client/app/dedicated/server/usb-storage/dedicated-server-usb-storage.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server): disable header tabs if service is expired
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.balance): call to existing method
  client/app/account/billing/main/history/balance/billing-history-balance.controller.js
Due: eslint --fix

release v10.10.6
  CHANGELOG.md
  package.json
Due: none

feat(cdn.dedicated): expose logs to customers
  client/app/app.js
  client/app/cdn/dedicated/domain/cdn-dedicated-domain.html
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.controller.js
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.html
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.routes.js
  client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.controller.js
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.html
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.routes.js
  client/app/cdn/dedicated/translations/Messages_fr_FR.xml
  client/app/css/source.less
  client/app/index.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): retrieve translations
  client/app/account/billing/payment/method/add/views/billing-address/translations/Messages_es_ES.xml
  client/app/account/billing/translations/Messages_en_US.xml
  client/app/account/billing/translations/Messages_es_ES.xml
  client/app/account/billing/translations/Messages_it_IT.xml
  client/app/account/billing/translations/Messages_pt_PT.xml
  client/app/account/user/translations/Messages_es_ES.xml
  client/app/dedicated/housing/translations/Messages_de_DE.xml
  client/app/dedicated/housing/translations/Messages_es_ES.xml
  client/app/dedicated/housing/translations/Messages_it_IT.xml
  client/app/dedicated/nas/translations/Messages_es_ES.xml
  client/app/dedicated/server/display-name/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_it_IT.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
  client/app/dedicated/server/translations/Messages_pt_PT.xml
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_pt_PT.xml
Due: none

fix(license): translations option pack language
  client/app/license/translations/Messages_fr_FR.xml
Due: none

refactor(dedicated.server): removing useless controller
  client/app/dedicated/server/dashboard/dedicated-server-dashboard.routes.js
  client/app/dedicated/server/dedicated-server-tabs.controller.js
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/display-name/display-name.routes.js
  client/app/dedicated/server/dns/dedicated-server-dns.routes.js
  client/app/dedicated/server/firewall/dedicated-server-firewall.routes.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.routes.js
  client/app/dedicated/server/intervention/dedicated-server-intervention.routes.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.routes.js
  client/app/dedicated/server/monitoring/update/dedicated-server-monitoring-update.routes.js
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.routes.js
  client/app/dedicated/server/reboot/dedicated-server-reboot.routes.js
  client/app/dedicated/server/task/dedicated-server-task.routes.js
  client/app/dedicated/server/usb-storage/dedicated-server-usb-storage.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(server-mrtg): error on graph data load
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
Due: eslint --fix

refactor: remove legacies payment services and use ng-ovh-payment-method
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/mean/billing-mean.service.js
  client/app/account/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.controller.js
  client/app/account/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.html
  client/app/account/billing/paymentInformation/billing-paymentInformation.service.js
  client/app/account/billing/paymentMethod/billing-paymentMethod.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): retrieve
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
Due: none

feat(dedicated-cloud): use States to manage data retrieval
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.routes.js
  client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): display loader when state transitions
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): retrieve if service uses Agora
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

feat(constants): add Express URLs for all subs
  client/app/config/constants.config.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-backup): replace constant use
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter-datastore): refactor controller
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenter): rewrite `Controller` a bit
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-datastore): replace constant use
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter-host): rewrite `Controller`
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenters): rewrite `Controller`
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-host): replace constant use
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud-datacenters): replace constant use
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud): rewrite `Controller`
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(dedicated-cloud): remove deprecated feature
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud-dashboard): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(dedicated-cloud-dashboard): rewrite view
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
Due: htmlhint 'client/**/*.html'

refactor(dedicated-cloud): move constants to own file
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(dedicated-cloud): rewrite `Service` as `Class`
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(dedicated-cloud-licence-enable): rewrite `Config`
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(dedicated-cloud-license-enable): allow access to route outside US
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(dedicated-cloud-license): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

refactor(dedicated-cloud-license): rewrite some parts
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
  client/app/dedicatedCloud/license/dedicatedCloud-license.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): rewrite some messages
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

feat(dedicated-cloud): add default alert type
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-max-simultaneous-connection): remove label
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.html
Due: htmlhint 'client/**/*.html'

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
