Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(datacenter.drp): return correct status of order
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
Due: eslint --fix

feat(i18n): retrieve translations
  client/app/account/billing/payment/transactions/translations/Messages_de_DE.xml
  client/app/account/billing/payment/transactions/translations/Messages_es_ES.xml
  client/app/account/billing/payment/transactions/translations/Messages_it_IT.xml
  client/app/account/billing/payment/transactions/translations/Messages_pt_PT.xml
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.xml
  client/app/account/user/translations/Messages_fr_CA.xml
  client/app/dedicated/server/translations/Messages_cs_CZ.xml
  client/app/dedicated/server/translations/Messages_es_US.xml
  client/app/dedicated/server/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
Due: none

fix(*): temporarly disable order in US
  client/app/components/sidebar-menu/sidebar-menu.config.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/disable-order/disable-order.controller.js
  client/app/disable-order/disable-order.html
  client/app/disable-order/disable-order.routes.js
  client/app/disable-order/translations/Messages_cs_CZ.xml
  client/app/disable-order/translations/Messages_de_DE.xml
  client/app/disable-order/translations/Messages_en_ASIA.xml
  client/app/disable-order/translations/Messages_en_AU.xml
  client/app/disable-order/translations/Messages_en_CA.xml
  client/app/disable-order/translations/Messages_en_GB.xml
  client/app/disable-order/translations/Messages_en_SG.xml
  client/app/disable-order/translations/Messages_en_US.xml
  client/app/disable-order/translations/Messages_es_ES.xml
  client/app/disable-order/translations/Messages_es_US.xml
  client/app/disable-order/translations/Messages_fi_FI.xml
  client/app/disable-order/translations/Messages_fr_CA.xml
  client/app/disable-order/translations/Messages_fr_FR.xml
  client/app/disable-order/translations/Messages_it_IT.xml
  client/app/disable-order/translations/Messages_lt_LT.xml
  client/app/disable-order/translations/Messages_nl_NL.xml
  client/app/disable-order/translations/Messages_pl_PL.xml
  client/app/disable-order/translations/Messages_pt_PT.xml
  client/app/ip/ip/ip-ip.html
  client/app/license/license.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter.drp): fix id of cached zerto order
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
Due: eslint --fix

fix(datacenter.drp): filter pcc with drp active
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade ovh-module-exchange to v9.4.0
  package.json
  yarn.lock
Due: none

fix(datacenter.drp): fix empty state view if click on tab
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(datacenter.drp): improve modularity of code
  client/app/app.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routes.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: eslint --fix

release v10.14.0
  CHANGELOG.md
  package.json
Due: none

fix(i18n): retrieve translations
  client/app/account/billing/translations/Messages_de_DE.xml
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.xml
  client/app/account/user/translations/Messages_fr_CA.xml
  client/app/common/translations/Messages_nl_NL.xml
Due: none

fix(i18n): retrieve translations (#1042)
  client/app/account/billing/translations/Messages_de_DE.xml
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.xml
  client/app/account/user/translations/Messages_fr_CA.xml
  client/app/common/translations/Messages_nl_NL.xml
Due: none

fix(datacenter.drp): clear pccs list if error happens on step 2
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: eslint --fix

fix(datacenter.drp): fix correct length hosts value
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter.drp): replace svg pictures by correct ones
  client/app/images/drp/zerto-one-and-one-pcc.svg
  client/app/images/drp/zerto-two-pcc.svg
Due: none

fix(datacenter.drp): use of order status to display delivering message
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(datacenter.drp): use of lodash flatten method
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: eslint --fix

fix(i18n): submit
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
  client/app/ip/translations/Messages_fr_FR.xml
Due: none

fix(ip.order): fix price without taxes info
  client/app/ip/ip/order/durationsPCC.html
  client/app/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

refactor: PR review
  client/app/ip/ip/order/DEDICATED.html
  client/app/ip/ip/order/PCC.html
  client/app/ip/ip/order/VPS.html
  client/app/ip/ip/order/durations.html
  client/app/ip/ip/order/durationsPCC.html
  client/app/ip/ip/order/ip-ip-order.controller.js
  client/app/ip/ip/order/ip-ip-order.html
  client/app/ip/ip/order/ip-ip-order.service.js
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.controller.js
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter.drp): disable zerto for us
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(config): remove sk_SK from language constants
  client/app/config/constants.config.js
Due: eslint --fix

fix(config): remove sk_SK from language constants (#1045)
  client/app/config/constants.config.js
Due: eslint --fix

release v10.14.1
  CHANGELOG.md
  package.json
Due: none

fix(dedicatedcloud.security): fix missing translation
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(dedicatedcloud): add missing security translation (#1048)
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(ip.agora.order): fix links of called service and provider
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
Due: eslint --fix

fix(i18n): retrieve translations
  client/app/dedicatedCloud/translations/Messages_cs_CZ.xml
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/translations/Messages_es_US.xml
  client/app/dedicatedCloud/translations/Messages_fi_FI.xml
  client/app/dedicatedCloud/translations/Messages_fr_CA.xml
  client/app/dedicatedCloud/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_pt_PT.xml
  client/app/ip/translations/Messages_cs_CZ.xml
  client/app/ip/translations/Messages_de_DE.xml
  client/app/ip/translations/Messages_en_ASIA.xml
  client/app/ip/translations/Messages_en_AU.xml
  client/app/ip/translations/Messages_en_CA.xml
  client/app/ip/translations/Messages_en_GB.xml
  client/app/ip/translations/Messages_en_SG.xml
  client/app/ip/translations/Messages_en_US.xml
  client/app/ip/translations/Messages_es_ES.xml
  client/app/ip/translations/Messages_es_US.xml
  client/app/ip/translations/Messages_fi_FI.xml
  client/app/ip/translations/Messages_fr_CA.xml
  client/app/ip/translations/Messages_it_IT.xml
  client/app/ip/translations/Messages_lt_LT.xml
  client/app/ip/translations/Messages_nl_NL.xml
  client/app/ip/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_pt_PT.xml
Due: none

fix(i18n): retrieve translations (#1049)
  client/app/dedicatedCloud/translations/Messages_cs_CZ.xml
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/translations/Messages_es_US.xml
  client/app/dedicatedCloud/translations/Messages_fi_FI.xml
  client/app/dedicatedCloud/translations/Messages_fr_CA.xml
  client/app/dedicatedCloud/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_pt_PT.xml
  client/app/ip/translations/Messages_cs_CZ.xml
  client/app/ip/translations/Messages_de_DE.xml
  client/app/ip/translations/Messages_en_ASIA.xml
  client/app/ip/translations/Messages_en_AU.xml
  client/app/ip/translations/Messages_en_CA.xml
  client/app/ip/translations/Messages_en_GB.xml
  client/app/ip/translations/Messages_en_SG.xml
  client/app/ip/translations/Messages_en_US.xml
  client/app/ip/translations/Messages_es_ES.xml
  client/app/ip/translations/Messages_es_US.xml
  client/app/ip/translations/Messages_fi_FI.xml
  client/app/ip/translations/Messages_fr_CA.xml
  client/app/ip/translations/Messages_it_IT.xml
  client/app/ip/translations/Messages_lt_LT.xml
  client/app/ip/translations/Messages_nl_NL.xml
  client/app/ip/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_pt_PT.xml
Due: none

fix(datacenter.drp): remove debug remains
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
Due: htmlhint 'client/**/*.html'

docs(contributing): remove signed commit requirements
  CONTRIBUTING.md
Due: none

docs(contributing): remove signed commit requirements (#1051)
  CONTRIBUTING.md
Due: none

release v10.15.0
  CHANGELOG.md
  package.json
Due: none

fix(datacenter.drp): fix success message
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
Due: eslint --fix

fix(datacenter.drp): add security to filter creating services
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

fix(dedicatedcloud.datacenter.drp): display success message (#1057)
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
Due: eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
