Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor(dedicated-cloud-datacenters): rewrite `Controller`
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix

refactor(dedicated-cloud): rewrite `Controller`
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenters): replace constant use
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): remove deprecated feature
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-dashboard): rewrite view
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud-dashboard): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(dedicated-cloud): move constants to own file
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(dedicated-cloud-licence-enable): rewrite `Config`
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

refactor(dedicated-cloud): rewrite `Service` as `Class`
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

feat(dedicated-cloud-license-enable): allow access to route outside US
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(dedicated-cloud-license): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

refactor(dedicated-cloud-license): rewrite some parts
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
  client/app/dedicatedCloud/license/dedicatedCloud-license.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): rewrite some messages
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(dedicated-cloud): display error message with an error alert type
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
  client/app/dedicatedCloud/security/logout/dedicatedCloud-security-logout.controller.js
  client/app/dedicatedCloud/security/session-timeout/update/dedicatedCloud-security-session-timeout-update.controller.js
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.controller.js
  client/app/dedicatedCloud/user/delete/dedicatedCloud-user-delete.controller.js
  client/app/dedicatedCloud/user/disable/dedicatedCloud-user-disable.controller.js
  client/app/dedicatedCloud/user/enable/dedicatedCloud-user-enable.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

feat(dedicated-cloud): add default alert type
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-max-simultaneous-connection): remove label
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.html
Due: htmlhint 'client/**/*.html'

refactor(dedicated-cloud-datacenter-host-order-us): rewrite `Ctrl`
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

fix: URLs to Express Order
  client/app/config/constants.config.js
Due: eslint --fix

fix(dedicated-cloud-licence): fix text display
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud): add missing text
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

refactor(dedicated-cloud): move legacy resource upgrade to own folder
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/resource/legacyUpgrade/dedicatedCloud-resource-upgrade.controller.js
  client/app/dedicatedCloud/resource/legacyUpgrade/dedicatedCloud-resource-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): handle resource upgrade for new order API
  client/app/app.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/resource/upgrade/constant.js
  client/app/dedicatedCloud/resource/upgrade/controller.js
  client/app/dedicatedCloud/resource/upgrade/index.js
  client/app/dedicatedCloud/resource/upgrade/state.js
  client/app/dedicatedCloud/resource/upgrade/template.html
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud-resource-upgrade): refactor to class
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
  client/app/dedicatedCloud/resource/legacyUpgrade/dedicatedCloud-resource-upgrade.controller.js
  client/app/dedicatedCloud/resource/legacyUpgrade/dedicatedCloud-resource-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(app): reorder imports
  client/app/app.js
Due: eslint --fix

refactor(app): reorder module dependencies
  client/app/app.js
Due: eslint --fix

refactor(app): move 'Module.exchange' to dependencies array
  client/app/app.js
Due: eslint --fix

refactor(app): make 'Module.exchange' module a bit easier to import
  client/app/app.js
Due: eslint --fix

refactor(app): reindent and chain registers better
  client/app/app.js
Due: eslint --fix

refactor(app): move module dependencies directly to module declaration
  client/app/app.js
Due: eslint --fix

feat(activation-status): create ActivationStatus component
  client/app/dedicatedCloud/components/activationStatus/component.js
  client/app/dedicatedCloud/components/activationStatus/constants.js
  client/app/dedicatedCloud/components/activationStatus/controller.js
  client/app/dedicatedCloud/components/activationStatus/index.js
  client/app/dedicatedCloud/components/activationStatus/template.html
  client/app/dedicatedCloud/components/activationStatus/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(constants): add PCC documentation home address
  client/app/config/constants.config.js
Due: eslint --fix

feat(dedicated-cloud): add Stepper component and its header
  client/app/dedicatedCloud/components/stepper/component.js
  client/app/dedicatedCloud/components/stepper/constant.js
  client/app/dedicatedCloud/components/stepper/controller.js
  client/app/dedicatedCloud/components/stepper/header/component.js
  client/app/dedicatedCloud/components/stepper/header/constant.js
  client/app/dedicatedCloud/components/stepper/header/index.js
  client/app/dedicatedCloud/components/stepper/header/template.html
  client/app/dedicatedCloud/components/stepper/header/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/components/stepper/index.js
  client/app/dedicatedCloud/components/stepper/step.js
  client/app/dedicatedCloud/components/stepper/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud): move legacy dashboard to own folder
  client/app/dedicatedCloud/dashboard/legacy/template.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud): creation of a Legacy Dashboard component
  client/app/app.js
  client/app/app.routes.js
  client/app/dedicatedCloud/dashboard/legacy/component.js
  client/app/dedicatedCloud/dashboard/legacy/constant.js
  client/app/dedicatedCloud/dashboard/legacy/controller.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/template.html
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): remove reference to deprecated offer
  client/app/dedicatedCloud/dashboard/legacy/template.html
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud): replace use of deprecated serviceUsesAgora param
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

build: update uiRouter to latest version
  yarn.lock
Due: none

fix(dedicated-cloud): remove unused view
  client/app/dedicatedCloud/datacenter/1000-v/dedicatedCloud-datacenter-1000-v.html
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud): create dashboard for Agora products
  client/app/app.js
  client/app/dedicatedCloud/dashboard/main/component.js
  client/app/dedicatedCloud/dashboard/main/constants.js
  client/app/dedicatedCloud/dashboard/main/index.js
  client/app/dedicatedCloud/dashboard/main/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/component.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/component.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
