Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(selection): add margin between lines
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

feat(options): add new status
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/pendingOrderService.js
Due: eslint --fix

feat(options): handle option status per option
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/pendingOrderService.js
Due: eslint --fix

fix(selection.confirm): change text according to item type
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: fix rebase mistakes
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  client/app/dedicatedCloud/resource/upgrade/state.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter): handle newly created filers & hosts
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): fix eslint warnings
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

feat(options): add guides for all subs
  client/app/config/constants.config.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/option/service.js
  client/app/dedicatedCloud/security-options/dedicatedCloud-security-options.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

feat(options): only display Certifications when one is orderable
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): remove duplicate message
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html'

refactor: remove unused service
  client/app/app.js
  client/app/cdn/dedicated/cdn-dedicated.service.js
  client/app/cdn/dedicated/domain/cdn-dedicated-domain.service.js
  client/app/components/product/product.service.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/components/user/user.service.js
  client/app/dedicated/nas/nas.service.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

feat(order): allow resuming order at the correct place
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/state.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/component.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/service.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(user): respect password rules
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.controller.js
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud): remove reference to deprecated offer
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.controller.js
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): can order ressources in US again
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html'

fix(backup): restore functionality
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter): display error message
  client/app/dedicatedCloud/datacenter/delete/dedicatedCloud-datacenter-delete.controller.js
Due: eslint --fix

fix(security): display success message correctly
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
  client/app/dedicatedCloud/security/update/dedicatedCloud-security-update.controller.js
Due: eslint --fix

feat(user.password): display confirmation message
  client/app/dedicatedCloud/user/password/reset/dedicatedCloud-user-password-reset.controller.js
  client/app/dedicatedCloud/user/password/reset/dedicatedCloud-user-password-reset.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): correct link to Veeam presentation
  client/app/config/constants.config.js
Due: eslint --fix

fix(dashboard): duplicate error messages will display
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(options): display Certification is service has one
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(datacenter.disable): display error message correctly
  client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
Due: eslint --fix

fix(general-information.dashboard): add message when name was updated
  client/app/dedicatedCloud/dashboard/generalInformation/generalInformation.controller.js
Due: eslint --fix

build: bump ovh-api-services to 6.25.0
  package.json
  yarn.lock
Due: none

fix: fix yarn.lock
  yarn.lock
Due: none

build: bump "@ovh-ux/ng-ovh-sidebar-menu" to "8.2.0"
  package.json
  yarn.lock
Due: none

refactor: remove all usages of constants.target
  client/app/account/billing/main/billing-main.controller.js
  client/app/account/billing/main/billing-main.html
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/account/billing/main/history/billing-main-history.html
  client/app/account/billing/payment/billing-payment.controller.js
  client/app/account/billing/payment/billing-payment.html
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/license/order/agoraOrder/license-agoraOrder.service.js
  client/app/user-contracts/user-contracts.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter.backup): send legacy offer when outside the US
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
Due: eslint --fix

fix: add missing injections
  client/app/account/billing/main/billing-main.controller.js
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/components/name-edition/name-edition.controller.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/dedicated/server/dedicated-server-feature-availability.js
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.service.js
  client/app/dedicatedCloud/user/edit/dedicatedCloud-user-edit.controller.js
  client/app/ip/ip-feature-availability.js
  client/app/license/license-feature-availability.js
Due: eslint --fix

fix(upgrade): restore missing translations
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_fr_FR.json
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.2
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/account/billing/main/history/billing-main-history.routes.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.routes.js
Due: eslint --fix

fix(deps): upgrade ng-ovh-otrs to v7.1.2 (#1176)
  package.json
  yarn.lock
Due: none

release v10.17.15
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.4
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.4 (#1179)
  package.json
  yarn.lock
Due: none

fix(ip): improve popover positioning
  client/app/css/less/module/ip/ip.less
  client/app/ip/ip/ip-ip.html
  client/app/ip/ip/popover/ip.html
  client/app/ip/ip/popover/ipBlock.html
Due: htmlhint 'client/**/*.html', stylelint 'client/**/*.less' --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
