Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(deps): upgrade ng-at-internet to v4.0.0 (#1005)
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

feat(i18n): dedicated server new translations
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: none

feat(i18n): dedicated server new translations
  client/app/account/billing/translations/Messages_fr_FR.xml
  client/app/account/otrs/translations/Messages_fr_FR.xml
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
  client/app/dedicated/server/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

feat(i18n): retrieve translations
  client/app/cdn/dedicated/translations/Messages_cs_CZ.xml
  client/app/cdn/dedicated/translations/Messages_de_DE.xml
  client/app/cdn/dedicated/translations/Messages_en_ASIA.xml
  client/app/cdn/dedicated/translations/Messages_en_AU.xml
  client/app/cdn/dedicated/translations/Messages_en_CA.xml
  client/app/cdn/dedicated/translations/Messages_en_GB.xml
  client/app/cdn/dedicated/translations/Messages_en_SG.xml
  client/app/cdn/dedicated/translations/Messages_en_US.xml
  client/app/cdn/dedicated/translations/Messages_es_ES.xml
  client/app/cdn/dedicated/translations/Messages_es_US.xml
  client/app/cdn/dedicated/translations/Messages_fi_FI.xml
  client/app/cdn/dedicated/translations/Messages_fr_CA.xml
  client/app/cdn/dedicated/translations/Messages_it_IT.xml
  client/app/cdn/dedicated/translations/Messages_lt_LT.xml
  client/app/cdn/dedicated/translations/Messages_nl_NL.xml
  client/app/cdn/dedicated/translations/Messages_pl_PL.xml
  client/app/cdn/dedicated/translations/Messages_pt_PT.xml
  client/app/dedicated/server/translations/Messages_cs_CZ.xml
  client/app/dedicated/server/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_en_ASIA.xml
  client/app/dedicated/server/translations/Messages_en_AU.xml
  client/app/dedicated/server/translations/Messages_en_CA.xml
  client/app/dedicated/server/translations/Messages_en_GB.xml
  client/app/dedicated/server/translations/Messages_en_SG.xml
  client/app/dedicated/server/translations/Messages_en_US.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_es_US.xml
  client/app/dedicated/server/translations/Messages_fi_FI.xml
  client/app/dedicated/server/translations/Messages_fr_CA.xml
  client/app/dedicated/server/translations/Messages_it_IT.xml
  client/app/dedicated/server/translations/Messages_lt_LT.xml
  client/app/dedicated/server/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
  client/app/dedicated/server/translations/Messages_pt_PT.xml
Due: none

feat(dedicated-cloud): display loader when state transitions
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): use States to manage data retrieval
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.routes.js
  client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(constants): add Express URLs for all subs
  client/app/config/constants.config.js
Due: eslint --fix

feat(dedicated-cloud): retrieve if service uses Agora
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-backup): replace constant use
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud-datacenter-datastore): replace constant use
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter-datastore): refactor controller
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenter): rewrite `Controller` a bit
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenter-host): rewrite `Controller`
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-host): replace constant use
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenters): rewrite `Controller`
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix

refactor(dedicated-cloud): rewrite `Controller`
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenters): replace constant use
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): remove deprecated feature
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-dashboard): rewrite view
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud-dashboard): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(dedicated-cloud): move constants to own file
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(dedicated-cloud): rewrite `Service` as `Class`
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

feat(dedicated-cloud-license-enable): allow access to route outside US
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

refactor(dedicated-cloud-licence-enable): rewrite `Config`
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

refactor(dedicated-cloud-license): rewrite some parts
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
  client/app/dedicatedCloud/license/dedicatedCloud-license.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud-license): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

fix(dedicated-cloud): rewrite some messages
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

feat(dedicated-cloud): add default alert type
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(dedicated-cloud): display error message with an error alert type
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
  client/app/dedicatedCloud/security/logout/dedicatedCloud-security-logout.controller.js
  client/app/dedicatedCloud/security/session-timeout/update/dedicatedCloud-security-session-timeout-update.controller.js
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.controller.js
  client/app/dedicatedCloud/user/delete/dedicatedCloud-user-delete.controller.js
  client/app/dedicatedCloud/user/disable/dedicatedCloud-user-disable.controller.js
  client/app/dedicatedCloud/user/enable/dedicatedCloud-user-enable.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-max-simultaneous-connection): remove label
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.html
Due: htmlhint 'client/**/*.html'

refactor(dedicated-cloud-datacenter-host-order-us): rewrite `Ctrl`
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

fix: URLs to Express Order
  client/app/config/constants.config.js
Due: eslint --fix

fix(dedicated-cloud): add missing text
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

refactor(dedicated-cloud): move legacy resource upgrade to own folder
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/resource/legacyUpgrade/dedicatedCloud-resource-upgrade.controller.js
  client/app/dedicatedCloud/resource/legacyUpgrade/dedicatedCloud-resource-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud-licence): fix text display
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud-resource-upgrade): refactor to class
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
  client/app/dedicatedCloud/resource/legacyUpgrade/dedicatedCloud-resource-upgrade.controller.js
  client/app/dedicatedCloud/resource/legacyUpgrade/dedicatedCloud-resource-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): handle resource upgrade for new order API
  client/app/app.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/resource/upgrade/constant.js
  client/app/dedicatedCloud/resource/upgrade/controller.js
  client/app/dedicatedCloud/resource/upgrade/index.js
  client/app/dedicatedCloud/resource/upgrade/state.js
  client/app/dedicatedCloud/resource/upgrade/template.html
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(app): reorder imports
  client/app/app.js
Due: eslint --fix

fix(dedicated): fix splitted translations
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

refactor(app): reorder module dependencies
  client/app/app.js
Due: eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
