Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor: remove all usages of constants.target
  client/app/account/billing/main/billing-main.controller.js
  client/app/account/billing/main/billing-main.html
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/account/billing/main/history/billing-main-history.html
  client/app/account/billing/payment/billing-payment.controller.js
  client/app/account/billing/payment/billing-payment.html
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/license/order/agoraOrder/license-agoraOrder.service.js
  client/app/user-contracts/user-contracts.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: merge errors
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
Due: eslint --fix

fix(dashboard.options): add confirmation modal for options order
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(security): display success message correctly
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
  client/app/dedicatedCloud/security/update/dedicatedCloud-security-update.controller.js
Due: eslint --fix

refactor(license): rename legacy order
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enableLegacy.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enableLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

build: bump ovh-api-services
  yarn.lock
Due: none

feat(resource): allow order for all subsidiaries
  client/app/app.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/resource/upgrade/constants.js
  client/app/dedicatedCloud/resource/upgrade/controller.js
  client/app/dedicatedCloud/resource/upgrade/index.js
  client/app/dedicatedCloud/resource/upgrade/state.js
  client/app/dedicatedCloud/resource/upgrade/template.html
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

build: bump ui-router version
  package.json
  yarn.lock
Due: none

fix(selection): handle default service pack
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/translations/Messages_fr_FR.xml
Due: none

fix(confirm): add missing annotation
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
Due: eslint --fix

fix(datacenter.disable): display error message correctly
  client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
Due: eslint --fix

fix(options): handle expired order case
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

feat(backup.enable): remove option selection for outside US
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): remove surnumerary controller
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html'

refactor(resource.upgrade.state): import controller instead of its name
  client/app/dedicatedCloud/resource/upgrade/state.js
Due: eslint --fix

feat(license.enable): fetch contracts from API
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.html
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dashboard.options): fix empty options if order is ok
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(backup): correct link to Veeam presentation
  client/app/config/constants.config.js
Due: eslint --fix

refactor(host): rename order funnel
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.routes.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(backup.enable-agora): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
Due: eslint --fix

fix(selection): hide message about default means of payment when paying
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

fix(tiles.options): display appropriate text for update menu button
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

feat(datacenter): add constants about element types
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
Due: eslint --fix

feat(datacenter): handle hourly consumption for Agora hosts
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.service.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.service.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(backup): prevent activation if no spla licence
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dashboard.options.order): change button text if one step only
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud): fix eslint warnings
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

feat(dedicated-cloud): resolve current service
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(resource.legacy): rename controller
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(veeam): add text about Veeam billing
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: remove unused service
  client/app/app.js
  client/app/cdn/dedicated/cdn-dedicated.service.js
  client/app/cdn/dedicated/domain/cdn-dedicated-domain.service.js
  client/app/components/product/product.service.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/components/user/user.service.js
  client/app/dedicated/nas/nas.service.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

feat(options): add new status
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/pendingOrderService.js
Due: eslint --fix

style(datastore): change indentation
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
Due: eslint --fix

refactor(backup.enable): rename legacy funnel
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(license.enable): move legacy files to dedicated folder
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(backup.enable): rename legacy funnel
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: remove constants for angular modules name logic
  client/app/dedicatedCloud/dashboard/legacy/component.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/main/constants.js
  client/app/dedicatedCloud/dashboard/main/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/state.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/constant.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/header/constant.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/header/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/preference/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/preference/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/option/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/option/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/index.js
Due: eslint --fix

fix(options.order): have all options have the same height and width
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/style.less
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(datastore): allow ordering for all subsidiaries
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html'

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
