Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(dedicated-cloud): display error message with an error alert type
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
  client/app/dedicatedCloud/security/logout/dedicatedCloud-security-logout.controller.js
  client/app/dedicatedCloud/security/session-timeout/update/dedicatedCloud-security-session-timeout-update.controller.js
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.controller.js
  client/app/dedicatedCloud/user/delete/dedicatedCloud-user-delete.controller.js
  client/app/dedicatedCloud/user/disable/dedicatedCloud-user-disable.controller.js
  client/app/dedicatedCloud/user/enable/dedicatedCloud-user-enable.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenter-host-order-us): rewrite `Ctrl`
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

fix: URLs to Express Order
  client/app/config/constants.config.js
Due: eslint --fix

fix(dedicated-cloud): add missing text
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(dedicated-cloud-licence): fix text display
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud-datacenter-datastore): replace constant use
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html'

refactor(dedicated-cloud-datacenter-host): rewrite `Controller`
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud-dashboard): remove security options tile
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
Due: htmlhint 'client/**/*.html'

refactor(dedicated-cloud-license): rewrite some parts
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

refactor(dedicated-cloud-dashboard): rename options tile
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

refactor(name-edition): rewrite lightly
  client/app/components/name-edition/name-edition.controller.js
Due: eslint --fix

fix(name-edition): return the name updating promise
  client/app/components/name-edition/name-edition.controller.js
Due: eslint --fix

feat(name-edition): close modale in all cases
  client/app/components/name-edition/name-edition.controller.js
Due: eslint --fix

feat(dedicated-cloud-dashboard): export to Component
  client/app/app.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.bindings.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.component.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.controller.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/dashboard/index.js
  client/app/dedicatedCloud/dedicatedCloud-options.service.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud-change-options): create Component
  client/app/app.js
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.bindings.js
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.component.js
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.controller.js
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.html
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.routes.js
  client/app/dedicatedCloud/change-options/index.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.controller.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/dedicatedCloud-options.service.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(*): use components
  client/app/app.js
  client/app/dedicatedCloud/certification-activation/component.js
  client/app/dedicatedCloud/certification-activation/controller.js
  client/app/dedicatedCloud/certification-activation/index.js
  client/app/dedicatedCloud/certification-activation/template.html
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.bindings.js
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.component.js
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.controller.js
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.html
  client/app/dedicatedCloud/change-options/dedicatedCloud-change-options.routes.js
  client/app/dedicatedCloud/change-options/index.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.bindings.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.component.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.controller.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.index.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.template.html
  client/app/dedicatedCloud/dashboard/index.js
  client/app/dedicatedCloud/dedicatedCloud-options.service.js
  client/app/dedicatedCloud/dedicatedCloud-order.service.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/servicePackManagement/activation/component.js
  client/app/dedicatedCloud/servicePackManagement/activation/controller.js
  client/app/dedicatedCloud/servicePackManagement/activation/index.js
  client/app/dedicatedCloud/servicePackManagement/activation/template.html
  client/app/dedicatedCloud/servicePackManagement/dedicatedCloud-option.constants.js
  client/app/dedicatedCloud/servicePackManagement/servicePack/dedicatedCloud-servicePack.index.js
  client/app/dedicatedCloud/servicePackManagement/servicePack/dedicatedCloud-servicePack.js
  client/app/dedicatedCloud/servicePackManagement/servicePack/dedicatedCloud-servicePack.service.js
  client/app/dedicatedCloud/servicePackManagement/servicePackOption/dedicatedCloud-servicePackOption.index.js
  client/app/dedicatedCloud/servicePackManagement/servicePackOption/dedicatedCloud-servicePackOption.js
  client/app/dedicatedCloud/servicePackManagement/servicePackOption/dedicatedCloud-servicePackOption.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): add activationStatus component
  client/app/app.js
  client/app/components/activationStatus/component.js
  client/app/components/activationStatus/constants.js
  client/app/components/activationStatus/controller.js
  client/app/components/activationStatus/index.js
  client/app/components/activationStatus/template.html
  client/app/components/activationStatus/translations/Messages_cs_CZ.xml
  client/app/components/activationStatus/translations/Messages_de_DE.xml
  client/app/components/activationStatus/translations/Messages_en_ASIA.xml
  client/app/components/activationStatus/translations/Messages_en_AU.xml
  client/app/components/activationStatus/translations/Messages_en_CA.xml
  client/app/components/activationStatus/translations/Messages_en_GB.xml
  client/app/components/activationStatus/translations/Messages_en_SG.xml
  client/app/components/activationStatus/translations/Messages_en_US.xml
  client/app/components/activationStatus/translations/Messages_es_ES.xml
  client/app/components/activationStatus/translations/Messages_es_US.xml
  client/app/components/activationStatus/translations/Messages_fi_FI.xml
  client/app/components/activationStatus/translations/Messages_fr_CA.xml
  client/app/components/activationStatus/translations/Messages_fr_FR.xml
  client/app/components/activationStatus/translations/Messages_it_IT.xml
  client/app/components/activationStatus/translations/Messages_lt_LT.xml
  client/app/components/activationStatus/translations/Messages_nl_NL.xml
  client/app/components/activationStatus/translations/Messages_pl_PL.xml
  client/app/components/activationStatus/translations/Messages_pt_PT.xml
  client/app/dedicatedCloud/dashboard/controller.js
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dashboard/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/servicePack/option/constants.js
  client/app/dedicatedCloud/servicePack/option/dedicatedCloud-servicePack-option.js
  client/app/dedicatedCloud/servicePack/option/service.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(*): shorten some file names
  client/app/app.js
  client/app/dedicatedCloud/dashboard/component.js
  client/app/dedicatedCloud/dashboard/controller.js
  client/app/dedicatedCloud/dashboard/index.js
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/servicePack/basicOptionActivation/component.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/dedicatedCloud-servicePack-basicOptionActivation.component.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/index.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/service.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/state.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/template.html
  client/app/dedicatedCloud/servicePack/certificationActivation/controller.js
  client/app/dedicatedCloud/servicePack/certificationActivation/requiredConfiguration/controller.js
  client/app/dedicatedCloud/servicePack/certificationActivation/requiredConfiguration/state.js
  client/app/dedicatedCloud/servicePack/certificationActivation/requiredConfiguration/template.html
  client/app/dedicatedCloud/servicePack/certificationActivation/service.js
  client/app/dedicatedCloud/servicePack/certificationActivation/smsActivation/controller.js
  client/app/dedicatedCloud/servicePack/certificationActivation/smsActivation/index.js
  client/app/dedicatedCloud/servicePack/certificationActivation/smsActivation/state.js
  client/app/dedicatedCloud/servicePack/certificationActivation/smsActivation/template.html
  client/app/dedicatedCloud/servicePack/index.js
  client/app/dedicatedCloud/servicePack/option/constants.js
  client/app/dedicatedCloud/servicePack/option/index.js
  client/app/dedicatedCloud/servicePack/option/service.js
  client/app/dedicatedCloud/servicePack/service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): enhance basic option ordering
  client/app/components/activationStatus/constants.js
  client/app/components/activationStatus/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/servicePack/basicOptionActivation/controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/component.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/index.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/state.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/template.html
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_cs_CZ.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_en_US.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_es_US.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_fi_FI.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_fr_CA.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/translations/Messages_pt_PT.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(*): display alert messages correctly
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/confirmation/component.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/confirmation/controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/confirmation/state.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/confirmation/template.html
  client/app/dedicatedCloud/servicePack/basicOptionActivation/confirmation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/component.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/state.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/summary/component.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/summary/controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/summary/state.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/summary/template.html
  client/app/dedicatedCloud/servicePack/basicOptionActivation/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-dashboard): transfert text to text files
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dashboard/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

refactor(dedicated-cloud-dashboard): use ui-kit icons
  client/app/dedicatedCloud/dashboard/template.html
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud-service-pack): enhance accessibility
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dashboard/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/basicOptionActivation/summary/controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/template.html
  client/app/dedicatedCloud/servicePack/certificationActivation/template.html
  client/app/dedicatedCloud/servicePack/translations/Messages_cs_CZ.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_en_US.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_es_US.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_fi_FI.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_fr_CA.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/servicePack/translations/Messages_pt_PT.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(stepper): make Stepper work
  client/app/components/stepper/controller.js
  client/app/dedicatedCloud/servicePack/certificationActivation/constants.js
  client/app/dedicatedCloud/servicePack/certificationActivation/index.js
  client/app/dedicatedCloud/servicePack/certificationActivation/selection/component.js
  client/app/dedicatedCloud/servicePack/certificationActivation/selection/controller.js
  client/app/dedicatedCloud/servicePack/certificationActivation/selection/step.js
Due: eslint --fix

refactor(dedicated-cloud): optimize loading time
  client/app/app.controller.js
  client/app/app.html
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/confirmation/state.js
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/state.js
  client/app/dedicatedCloud/servicePack/certificationActivation/confirmation/state.js
  client/app/dedicatedCloud/servicePack/certificationActivation/requiredConfiguration/state.js
  client/app/dedicatedCloud/servicePackActivation/confirmation/state.js
  client/app/dedicatedCloud/servicePackActivation/requiredConfiguration/state.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): make confirmation step work with new Stepper
  client/app/components/stepper/controller.js
  client/app/components/stepper/template.html
  client/app/dedicatedCloud/dashboard/controller.js
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/servicePack/certificationActivation/requiredConfiguration/template.html
  client/app/dedicatedCloud/servicePackActivation/confirmation/constants.js
  client/app/dedicatedCloud/servicePackActivation/confirmation/controller.js
  client/app/dedicatedCloud/servicePackActivation/confirmation/state.js
  client/app/dedicatedCloud/servicePackActivation/confirmation/step.js
  client/app/dedicatedCloud/servicePackActivation/confirmation/template.html
  client/app/dedicatedCloud/servicePackActivation/confirmation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePackActivation/home/constants.js
  client/app/dedicatedCloud/servicePackActivation/home/controller.js
  client/app/dedicatedCloud/servicePackActivation/home/index.js
  client/app/dedicatedCloud/servicePackActivation/home/template.html
  client/app/dedicatedCloud/servicePackActivation/home/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePackActivation/requiredConfiguration/controller.js
  client/app/dedicatedCloud/servicePackActivation/requiredConfiguration/state.js
  client/app/dedicatedCloud/servicePackActivation/requiredConfiguration/step.js
  client/app/dedicatedCloud/servicePackActivation/selection/component.js
  client/app/dedicatedCloud/servicePackActivation/selection/constants.js
  client/app/dedicatedCloud/servicePackActivation/selection/index.js
  client/app/dedicatedCloud/servicePackActivation/selection/state.js
  client/app/dedicatedCloud/servicePackActivation/selection/step.js
  client/app/dedicatedCloud/servicePackActivation/selection/template.html
  client/app/dedicatedCloud/servicePackActivation/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePackActivation/smsActivation/step.js
  client/app/dedicatedCloud/servicePackActivation/summary/step.js
Due: htmlhint 'client/**/*.html', eslint --fix

build(dedicated-cloud): before presentation
  client/app/dedicatedCloud/servicePack/basicOptionActivation/selection/template.html
  client/app/dedicatedCloud/servicePack/basicOptionActivation/summary/template.html
  client/app/dedicatedCloud/servicePackActivation/confirmation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePackActivation/requiredConfiguration/step.js
  client/app/dedicatedCloud/servicePackActivation/requiredConfiguration/template.html
  client/app/dedicatedCloud/servicePackActivation/requiredConfiguration/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePackActivation/selection/template.html
  client/app/dedicatedCloud/servicePackActivation/smsActivation/template.html
  client/app/dedicatedCloud/servicePackActivation/smsActivation/translations/Messages_fr_FR.xml
  client/app/ip/ip/order/ip-ip-order.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): display price
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/servicePack/home/component.js
  client/app/dedicatedCloud/servicePack/home/state.js
  client/app/dedicatedCloud/servicePack/selection/component.js
  client/app/dedicatedCloud/servicePack/selection/controller.js
  client/app/dedicatedCloud/servicePack/selection/state.js
  client/app/dedicatedCloud/servicePack/selection/template.html
  client/app/dedicatedCloud/servicePack/service.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): restore delete function
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(ip): turn Controller into a Class
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
Due: eslint --fix

fix(billing): track billing
  client/app/account/billing/main/history/debt/pay/billing-main-history-debt-pay.controller.js
Due: eslint --fix

feat(dedicated.server): disable header tabs if service is expired (#978)
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dashboard/dedicated-server-dashboard.routes.js
  client/app/dedicated/server/dedicated-server-tabs.controller.js
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/display-name/display-name.routes.js
  client/app/dedicated/server/dns/dedicated-server-dns.routes.js
  client/app/dedicated/server/firewall/dedicated-server-firewall.routes.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.routes.js
  client/app/dedicated/server/intervention/dedicated-server-intervention.routes.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.routes.js
  client/app/dedicated/server/monitoring/update/dedicated-server-monitoring-update.routes.js
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.routes.js
  client/app/dedicated/server/reboot/dedicated-server-reboot.routes.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
  client/app/dedicated/server/task/dedicated-server-task.html
  client/app/dedicated/server/task/dedicated-server-task.routes.js
  client/app/dedicated/server/usb-storage/dedicated-server-usb-storage.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
