Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(dedicated-cloud-security-logout): display error messages correctly
  client/app/dedicatedCloud/security/logout/dedicatedCloud-security-logout.controller.js
Due: eslint --fix

refactor(dedicated-cloud-security-access): enhance the codebase also import Lodash that was missing before
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-logout): remove globally exposed class
  client/app/dedicatedCloud/security/logout/dedicatedCloud-security-logout.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-access): return Promise
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-access): display error messages correctly
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
Due: eslint --fix

refactor(1000v): remove unused code
  client/app/common/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/1000-v/dedicatedCloud-datacenter-1000-v.html
  client/app/images/btn/Icone-btn-1000v.png
  client/app/ip/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud-security-access): remove globally exposed class
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
Due: eslint --fix

fix(dedicated-cloud-user-add): remove confusing sentence
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.html
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud-user): remove irrelevant semi-colon
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(dedicated-cloud-user-delete): display success message correctly
  client/app/dedicatedCloud/user/delete/dedicatedCloud-user-delete.controller.js
Due: eslint --fix

fix(dedicated-cloud-user): display menu only if action is possible
  client/app/dedicatedCloud/user/dedicatedCloud-user.html
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud-security-timeout): fix wording
  client/app/dedicatedCloud/security/session-timeout/update/dedicatedCloud-security-session-timeout-update.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud-security-max): rewrite text
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(dedicated-cloud-security-access): rewrite text
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(dedicated-cloud-security-logout): rewrite text
  client/app/dedicatedCloud/security/dedicatedCloud-security.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(dedicated-cloud): remove deprecated notification
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
Due: htmlhint 'client/**/*.html', eslint --fix

style(dedicated-cloud): change indentation
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

refactor(dedicated-cloud): turn into class
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(dedicated-cloud): close alert message successfully
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud-security): reword button texts
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

style(dedicated-cloud-security-add): change indentation
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
Due: eslint --fix

refactor(dedicated-cloud-security-add): turn into class
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
Due: eslint --fix

refactor(dedicated-cloud-security-add): add $onInit function
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-add): use Promise better
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
Due: eslint --fix

style(dedicated-cloud-security-add): reorder injections alphabetically
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-add): display error message correctly
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
Due: eslint --fix

fix(dedicated-cloud-security): menu is displayed only when actions
  client/app/dedicatedCloud/security/dedicatedCloud-security.html
Due: htmlhint 'client/**/*.html'

feat(i18n): retrieve translations
  client/app/account/billing/translations/Messages_cs_CZ.xml
  client/app/account/billing/translations/Messages_de_DE.xml
  client/app/account/billing/translations/Messages_en_ASIA.xml
  client/app/account/billing/translations/Messages_en_AU.xml
  client/app/account/billing/translations/Messages_en_CA.xml
  client/app/account/billing/translations/Messages_en_GB.xml
  client/app/account/billing/translations/Messages_en_SG.xml
  client/app/account/billing/translations/Messages_en_US.xml
  client/app/account/billing/translations/Messages_es_ES.xml
  client/app/account/billing/translations/Messages_es_US.xml
  client/app/account/billing/translations/Messages_fi_FI.xml
  client/app/account/billing/translations/Messages_fr_CA.xml
  client/app/account/billing/translations/Messages_it_IT.xml
  client/app/account/billing/translations/Messages_lt_LT.xml
  client/app/account/billing/translations/Messages_nl_NL.xml
  client/app/account/billing/translations/Messages_pl_PL.xml
  client/app/account/billing/translations/Messages_pt_PT.xml
Due: none

release v10.13.1
  CHANGELOG.md
  package.json
Due: none

feat(dedicated.server): temporarly disable resiliation for new range
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/terminate/dedicated-server-terminate.controller.js
  client/app/dedicated/server/terminate/dedicated-server-terminate.html
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(user.enable): add method to
  client/app/dedicatedCloud/user/enable/dedicatedCloud-user-enable.controller.js
Due: eslint --fix

fix(dedicated-cloud): add missing annotations
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
  client/app/dedicatedCloud/security/add/dedicatedCloud-security-add.controller.js
  client/app/dedicatedCloud/security/logout/dedicatedCloud-security-logout.controller.js
  client/app/dedicatedCloud/security/session-timeout/update/dedicatedCloud-security-session-timeout-update.controller.js
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.controller.js
  client/app/dedicatedCloud/user/delete/dedicatedCloud-user-delete.controller.js
  client/app/dedicatedCloud/user/disable/dedicatedCloud-user-disable.controller.js
  client/app/dedicatedCloud/user/enable/dedicatedCloud-user-enable.controller.js
Due: eslint --fix

fix(security): fix typo
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix: remove tags in text
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(dedicated.server): edit display name
  client/app/dedicated/server/dedicated-server.html
Due: htmlhint 'client/**/*.html'

release v10.13.2
  CHANGELOG.md
  package.json
Due: none

fix(i18n): retrieve
  client/app/account/otrs/translations/Messages_en_ASIA.xml
  client/app/account/otrs/translations/Messages_en_AU.xml
  client/app/account/otrs/translations/Messages_en_GB.xml
  client/app/account/otrs/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_cs_CZ.xml
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/translations/Messages_es_US.xml
  client/app/dedicatedCloud/translations/Messages_fi_FI.xml
  client/app/dedicatedCloud/translations/Messages_fr_CA.xml
  client/app/dedicatedCloud/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_pt_PT.xml
Due: none

release v10.13.3
  CHANGELOG.md
  package.json
Due: none

style(dedicated-cloud-dedicated): change indentation
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
