Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

refactor(billing.mean): create child state for payment mean addition
  client/app/account/billing/autoRenew/billing-autoRenew.constants.js
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/account/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.html
  client/app/account/billing/autoRenew/warnPendingDebt/billing-autoRenew-warnPendingDebt.html
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/main/history/balance/billing-history-balance.controller.js
  client/app/account/billing/main/history/balance/billing-history-balance.html
  client/app/account/billing/mean/billing-mean.html
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.6.3
  CHANGELOG.md
  package.json
Due: none

refactor(components.tabs): move to dedicatedUniverseComponents
  client/app/components/directives.module.js
  client/app/components/tabs/tabs.directive.js
  client/app/dedicated/housing/dedicated-housing.html
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicatedUniverseComponents/index.js
  client/app/dedicatedUniverseComponents/tabs/index.js
  client/app/dedicatedUniverseComponents/tabs/tabs.directive.js
  client/app/dedicatedUniverseComponents/tabs/tabs.html
  client/app/dedicatedUniverseComponents/tabs/translations/Messages_fr_FR.xml
  client/app/ip/ip.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.notification): move to dedicatedUniverseComponent
  client/app/components/notification/notification.service.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedUniverseComponents/index.js
  client/app/dedicatedUniverseComponents/notification/index.js
  client/app/dedicatedUniverseComponents/notification/notification.service.js
Due: eslint --fix

refactor(components.loader): replace loader by oui-spinner
  client/app/account/user/contacts/request/received/user-contacts-request-received.html
  client/app/account/user/contacts/request/send/user-contacts-request-send.html
  client/app/account/user/contacts/update/user-contacts-update.html
  client/app/components/loader/loader.directive.js
  client/app/components/loader/loader.html
  client/app/ip/ip/antispam/ip-ip-antispam.html
  client/app/ip/ip/mitigation/statistics/ip-ip-mitigation-statistics.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(navbar.tracking): track universe change
  client/app/configuration/configuration.routes.js
Due: eslint --fix

fix(deps): upgrade ovh-angular-sidebar-menu to v.7.2.2
  package.json
  yarn.lock
Due: none

fix(account.user.security.sms): re-enable sms
  client/app/account/user/security/sms/user-security-sms.service.js
Due: eslint --fix

v10.6.4
  CHANGELOG.md
  package.json
Due: none

release v10.6.5
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.server): dashboard refresh on status error
  client/app/dedicated/server/dedicated-server.controller.js
Due: eslint --fix

release v10.6.6
  CHANGELOG.md
  package.json
Due: none

feat(billing): disable autorenew if there is no valid payment mean
  client/app/account/billing/autoRenew/billing-autoRenew.constants.js
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/account/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.html
  client/app/account/billing/autoRenew/warnPendingDebt/billing-autoRenew-warnPendingDebt.html
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/main/history/balance/billing-history-balance.controller.js
  client/app/account/billing/main/history/balance/billing-history-balance.html
  client/app/account/billing/mean/billing-mean.html
  client/app/account/billing/translations/Messages_fr_FR.xml
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

style(dedicatedcloud): add missing comma
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(dedicatedcloud): remove duplicate error messages
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/security/dedicatedCloud-security.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

fix(i18n): submit translations
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: none

fix(modal-bg-fix): fix modal background
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

release v10.7.0
  CHANGELOG.md
  package.json
Due: none

fix(billing.mean): change message for payment mean addition
  client/app/account/billing/mean/add/billing-mean-add.controller.js
  client/app/account/billing/mean/add/billing-mean-add.html
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(license.order): move to agora
  client/app/license/license-feature-availability.js
  client/app/license/order/agoraOrder/license-agoraOrder.service.js
Due: eslint --fix

fix(dedicated.server.dashboard): prevent displaying modal as background
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

fix(dedicatedcloud): restore dashboard alert
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

release v10.7.1
  CHANGELOG.md
  package.json
Due: none

fix(billing.mean): prevent default mean choice if there is none
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/mean/add/billing-mean-add.controller.js
  client/app/account/billing/mean/add/billing-mean-add.html
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

style(billing.mean): rename controller
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/mean/add/billing-mean-add.controller.js
Due: eslint --fix

feat(billing): add new payment method pages
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/main/history/balance/billing-history-balance.controller.js
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  client/app/account/billing/payment/method/default/billing-payment-method-default.controller.js
  client/app/account/billing/payment/method/default/billing-payment-method-default.html
  client/app/account/billing/payment/method/default/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.controller.js
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.html
  client/app/account/billing/payment/method/delete/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.controller.js
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.html
  client/app/account/billing/payment/method/edit/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/transactions/billing-payment-transactions.controller.js
  client/app/account/billing/payment/transactions/billing-payment-transactions.html
  client/app/account/billing/payment/transactions/billing-payment-transactions.routes.js
  client/app/account/billing/payment/transactions/translations/Messages_fr_FR.xml
  client/app/account/billing/paymentMethod/billing-paymentMethod.service.js
  client/app/app.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/components/user/session/user-session.service.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(package.json): use start:eu as default start script
  package.json
Due: none

fix(nas.order): missing injection
  client/app/dedicated/nas/order/nas-order.controller.js
Due: eslint --fix

release v10.7.2
  CHANGELOG.md
  package.json
Due: none

fix(license.agora): cart deletion
  client/app/license/order/agoraOrder/license-agoraOrder.service.js
Due: eslint --fix
