Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(dedicated.server.interfaces): apply style on step checker
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/ola.controller.js
  client/app/dedicated/server/interfaces/ola/ola.routing.js
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.interfaces): create ola class
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola.class.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.interfaces): create modal for ola activation
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.component.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.html
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.module.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.routing.js
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.constants.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.module.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.routing.js
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/ola.module.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: move all bandwidth modals to components+states
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.controller.js
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth-legacy/order-public/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth-legacy/order-public/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth-vrack/cancel/dedicated-server-bandwidth-vrack-cancel.html
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.controller.js
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/bandwidth/cancel-private/dedicated-server-bandwidth-vrack-cancel.component.js
  client/app/dedicated/server/bandwidth/cancel-private/dedicated-server-bandwidth-vrack-cancel.controller.js
  client/app/dedicated/server/bandwidth/cancel-private/dedicated-server-bandwidth-vrack-cancel.html
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.component.js
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.controller.js
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.html
  client/app/dedicated/server/bandwidth/cancel/dedicated-server-bandwidth-cancel.controller.js
  client/app/dedicated/server/bandwidth/cancel/dedicated-server-bandwidth-cancel.html
  client/app/dedicated/server/bandwidth/dedicated-server-bandwidth-vrack-order.service.js
  client/app/dedicated/server/bandwidth/dedicated-server-bandwidth.module.js
  client/app/dedicated/server/bandwidth/dedicated-server-bandwitdh.routing.js
  client/app/dedicated/server/bandwidth/order-private/dedicated-server-bandwidth-vrack.component.js
  client/app/dedicated/server/bandwidth/order-private/dedicated-server-bandwidth-vrack.controller.js
  client/app/dedicated/server/bandwidth/order-private/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/bandwidth/order-public/dedicated-server-bandwidth-order.component.js
  client/app/dedicated/server/bandwidth/order-public/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth/order-public/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwitdh-order.routing.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server.interfaces): add missing ngInject
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.controller.js
  client/app/dedicated/server/interfaces/interfaces.service.js
Due: eslint --fix

fix: staging review
  client/app/app.less
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola.class.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat: interface renaming modal
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.component.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.controller.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.html
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: go to IP panel
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html'

fix: remove ipfo menu item
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html'

fix: code review
  client/app/app.less
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(WIP): attach to a vrack
  client/app/dedicated/server/interfaces/attach/interfaces-attach.component.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.controller.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix: code review
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
Due: htmlhint 'client/**/*.html', eslint --fix

style(ip): remove commented code
  client/app/ip/ip/block/move/ip-ip-block-move.controller.js
Due: eslint --fix

fix(pcc): remove duplicate error messages
  client/app/components/name-edition/name-edition.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/mailing-list/subscribe/dedicatedCloud-mailing-list-subscribe.controller.js
  client/app/dedicatedCloud/operation/dedicatedCloud-operation.controller.js
  client/app/dedicatedCloud/resource/upgrade/upgrade.controller.js
  client/app/dedicatedCloud/security-options/dedicatedCloud-security-option-order.controller.js
  client/app/dedicatedCloud/security-options/dedicatedCloud-security-options.controller.js
  client/app/dedicatedCloud/terminate/confirm/dedicatedCloud-terminate-confirm.controller.js
  client/app/dedicatedCloud/terminate/dedicatedCloud-terminate.controller.js
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.controller.js
  client/app/dedicatedCloud/user/dedicatedCloud-user.html
  client/app/dedicatedCloud/user/edit/dedicatedCloud-user-edit.controller.js
  client/app/dedicatedCloud/user/password/reset/dedicatedCloud-user-password-reset.controller.js
  client/app/dedicatedCloud/vmware-option/disable/dedicatedCloud-vmware-option-disable.controller.js
  client/app/dedicatedCloud/vmware-option/order/dedicatedCloud-vmware-option-order.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc-dashboard-general-information): move files
  client/app/dedicatedCloud/dashboard/tiles/general-information/general-information.component.js
  client/app/dedicatedCloud/dashboard/tiles/general-information/general-information.controller.js
  client/app/dedicatedCloud/dashboard/tiles/general-information/general-information.html
  client/app/dedicatedCloud/dashboard/tiles/general-information/index.js
  client/app/dedicatedCloud/dashboard/tiles/general-information/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/dashboard/tiles/generalInformation/controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc-dashboard-service-management): move files
  client/app/dedicatedCloud/dashboard/tiles/service-management/index.js
  client/app/dedicatedCloud/dashboard/tiles/service-management/service-management.component.js
  client/app/dedicatedCloud/dashboard/tiles/service-management/service-management.html
  client/app/dedicatedCloud/dashboard/tiles/service-management/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc-dashboard): refactor margin usage
  client/app/dedicatedCloud/dashboard/dashboard.html
Due: htmlhint 'client/**/*.html'

refactor(pcc-stepper): export into own component
  client/app/components/stepper/components/button/navigation-button.component.js
  client/app/components/stepper/components/button/navigation-button.constants.js
  client/app/components/stepper/components/button/navigation-button.controller.js
  client/app/components/stepper/components/button/navigation-button.html
  client/app/components/stepper/components/button/translations/Messages_fr_FR.json
  client/app/components/stepper/components/header/header.component.js
  client/app/components/stepper/components/header/header.html
  client/app/components/stepper/components/header/index.js
  client/app/components/stepper/components/header/translations/Messages_fr_FR.json
  client/app/components/stepper/index.js
  client/app/components/stepper/step/step.constants.js
  client/app/components/stepper/step/step.header.js
  client/app/components/stepper/step/step.js
  client/app/components/stepper/step/step.navigation.js
  client/app/components/stepper/stepper.component.js
  client/app/components/stepper/stepper.controller.js
  client/app/components/stepper/stepper.html
  client/app/components/stepper/stepper.navigation.js
  client/app/components/stepper/stepper.state-management.js
  client/app/components/stepper/stepper.step-collection.js
  client/app/components/stepper/stepper.transition-management.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/component.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/component.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc-dashboard-options): display order status more accurate
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/options/activationStatus/activationStatus.component.js
  client/app/dedicatedCloud/dashboard/options/activationStatus/activationStatus.html
  client/app/dedicatedCloud/dashboard/options/index.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/index.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/index.js
  client/app/dedicatedCloud/dashboard/options/preference/preference.constants.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.component.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.constants.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.controller.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.html
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.less
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/basic-option.component.js
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/basic-option.html
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/certification.component.js
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/certification.html
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/options-description.service.js
  client/app/dedicatedCloud/dashboard/tiles/options/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/bindings/bindings.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/order/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/order/order.constants.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/order/order.service.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/user/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/user/user.service.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.component.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.constants.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.controller.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.html
  client/app/dedicatedCloud/dashboard/tiles/options/options.service.js
  client/app/dedicatedCloud/dashboard/tiles/options/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(pcc-service-pack): create picker component
  client/app/dedicatedCloud/dashboard/options/order/options.component.js
  client/app/dedicatedCloud/service-pack/components/picker/index.js
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.component.js
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.controller.js
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.html
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.less
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor(pcc-service-pack-option): remove deprecated type of SP
  client/app/dedicatedCloud/service-pack/option/option.constants.js
Due: eslint --fix

feat(pcc-service-pack-upgrade): export upgrade types into components
  client/app/dedicatedCloud/dashboard/options/order/options.controller.js
  client/app/dedicatedCloud/service-pack/service-pack.service.js
  client/app/dedicatedCloud/service-pack/upgrade/index.js
  client/app/dedicatedCloud/service-pack/upgrade/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/basicOptions.routing.js
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/basicOptions.service.js
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/basicOptions.steps.js
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/index.js
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/certification.routing.js
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/certification.service.js
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/certification.steps.js
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/index.js
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/configuration-only.routing.js
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/configuration-only.steps.js
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/index.js
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.component.js
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.html
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.routing.js
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc-service-pack-options): rename fonctions to uniformize
  client/app/dedicatedCloud/dashboard/options/servicePack/option/index.js
  client/app/dedicatedCloud/dashboard/options/servicePack/option/option.service.js
  client/app/dedicatedCloud/service-pack/option/index.js
  client/app/dedicatedCloud/service-pack/option/option.service.js
Due: eslint --fix

feat(service-pack): add support for hourly billing
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.html
  client/app/dedicatedCloud/service-pack/service-pack.service.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/configure-users.component.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/configure-users.html
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/confirm.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/confirm.html
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/place-order.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/selection.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/selection.html
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/selection.state.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): handle expired services better
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

feat(pcc-dashboard-options): delete pending order if checkout is expired
  client/app/dedicatedCloud/dashboard/tiles/options/options.service.js
Due: eslint --fix

fix(pcc-dashboard-options): display validation menu item for
  client/app/dedicatedCloud/dashboard/tiles/options/models/bindings/bindings.js
Due: eslint --fix

fix(pcc-dashboard-options): allow user to order service pack while
  client/app/dedicatedCloud/dashboard/tiles/options/models/bindings/bindings.js
Due: eslint --fix

fix(pcc-service-pack): change some texts
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.controller.js
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.html
  client/app/dedicatedCloud/service-pack/service-pack.service.js
  client/app/dedicatedCloud/service-pack/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(datacenter): display id for hosts and datastores
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

fix(service-pack): display price correctly
  client/app/dedicatedCloud/service-pack/service-pack.service.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/confirm.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/confirm.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: fix extra spaces
  client/app/components/no-default-means-of-payment/translations/Messages_fr_FR.json
  client/app/css/source.scss
Due: none

refactor(configure-access): simplify the markup
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-access/configure-access.html
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/configure-users.html
Due: htmlhint 'client/**/*.html'

refactor(service-pack.validation): make link more accessible
  client/app/dedicatedCloud/service-pack/upgrade/steps/validation/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/validation/validation.html
Due: htmlhint 'client/**/*.html'

build: bump ovh-ui-angular and ovh-api-services
  package.json
  yarn.lock
Due: none

refactor(account.user): improvements
  client/app/account/user/advanced/user-advanced.html
  client/app/account/user/dashboard/translations/Messages_fr_FR.json
  client/app/account/user/dashboard/user-dasboard.component.js
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.less
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/security/user-security.html
  client/app/account/user/support-level/index.less
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/user.controller.js
  client/app/account/user/users/users.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor(account): move files according to url
  client/app/account/contacts/request/change/user-contacts-request-change.controller.js
  client/app/account/contacts/request/change/user-contacts-request-change.html
  client/app/account/contacts/request/received/user-contacts-request-received.controller.js
  client/app/account/contacts/request/received/user-contacts-request-received.html
  client/app/account/contacts/request/send/user-contacts-request-send.controller.js
  client/app/account/contacts/request/send/user-contacts-request-send.html
  client/app/account/contacts/request/user-contacts-request.controller.js
  client/app/account/contacts/request/user-contacts-request.html
  client/app/account/contacts/request/user-contacts-request.routes.js
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/translations/Messages_fr_FR.json
  client/app/account/contacts/update/user-contacts-update.controller.js
  client/app/account/contacts/update/user-contacts-update.html
  client/app/account/contacts/update/user.contacts-update.routes.js
  client/app/account/contacts/user-contacts.controller.js
  client/app/account/contacts/user-contacts.html
  client/app/account/contacts/user-contacts.routes.js
  client/app/account/contacts/user-contacts.service.js
  client/app/account/user/user.controller.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.contacts): prevent contact change for in debt services
  client/app/account/contacts/service/contacts-service.service.js
  client/app/account/contacts/service/edit/edit.component.js
  client/app/account/contacts/service/edit/edit.constants.js
  client/app/account/contacts/service/edit/edit.controller.js
  client/app/account/contacts/service/edit/edit.html
  client/app/account/contacts/service/edit/edit.module.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/edit/translations/Messages_fr_FR.json
  client/app/account/contacts/service/translations/Messages_fr_FR.json
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/models/BillingService.class.js
  client/app/models/billing-service.constants.js
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
