Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(options.order): have all options have the same height and width
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/style.less
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): retrieve translations
  client/app/components/sidebar-menu/translations/Messages_en_ASIA.xml
  client/app/components/sidebar-menu/translations/Messages_en_AU.xml
  client/app/components/sidebar-menu/translations/Messages_en_CA.xml
  client/app/components/sidebar-menu/translations/Messages_en_GB.xml
  client/app/components/sidebar-menu/translations/Messages_en_SG.xml
  client/app/components/sidebar-menu/translations/Messages_en_US.xml
Due: none

fix(i18n): retrieve translations (#1088)
  client/app/components/sidebar-menu/translations/Messages_en_ASIA.xml
  client/app/components/sidebar-menu/translations/Messages_en_AU.xml
  client/app/components/sidebar-menu/translations/Messages_en_CA.xml
  client/app/components/sidebar-menu/translations/Messages_en_GB.xml
  client/app/components/sidebar-menu/translations/Messages_en_SG.xml
  client/app/components/sidebar-menu/translations/Messages_en_US.xml
Due: none

fix(components.user.session): remove duplicate ticket entry
  client/app/components/user/session/user-session.service.js
Due: eslint --fix

fix(components.user.session): remove duplicate ticket entry (#1089)
  client/app/components/user/session/user-session.service.js
Due: eslint --fix

fix(dedicated.server): code review
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.controller.js
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): retrieve translations
  client/app/account/billing/main/history/debt/pay/translations/Messages_de_DE.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_ASIA.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_AU.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_CA.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_GB.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_SG.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_US.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_es_ES.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_it_IT.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_pl_PL.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_pt_PT.xml
  client/app/account/billing/translations/Messages_it_IT.xml
  client/app/account/user/translations/Messages_en_ASIA.xml
  client/app/account/user/translations/Messages_en_AU.xml
  client/app/account/user/translations/Messages_en_GB.xml
  client/app/account/user/translations/Messages_en_SG.xml
  client/app/common/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_de_DE.xml
  client/app/ip/translations/Messages_en_ASIA.xml
  client/app/ip/translations/Messages_en_AU.xml
  client/app/ip/translations/Messages_en_CA.xml
  client/app/ip/translations/Messages_en_GB.xml
  client/app/ip/translations/Messages_en_SG.xml
  client/app/ip/translations/Messages_en_US.xml
  client/app/ip/translations/Messages_es_ES.xml
  client/app/ip/translations/Messages_it_IT.xml
  client/app/ip/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_pt_PT.xml
Due: none

feat(dedicated.server): notify installation support rendezvous (#1091)
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.controller.js
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.html
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.routes.js
  client/app/images/rendezvous.svg
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): retrieve translations (#1092)
  client/app/account/billing/main/history/debt/pay/translations/Messages_de_DE.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_ASIA.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_AU.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_CA.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_GB.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_SG.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_en_US.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_es_ES.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_it_IT.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_pl_PL.xml
  client/app/account/billing/main/history/debt/pay/translations/Messages_pt_PT.xml
  client/app/account/billing/translations/Messages_it_IT.xml
  client/app/account/user/translations/Messages_en_ASIA.xml
  client/app/account/user/translations/Messages_en_AU.xml
  client/app/account/user/translations/Messages_en_GB.xml
  client/app/account/user/translations/Messages_en_SG.xml
  client/app/common/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_de_DE.xml
  client/app/ip/translations/Messages_en_ASIA.xml
  client/app/ip/translations/Messages_en_AU.xml
  client/app/ip/translations/Messages_en_CA.xml
  client/app/ip/translations/Messages_en_GB.xml
  client/app/ip/translations/Messages_en_SG.xml
  client/app/ip/translations/Messages_en_US.xml
  client/app/ip/translations/Messages_es_ES.xml
  client/app/ip/translations/Messages_it_IT.xml
  client/app/ip/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_pt_PT.xml
Due: none

release v10.17.0
  CHANGELOG.md
  package.json
Due: none

fix(dediacted.server): datacenter name
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: none

feat(i18n): new translation
  client/app/account/user/newAccountForm/translations/Messages_fr_FR.xml
Due: none

feat(i18n): submit translation
  client/app/account/user/newAccountForm/translations/Messages_fr_FR.xml
Due: none

feat(i18n): retrieve translations
  client/app/account/user/newAccountForm/translations/Messages_cs_CZ.xml
  client/app/account/user/newAccountForm/translations/Messages_de_DE.xml
  client/app/account/user/newAccountForm/translations/Messages_en_ASIA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_AU.xml
  client/app/account/user/newAccountForm/translations/Messages_en_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_GB.xml
  client/app/account/user/newAccountForm/translations/Messages_en_SG.xml
  client/app/account/user/newAccountForm/translations/Messages_en_US.xml
  client/app/account/user/newAccountForm/translations/Messages_es_ES.xml
  client/app/account/user/newAccountForm/translations/Messages_es_US.xml
  client/app/account/user/newAccountForm/translations/Messages_fi_FI.xml
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_it_IT.xml
  client/app/account/user/newAccountForm/translations/Messages_lt_LT.xml
  client/app/account/user/newAccountForm/translations/Messages_nl_NL.xml
  client/app/account/user/newAccountForm/translations/Messages_pl_PL.xml
  client/app/account/user/newAccountForm/translations/Messages_pt_PT.xml
  client/app/common/translations/Messages_cs_CZ.xml
  client/app/common/translations/Messages_de_DE.xml
  client/app/common/translations/Messages_en_ASIA.xml
  client/app/common/translations/Messages_en_AU.xml
  client/app/common/translations/Messages_en_CA.xml
  client/app/common/translations/Messages_en_GB.xml
  client/app/common/translations/Messages_en_SG.xml
  client/app/common/translations/Messages_en_US.xml
  client/app/common/translations/Messages_es_ES.xml
  client/app/common/translations/Messages_fi_FI.xml
  client/app/common/translations/Messages_it_IT.xml
  client/app/common/translations/Messages_lt_LT.xml
  client/app/common/translations/Messages_nl_NL.xml
  client/app/common/translations/Messages_pl_PL.xml
  client/app/common/translations/Messages_pt_PT.xml
Due: none

fix(deps): upgrade ovh-module-exchange to v9.4.2
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ovh-module-exchange to v9.4.2 (#1096)
  package.json
  yarn.lock
Due: none

fix(i18n): retrieve translations
  client/app/account/user/newAccountForm/translations/Messages_cs_CZ.xml
  client/app/account/user/newAccountForm/translations/Messages_de_DE.xml
  client/app/account/user/newAccountForm/translations/Messages_en_ASIA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_AU.xml
  client/app/account/user/newAccountForm/translations/Messages_en_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_GB.xml
  client/app/account/user/newAccountForm/translations/Messages_en_SG.xml
  client/app/account/user/newAccountForm/translations/Messages_en_US.xml
  client/app/account/user/newAccountForm/translations/Messages_es_ES.xml
  client/app/account/user/newAccountForm/translations/Messages_es_US.xml
  client/app/account/user/newAccountForm/translations/Messages_fi_FI.xml
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_it_IT.xml
  client/app/account/user/newAccountForm/translations/Messages_lt_LT.xml
  client/app/account/user/newAccountForm/translations/Messages_nl_NL.xml
  client/app/account/user/newAccountForm/translations/Messages_pl_PL.xml
  client/app/account/user/newAccountForm/translations/Messages_pt_PT.xml
Due: none

fix(i18n): retrieve translations (#1098)
  client/app/account/user/newAccountForm/translations/Messages_cs_CZ.xml
  client/app/account/user/newAccountForm/translations/Messages_de_DE.xml
  client/app/account/user/newAccountForm/translations/Messages_en_ASIA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_AU.xml
  client/app/account/user/newAccountForm/translations/Messages_en_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_GB.xml
  client/app/account/user/newAccountForm/translations/Messages_en_SG.xml
  client/app/account/user/newAccountForm/translations/Messages_en_US.xml
  client/app/account/user/newAccountForm/translations/Messages_es_ES.xml
  client/app/account/user/newAccountForm/translations/Messages_es_US.xml
  client/app/account/user/newAccountForm/translations/Messages_fi_FI.xml
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_it_IT.xml
  client/app/account/user/newAccountForm/translations/Messages_lt_LT.xml
  client/app/account/user/newAccountForm/translations/Messages_nl_NL.xml
  client/app/account/user/newAccountForm/translations/Messages_pl_PL.xml
  client/app/account/user/newAccountForm/translations/Messages_pt_PT.xml
Due: none

fix(dedicated.server): display correctly datacenter name
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: none

release v10.17.1
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.server): display correctly datacenter name (#1086)
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/location/dedicated-server-location.html
  client/app/dedicated/server/statistics/infos.html
  client/app/dedicated/server/statistics/rtm/dedicated-server-statistics-rtm.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(i18n): submit translations
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/dedicated/server/translations/Messages_cs_CZ.xml
  client/app/dedicated/server/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_en_ASIA.xml
  client/app/dedicated/server/translations/Messages_en_AU.xml
  client/app/dedicated/server/translations/Messages_en_CA.xml
  client/app/dedicated/server/translations/Messages_en_GB.xml
  client/app/dedicated/server/translations/Messages_en_SG.xml
  client/app/dedicated/server/translations/Messages_en_US.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_es_US.xml
  client/app/dedicated/server/translations/Messages_fi_FI.xml
  client/app/dedicated/server/translations/Messages_fr_CA.xml
  client/app/dedicated/server/translations/Messages_it_IT.xml
  client/app/dedicated/server/translations/Messages_lt_LT.xml
  client/app/dedicated/server/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
  client/app/dedicated/server/translations/Messages_pt_PT.xml
Due: none

refactor(backup.enable-agora): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
Due: eslint --fix

style(datastore): change indentation
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
Due: eslint --fix

style(host.order-us): change function order
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

refactor(host.order-us): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

refactor(host.order-us): move data initialization to method
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

style(dedicated-cloud): change indentation
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

fix(dedicated-cloud): add missing annotation
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

style(dedicated-cloud): reoreder properties alphabetically
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

feat(dedicated-cloud): resolve current service
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

build: bump ui-router version
  package.json
  yarn.lock
Due: none

fix(license): remove supernumerary ngController
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
Due: htmlhint 'client/**/*.html'

style(license.enable): change indentation
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

refactor(license.enable): reorder parameters alphabetically
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

fix(license.enable): add missing annotation
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(license.enable): allow route for all subs
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix
