Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix: update getter to get function (#1517)
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/models/BillingService.class.js
Due: eslint --fix

release v10.33.4
  CHANGELOG.md
  package.json
Due: none

build: add optimization rules
  webpack.config.js
Due: eslint --fix

build: bump @ovh-ux/manager-navbar@^2.0.5
  package.json
  yarn.lock
Due: none

release v10.33.5
  CHANGELOG.md
  package.json
Due: none

build(package.json): upgrade @ovh-ux/ng-ui-router-layout to v3.0.0
  package.json
  yarn.lock
Due: none

build: update yarn.lock
  yarn.lock
Due: none

fix(ola): deactivate ola in US
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
Due: eslint --fix

build(package.json): bump @ovh-ux/ng-ovh-payment-method to v5.0.0
  package.json
  yarn.lock
Due: none

fix(billing.payment.method): bad translations
  client/app/billing/payment/method/translations/Messages_en_GB.json
  client/app/billing/payment/method/translations/Messages_es_US.json
  client/app/billing/payment/method/translations/Messages_fr_CA.json
  client/app/billing/payment/method/translations/Messages_fr_FR.json
  client/app/billing/payment/method/translations/Messages_it_IT.json
  client/app/billing/payment/method/translations/Messages_pt_PT.json
Due: none

fix(ola): deactivate ola in US (#1530)
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 98]
  client/app/dedicatedCloud/dashboard/tiles/general-information/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/tiles/general-information/translations/Messages_it_IT.json
  client/app/dedicatedCloud/service-pack/translations/Messages_de_DE.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-access/translations/Messages_de_DE.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/translations/Messages_de_DE.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/translations/Messages_it_IT.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/validation/translations/Messages_de_DE.json
  client/app/mfaEnrollment/translations/Messages_de_DE.json
  client/app/mfaEnrollment/translations/Messages_en_GB.json
  client/app/mfaEnrollment/translations/Messages_es_ES.json
  client/app/mfaEnrollment/translations/Messages_fi_FI.json
  client/app/mfaEnrollment/translations/Messages_it_IT.json
  client/app/mfaEnrollment/translations/Messages_lt_LT.json
  client/app/mfaEnrollment/translations/Messages_pt_PT.json
Due: none

release v10.33.6
  CHANGELOG.md
  package.json
Due: none

release v10.34.0
  CHANGELOG.md
  package.json
Due: none

fix(billing.payment.method): add button
  client/app/billing/payment/method/add/index.html
Due: htmlhint 'client/**/*.html'

release v10.34.1
  CHANGELOG.md
  package.json
Due: none

fix(billing.payment.method): add CB button
  client/app/billing/payment/method/add/index.html
Due: htmlhint 'client/**/*.html'

release v10.34.2
  CHANGELOG.md
  package.json
Due: none

feat(mfa): disable cancel action when forced
  client/app/account/user/security/2fa/user-security-2fa.controller.js
  client/app/account/user/security/2fa/user-security-2fa.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.user.security.2fa): disable cancel action when forced (#1541)
  client/app/account/user/security/2fa/user-security-2fa.controller.js
  client/app/account/user/security/2fa/user-security-2fa.html
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.35.0
  CHANGELOG.md
  package.json
Due: none

feat(user.security.2fa): prevent closing modal by escape & backdrop
  client/app/account/user/security/2fa/user-security-2fa.routing.js
  package.json
  yarn.lock
Due: eslint --fix

release v10.36.0
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade @ovh-ux/ng-ovh-otrs to v7.1.12
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 99]
  client/app/billing/payment/method/translations/Messages_fi_FI.json
  client/app/billing/payment/method/translations/Messages_lt_LT.json
  client/app/billing/payment/method/translations/Messages_pl_PL.json
  client/app/billing/payment/method/translations/Messages_pt_PT.json
  client/app/dedicated/housing/translations/Messages_de_DE.json
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_de_DE.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_de_DE.json
  client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_de_DE.json
  client/app/dedicated/server/interfaces/translations/Messages_de_DE.json
  client/app/dedicated/server/translations/Messages_de_DE.json
Due: none

release v10.36.1
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.server): update text in netboot modify modal (#1501)
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

fix(billing.main.history): fetch postal mail invoices only in EU build
  client/app/billing/main/history/billing-main-history.controller.js
Due: eslint --fix

feat: orders refactoring
  client/app/billing/billing-feature-availability.js
  client/app/billing/billing.module.js
  client/app/billing/order/billing-order-tracking.controller.js
  client/app/billing/order/billing-order-tracking.html
  client/app/billing/order/billing-order-tracking.module.js
  client/app/billing/order/billing-order-tracking.routing.js
  client/app/billing/orders/billing-orders.controller.js
  client/app/billing/orders/billing-orders.html
  client/app/billing/orders/orders.routing.js
  client/app/billing/orders/translations/Messages_fr_FR.json
  client/app/config/constants.config.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 102]
  client/app/dedicated/server/translations/Messages_de_DE.json
  client/app/dedicated/server/translations/Messages_fr_CA.json
Due: none

fix(i18n): add missing translations [CDS 103]
  client/app/dedicated/server/translations/Messages_en_GB.json
  client/app/dedicated/server/translations/Messages_es_ES.json
  client/app/dedicated/server/translations/Messages_fi_FI.json
  client/app/dedicated/server/translations/Messages_it_IT.json
  client/app/dedicated/server/translations/Messages_lt_LT.json
  client/app/mfaEnrollment/translations/Messages_pl_PL.json
Due: none

fix(dedicated.server): display label for bandwidth upgrade
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

fix(dedicated.server): display progress bar correctly
  client/app/dedicated/server/consumption/consumption.html
Due: htmlhint 'client/**/*.html'

fix(billing.autorenew): improve expiration date display
  client/app/billing/autoRenew/autorenew.html
Due: htmlhint 'client/**/*.html'

feat(billing.autorenew): allow to sort all columns
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add filter on service state
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/models/BillingService.class.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 104]
  client/app/dedicated/server/translations/Messages_pt_PT.json
Due: none

Update README.md
  README.md
Due: none
