Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix: remove duplicate ssh section
  client/app/account/user/ssh/user-ssh.controller.js
  client/app/account/user/ssh/user-ssh.routing.js
  client/app/account/user/user.html
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.support-leve): add subs urls
  client/app/account/user/support-level/support-level.constants.js
Due: eslint --fix

build: bump ovh-ui-angular and ovh-api-services
  package.json
  yarn.lock
Due: none

fix(account.contacts): move contacts to according url
  client/app/account/contacts/request/user-contacts-request.routes.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/user-contacts.html
  client/app/account/contacts/user-contacts.routes.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(account): remove unecessary files
  client/app/account/user/support-level/translations/Messages_fr_FR.xml
  client/app/account/user/users/translations/Messages_cs_CZ.xml
  client/app/account/user/users/translations/Messages_de_DE.json
  client/app/account/user/users/translations/Messages_de_DE.xml
  client/app/account/user/users/translations/Messages_en_ASIA.xml
  client/app/account/user/users/translations/Messages_en_AU.xml
  client/app/account/user/users/translations/Messages_en_CA.xml
  client/app/account/user/users/translations/Messages_en_GB.json
  client/app/account/user/users/translations/Messages_en_GB.xml
  client/app/account/user/users/translations/Messages_en_SG.xml
  client/app/account/user/users/translations/Messages_en_US.xml
  client/app/account/user/users/translations/Messages_es_ES.json
  client/app/account/user/users/translations/Messages_es_ES.xml
  client/app/account/user/users/translations/Messages_es_US.json
  client/app/account/user/users/translations/Messages_es_US.xml
  client/app/account/user/users/translations/Messages_fi_FI.json
  client/app/account/user/users/translations/Messages_fi_FI.xml
  client/app/account/user/users/translations/Messages_fr_CA.json
  client/app/account/user/users/translations/Messages_fr_CA.xml
  client/app/account/user/users/translations/Messages_fr_FR.json
  client/app/account/user/users/translations/Messages_fr_FR.xml
  client/app/account/user/users/translations/Messages_it_IT.json
  client/app/account/user/users/translations/Messages_it_IT.xml
  client/app/account/user/users/translations/Messages_lt_LT.json
  client/app/account/user/users/translations/Messages_lt_LT.xml
  client/app/account/user/users/translations/Messages_nl_NL.json
  client/app/account/user/users/translations/Messages_nl_NL.xml
  client/app/account/user/users/translations/Messages_pl_PL.json
  client/app/account/user/users/translations/Messages_pl_PL.xml
  client/app/account/user/users/translations/Messages_pt_PT.json
  client/app/account/user/users/translations/Messages_pt_PT.xml
  client/app/account/user/users/users.routing.js
  client/app/images/support-level/business.svg
  client/app/images/support-level/enterprise.svg
  client/app/images/support-level/premium.svg
  client/app/images/support-level/standard.svg
Due: eslint --fix

feat: bump navbar
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 67]
  client/app/account/user/dashboard/translations/Messages_en_GB.json
  client/app/account/user/dashboard/translations/Messages_fi_FI.json
  client/app/account/user/dashboard/translations/Messages_fr_CA.json
  client/app/account/user/dashboard/translations/Messages_lt_LT.json
  client/app/account/user/dashboard/translations/Messages_pt_PT.json
  client/app/account/user/newAccountForm/translations/Messages_de_DE.json
  client/app/account/user/support-level/translations/Messages_en_GB.json
  client/app/account/user/support-level/translations/Messages_fi_FI.json
  client/app/account/user/support-level/translations/Messages_fr_CA.json
  client/app/account/user/support-level/translations/Messages_lt_LT.json
  client/app/account/user/support-level/translations/Messages_pt_PT.json
  client/app/account/user/translations/Messages_en_GB.json
  client/app/account/user/translations/Messages_fi_FI.json
  client/app/account/user/translations/Messages_fr_CA.json
  client/app/account/user/translations/Messages_lt_LT.json
  client/app/account/user/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations [CDS 68]
  client/app/account/contacts/service/edit/translations/Messages_de_DE.json
  client/app/account/contacts/service/edit/translations/Messages_en_GB.json
  client/app/account/contacts/service/edit/translations/Messages_fi_FI.json
  client/app/account/contacts/service/edit/translations/Messages_fr_CA.json
  client/app/account/contacts/service/edit/translations/Messages_lt_LT.json
  client/app/account/contacts/service/edit/translations/Messages_pt_PT.json
  client/app/account/contacts/service/translations/Messages_de_DE.json
  client/app/account/contacts/service/translations/Messages_en_GB.json
  client/app/account/contacts/service/translations/Messages_fi_FI.json
  client/app/account/contacts/service/translations/Messages_fr_CA.json
  client/app/account/contacts/service/translations/Messages_lt_LT.json
  client/app/account/contacts/service/translations/Messages_pt_PT.json
  client/app/account/user/dashboard/translations/Messages_de_DE.json
  client/app/account/user/dashboard/translations/Messages_es_ES.json
  client/app/account/user/dashboard/translations/Messages_pl_PL.json
  client/app/account/user/newAccountForm/translations/Messages_pt_PT.json
  client/app/account/user/support-level/translations/Messages_de_DE.json
  client/app/account/user/support-level/translations/Messages_es_ES.json
  client/app/account/user/support-level/translations/Messages_pl_PL.json
  client/app/account/user/translations/Messages_de_DE.json
  client/app/account/user/translations/Messages_es_ES.json
  client/app/account/user/translations/Messages_pl_PL.json
  client/app/billing/translations/Messages_pt_PT.json
Due: none

refactor(account): move files according to url
  client/app/account/contacts/request/change/user-contacts-request-change.controller.js
  client/app/account/contacts/request/change/user-contacts-request-change.html
  client/app/account/contacts/request/received/user-contacts-request-received.controller.js
  client/app/account/contacts/request/received/user-contacts-request-received.html
  client/app/account/contacts/request/send/user-contacts-request-send.controller.js
  client/app/account/contacts/request/send/user-contacts-request-send.html
  client/app/account/contacts/request/user-contacts-request.controller.js
  client/app/account/contacts/request/user-contacts-request.html
  client/app/account/contacts/request/user-contacts-request.routes.js
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/update/user-contacts-update.controller.js
  client/app/account/contacts/update/user-contacts-update.html
  client/app/account/contacts/update/user.contacts-update.routes.js
  client/app/account/contacts/user-contacts.controller.js
  client/app/account/contacts/user-contacts.html
  client/app/account/contacts/user-contacts.routes.js
  client/app/account/contacts/user-contacts.service.js
  client/app/account/user/user.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(account.contacts): use resolve pattern with a datagrid
  client/app/account/contacts/service/contacts-service.component.js
  client/app/account/contacts/service/contacts-service.module.js
  client/app/account/contacts/service/contacts-service.service.js
  client/app/account/contacts/service/edit/edit.component.js
  client/app/account/contacts/service/edit/edit.controller.js
  client/app/account/contacts/service/edit/edit.html
  client/app/account/contacts/service/edit/edit.module.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/edit/translations/Messages_fr_FR.json
  client/app/account/contacts/service/translations/Messages_fr_FR.json
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/service/user-contacts.constants.js
  client/app/account/contacts/user-contacts.service.js
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/app.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(account.contacts): load translations
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/user-contacts.routes.js
Due: eslint --fix

release v10.32.0
  CHANGELOG.md
  package.json
Due: none

fix(billing): refactor billingTerminate into a component
  client/app/billing/confirmTerminate/billing-confirmTerminate.component.js
  client/app/billing/confirmTerminate/billing-confirmTerminate.controller.js
  client/app/billing/confirmTerminate/billing-confirmTerminate.html
  client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  client/app/billing/confirmTerminate/billing-confirmTerminateLegacy.service.js
  client/app/billing/confirmTerminate/termination.module.js
  client/app/billing/confirmTerminate/termination.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.suppport-level): extract translations (#1414)
  client/app/account/user/dashboard/translations/Messages_fr_FR.json
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/translations/Messages_fr_FR.json
Due: none

fix(billing.payment.method): use of ouiModal layout for actions
  client/app/billing/payment/method/add/routing.js
  client/app/billing/payment/method/add/translations/Messages_fr_FR.json
  client/app/billing/payment/method/component.js
  client/app/billing/payment/method/controller.js
  client/app/billing/payment/method/default/component.js
  client/app/billing/payment/method/default/controller.js
  client/app/billing/payment/method/default/index.html
  client/app/billing/payment/method/default/routing.js
  client/app/billing/payment/method/default/translations/Messages_fr_FR.json
  client/app/billing/payment/method/delete/component.js
  client/app/billing/payment/method/delete/controller.js
  client/app/billing/payment/method/delete/index.html
  client/app/billing/payment/method/delete/routing.js
  client/app/billing/payment/method/delete/translations/Messages_fr_FR.json
  client/app/billing/payment/method/edit/component.js
  client/app/billing/payment/method/edit/controller.js
  client/app/billing/payment/method/edit/index.html
  client/app/billing/payment/method/edit/routing.js
  client/app/billing/payment/method/edit/translations/Messages_fr_FR.json
  client/app/billing/payment/method/routing.js
  client/app/billing/payment/method/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.32.1
  CHANGELOG.md
  package.json
Due: none

fix(account.contacts.service): post to the right URL
  client/app/account/contacts/service/contacts-service.service.js
Due: eslint --fix

fix(account.user): set the right base url for setAction
  client/app/account/user/user.controller.js
Due: eslint --fix

fix: server sidebar version update
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: none

fix(billing.autorenew): update server sidebar to v0.6.3 (#1442)
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: none

fix(account.contacts.service): post to the right URL (#1445)
  client/app/account/contacts/service/contacts-service.service.js
Due: eslint --fix

fix(account.user): set the right base url for setAction (#1446)
  client/app/account/user/user.controller.js
Due: eslint --fix

release v10.32.2
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade ovh-module-exchange to v9.4.9
  package.json
  yarn.lock
Due: none

fix(billing.payment.method): pull request review
  client/app/billing/payment/method/add/index.html
  client/app/billing/payment/method/index.html
Due: htmlhint 'client/**/*.html'

release v10.32.3
  CHANGELOG.md
  package.json
Due: none

fix(account.contacts): add setAction for contacts change
  client/app/account/contacts/user-contacts.controller.js
  client/app/account/contacts/user-contacts.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(account.contacts): handle contact update
  client/app/account/contacts/update/user.contacts-update.routes.js
Due: eslint --fix

feat(billingTerminate): use new API and fallback to legacy if not found
  client/app/billing/confirmTerminate/billing-confirmTerminate.controller.js
  client/app/billing/confirmTerminate/billing-confirmTerminate.html
  client/app/billing/confirmTerminate/billing-confirmTerminate.service.js
  client/app/billing/confirmTerminate/billing-confirmTerminateLegacy.service.js
  client/app/billing/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

build(package.json): set specific branches for test
  package.json
  yarn.lock
Due: none

release v10.32.4
  CHANGELOG.md
  package.json
Due: none

fix(billing.autorenew.ssh): rename broken service name
  client/app/billing/autoRenew/ssh/user-ssh.service.js
Due: eslint --fix

fix(billing.autorenew.ssh): rename broken service name (#1454)
  client/app/billing/autoRenew/ssh/user-ssh.service.js
Due: eslint --fix

feat(billing.autorenew): update wording for expiration date
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.32.5
  CHANGELOG.md
  package.json
Due: none

fix(account.contacts): restrict redirection for contact change
  client/app/account/contacts/update/user.contacts-update.routes.js
Due: eslint --fix
