Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix: improve responsive
  client/app/css/source.scss
  client/app/index.html
Due: htmlhint 'client/**/*.html'

feat: use server-sidebar
  yarn.lock
Due: none

fix: bump @ovh-ux/server-sidebar
  client/app/css/source.scss
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix

build: bump @ovh-ux/manager-server-sidebar
  package.json
  yarn.lock
Due: none

release v10.17.5
  CHANGELOG.md
  package.json
Due: none

fix: CA region use now right link
  package.json
  yarn.lock
Due: none

release v10.17.6
  CHANGELOG.md
  package.json
Due: none

fix(account.billing): add missing translation on cancellation form
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: none

fix(deps): upgrade both core and navbar dependencies
  package.json
  yarn.lock
Due: none

fix(deps): upgrade both core and navbar dependencies (#1134)
  package.json
  yarn.lock
Due: none

release v10.17.7
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade manager-server-sidebar to v0.1.3
  client/app/components/product/product.service.js
  package.json
  yarn.lock
Due: eslint --fix

fix(deps): upgrade manager-server-sidebar to v0.1.3 (#1137)
  client/app/components/product/product.service.js
  package.json
  yarn.lock
Due: eslint --fix

release v10.17.8
  CHANGELOG.md
  package.json
Due: none

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

release v10.17.9
  CHANGELOG.md
  package.json
Due: none

fix(account.billing): add missing translation on cancellation form (#1132)
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: none

fix(i18n): submit translations
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/account/billing/translations/Messages_cs_CZ.xml
  client/app/account/billing/translations/Messages_de_DE.xml
  client/app/account/billing/translations/Messages_en_ASIA.xml
  client/app/account/billing/translations/Messages_en_AU.xml
  client/app/account/billing/translations/Messages_en_CA.xml
  client/app/account/billing/translations/Messages_en_GB.xml
  client/app/account/billing/translations/Messages_en_SG.xml
  client/app/account/billing/translations/Messages_en_US.xml
  client/app/account/billing/translations/Messages_es_ES.xml
  client/app/account/billing/translations/Messages_es_US.xml
  client/app/account/billing/translations/Messages_fi_FI.xml
  client/app/account/billing/translations/Messages_fr_CA.xml
  client/app/account/billing/translations/Messages_it_IT.xml
  client/app/account/billing/translations/Messages_lt_LT.xml
  client/app/account/billing/translations/Messages_nl_NL.xml
  client/app/account/billing/translations/Messages_pl_PL.xml
  client/app/account/billing/translations/Messages_pt_PT.xml
  client/app/license/translations/Messages_pl_PL.xml
Due: none

fix(dedicated.server): hide usb storage tab option (#1108)
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/usb-storage/dedicated-server-usb-storage.controller.js
  client/app/dedicated/server/usb-storage/dedicated-server-usb-storage.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: display labels in all server graph (#1090)
  client/app/cdn/dedicated/domain/statistics/cdn-dedicated-domain-statistics.controller.js
  client/app/cdn/dedicated/domain/statistics/cdn-dedicated-domain-statistics.html
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.controller.js
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.html
  client/app/cdn/dedicated/translations/Messages_fr_FR.xml
  client/app/dedicated/server/statistics/rtm/ServerStatsRtmGeneralController.js
  client/app/dedicated/server/statistics/rtm/load-avg/dedicated-server-statistics-rtm-load-avg.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/cdn/dedicated/translations/Messages_fr_FR.xml
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/cdn/dedicated/translations/Messages_cs_CZ.xml
  client/app/cdn/dedicated/translations/Messages_de_DE.xml
  client/app/cdn/dedicated/translations/Messages_en_ASIA.xml
  client/app/cdn/dedicated/translations/Messages_en_AU.xml
  client/app/cdn/dedicated/translations/Messages_en_CA.xml
  client/app/cdn/dedicated/translations/Messages_en_GB.xml
  client/app/cdn/dedicated/translations/Messages_en_SG.xml
  client/app/cdn/dedicated/translations/Messages_en_US.xml
  client/app/cdn/dedicated/translations/Messages_es_ES.xml
  client/app/cdn/dedicated/translations/Messages_es_US.xml
  client/app/cdn/dedicated/translations/Messages_fi_FI.xml
  client/app/cdn/dedicated/translations/Messages_fr_CA.xml
  client/app/cdn/dedicated/translations/Messages_it_IT.xml
  client/app/cdn/dedicated/translations/Messages_lt_LT.xml
  client/app/cdn/dedicated/translations/Messages_nl_NL.xml
  client/app/cdn/dedicated/translations/Messages_pl_PL.xml
  client/app/cdn/dedicated/translations/Messages_pt_PT.xml
  client/app/dedicated/server/translations/Messages_cs_CZ.xml
  client/app/dedicated/server/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_en_ASIA.xml
  client/app/dedicated/server/translations/Messages_en_AU.xml
  client/app/dedicated/server/translations/Messages_en_CA.xml
  client/app/dedicated/server/translations/Messages_en_GB.xml
  client/app/dedicated/server/translations/Messages_en_SG.xml
  client/app/dedicated/server/translations/Messages_en_US.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_es_US.xml
  client/app/dedicated/server/translations/Messages_fi_FI.xml
  client/app/dedicated/server/translations/Messages_fr_CA.xml
  client/app/dedicated/server/translations/Messages_it_IT.xml
  client/app/dedicated/server/translations/Messages_lt_LT.xml
  client/app/dedicated/server/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
  client/app/dedicated/server/translations/Messages_pt_PT.xml
Due: none

feat(billing.payment.method.add): remove billingContactId
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): retrieve translations
  client/app/account/user/newAccountForm/translations/Messages_en_ASIA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_AU.xml
  client/app/account/user/newAccountForm/translations/Messages_en_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_GB.xml
  client/app/account/user/newAccountForm/translations/Messages_en_SG.xml
  client/app/account/user/newAccountForm/translations/Messages_en_US.xml
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.xml
  client/app/account/user/translations/Messages_en_ASIA.xml
  client/app/account/user/translations/Messages_en_AU.xml
  client/app/account/user/translations/Messages_en_CA.xml
  client/app/account/user/translations/Messages_en_GB.xml
  client/app/account/user/translations/Messages_en_SG.xml
  client/app/account/user/translations/Messages_en_US.xml
  client/app/account/user/translations/Messages_fr_CA.xml
  client/app/account/user/translations/Messages_pt_PT.xml
  client/app/cdn/dedicated/translations/Messages_de_DE.xml
  client/app/cdn/dedicated/translations/Messages_it_IT.xml
  client/app/cdn/dedicated/translations/Messages_pt_PT.xml
  client/app/components/sidebar-menu/account/translations/Messages_pt_PT.xml
  client/app/dedicated/server/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_it_IT.xml
  client/app/dedicated/server/translations/Messages_pt_PT.xml
Due: none

fix(i18n): retrieve translations (#1145)
  client/app/account/user/newAccountForm/translations/Messages_en_ASIA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_AU.xml
  client/app/account/user/newAccountForm/translations/Messages_en_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_GB.xml
  client/app/account/user/newAccountForm/translations/Messages_en_SG.xml
  client/app/account/user/newAccountForm/translations/Messages_en_US.xml
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.xml
  client/app/account/user/translations/Messages_en_ASIA.xml
  client/app/account/user/translations/Messages_en_AU.xml
  client/app/account/user/translations/Messages_en_CA.xml
  client/app/account/user/translations/Messages_en_GB.xml
  client/app/account/user/translations/Messages_en_SG.xml
  client/app/account/user/translations/Messages_en_US.xml
  client/app/account/user/translations/Messages_fr_CA.xml
  client/app/account/user/translations/Messages_pt_PT.xml
  client/app/cdn/dedicated/translations/Messages_de_DE.xml
  client/app/cdn/dedicated/translations/Messages_it_IT.xml
  client/app/cdn/dedicated/translations/Messages_pt_PT.xml
  client/app/components/sidebar-menu/account/translations/Messages_pt_PT.xml
  client/app/dedicated/server/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_it_IT.xml
  client/app/dedicated/server/translations/Messages_pt_PT.xml
Due: none

build: bump dependencies
  package.json
  yarn.lock
Due: none

release v10.17.10
  CHANGELOG.md
  package.json
Due: none

build: bump manager-navbar to v0.5.0
  package.json
  yarn.lock
Due: none

fix(deps): bump manager-navbar to v0.5.0 (#1150)
  package.json
  yarn.lock
Due: none

release v10.17.11
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade ovh-module-exchange to v9.4.5
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ovh-module-exchange to v9.4.5 (#1155)
  package.json
  yarn.lock
Due: none

fix(deps): upgrade manager-server-sidebar to 0.1.6
  package.json
  yarn.lock
Due: none

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
