Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

release v10.19.4
  CHANGELOG.md
  package.json
Due: none

build(deps): upgrade ovh-api-services to v7.0.0
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/license/translations/Messages_pt_PT.json
Due: none

fix(account.billing.payment.transactions): add missing translations (#1227)
  client/app/account/billing/payment/transactions/translations/Messages_fr_FR.json
Due: none

feat(dedicated.servers): pagination iceberg
  client/app/app.js
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.routing.js
  package.json
  yarn-error.log
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade some dependencies
  package.json
  yarn.lock
Due: none

build(deps): upgrade ng-ovh-otrs to v7.1.6
  package.json
  yarn.lock
Due: none

build(deps): upgrade ng-ovh-otrs to v7.1.6 (#1234)
  package.json
  yarn.lock
Due: none

release v10.19.5
  CHANGELOG.md
  package.json
Due: none

build(deps): upgrade some dependencies (#1233)
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/license/translations/Messages_nl_NL.json
Due: none

release v10.19.6
  CHANGELOG.md
  package.json
Due: none

fix(user-contracts): non breaking space in ng-bind
  client/app/user-contracts/modal/user-contracts-accept.html
Due: htmlhint 'client/**/*.html'

refactor(ip.reverse): move controllers according to their scope
  client/app/ip/ip/reverse/ip-ip-reverse.controller.js
  client/app/ip/ip/reverse/update/ip-ip-reverse-update.controller.js
  client/app/ip/ip/reverse/update/update.controller.js
Due: eslint --fix

fix(user.contracts.modal): remove non-breaking spaces (#1241)
  client/app/user-contracts/modal/user-contracts-accept.html
Due: htmlhint 'client/**/*.html'

release v10.19.7
  CHANGELOG.md
  package.json
Due: none

refactor(ip.reverse.update): use es6 and oui-modal
  client/app/ip/ip.app.js
  client/app/ip/ip/reverse/ip-ip-reverse.service.js
  client/app/ip/ip/reverse/update/ip-ip-reverse-update.html
  client/app/ip/ip/reverse/update/translations/Messages_fr_FR.json
  client/app/ip/ip/reverse/update/update.controller.js
  client/app/ip/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ip.reverse): use vps api only for legacy vps
  client/app/ip/ip/ip-ip.controller.js
  client/app/ip/ip/reverse/add/ip-ip-reverse-add.controller.js
  client/app/ip/ip/reverse/constants.js
  client/app/ip/ip/reverse/ip-ip-reverse.service.js
  client/app/ip/ip/reverse/update/update.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/account/billing/payment/transactions/translations/Messages_de_DE.json
Due: none

feat(dedicated.server): disable firewall and backup section in US
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/firewall/dedicated-server-firewall.routes.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/account/billing/payment/transactions/translations/Messages_en_ASIA.json
  client/app/account/billing/payment/transactions/translations/Messages_en_AU.json
  client/app/account/billing/payment/transactions/translations/Messages_en_CA.json
  client/app/account/billing/payment/transactions/translations/Messages_en_GB.json
  client/app/account/billing/payment/transactions/translations/Messages_en_SG.json
  client/app/account/billing/payment/transactions/translations/Messages_en_US.json
  client/app/account/billing/payment/transactions/translations/Messages_es_ES.json
  client/app/account/billing/payment/transactions/translations/Messages_fi_FI.json
  client/app/account/billing/payment/transactions/translations/Messages_lt_LT.json
  client/app/account/billing/payment/transactions/translations/Messages_pt_PT.json
Due: none

build: add __NG_APP_INJECTIONS__ to facilitate module injection
  .eslintrc.json
  client/app/app.js
  webpack.config.js
Due: eslint --fix

refactor: replace component with ng-uirouter-layout
  client/app/app.js
  client/app/components/angular-ui-router/angular-ui-router.module.js
  client/app/dedicatedCloud/resource/upgrade/upgrade.state.js
  package.json
  yarn.lock
Due: eslint --fix

refactor(billing): split routing into submodules
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/billing.module.js
  client/app/billing/billing.routing.js
  client/app/billing/billingApp.module.js
  client/app/billing/confirmTerminate/termination.module.js
  client/app/billing/confirmTerminate/termination.routing.js
  client/app/billing/orders/orders.module.js
  client/app/billing/orders/orders.routing.js
  client/app/billing/orders/retraction/retraction.module.js
  client/app/billing/orders/retraction/retraction.routing.js
  client/app/billing/sla/sla.module.js
  client/app/billing/sla/sla.routing.js
Due: eslint --fix

feat(billing.autorenew): regroup sidebar menu into tabs
  client/app/account/user/agreements/user-agreements.html
  client/app/account/user/agreements/user-agreements.routes.js
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/details/details.module.js
  client/app/billing/autoRenew/agreements/details/details.routing.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.html
  client/app/billing/autoRenew/agreements/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/user-agreements.constant.js
  client/app/billing/autoRenew/agreements/user-agreements.controller.js
  client/app/billing/autoRenew/agreements/user-agreements.html
  client/app/billing/autoRenew/agreements/user-agreements.module.js
  client/app/billing/autoRenew/agreements/user-agreements.routes.js
  client/app/billing/autoRenew/agreements/user-agreements.service.js
  client/app/billing/autoRenew/billing-autoRenew.controller.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/translations/Messages_fr_FR.json
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing): add ssh keys tab
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.controller.js
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.html
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.controller.js
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.html
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.controller.js
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.html
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/ssh.routing.js
  client/app/billing/autoRenew/ssh/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.html
  client/app/billing/autoRenew/ssh/user-ssh.service.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.controller.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/billing.controller.js
  client/app/billing/billing.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.servers): filter iceberg
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.routing.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build: add __NG_APP_INJECTIONS__ to facilitate module injection (#1250)
  .eslintrc.json
  client/app/app.js
  webpack.config.js
Due: eslint --fix

refactor: replace component with ng-uirouter-layout (#1249)
  client/app/app.js
  client/app/components/angular-ui-router/angular-ui-router.module.js
  client/app/dedicatedCloud/resource/upgrade/upgrade.state.js
  package.json
  yarn.lock
Due: eslint --fix

refactor(billing.service): turn service to a class and extract constants
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

fix(billing): inject module dependencies
  client/app/billing/billing.module.js
Due: eslint --fix

refactor: use state resolves
  client/app/app.js
  client/app/dedicated/server/servers/servers.component.js
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.module.js
  client/app/dedicated/server/servers/servers.routing.js
  client/app/dedicated/server/servers/touch
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.servers): apply filter operators
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.routing.js
Due: eslint --fix
