Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(options.order): set order at final order step
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix: reviews
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(options.order): disable buttons when step is invalid
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/template.html
Due: htmlhint 'client/**/*.html'

fix(dashboard.options): add confirmation modal for options order
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dashboard.options): fix empty options if order is ok
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(dashboard.options.order): fix number of ip blocks to be allowed
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/controller.js
Due: eslint --fix

fix(dashboard.options.order): change button text if one step only
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

fix(datacenter.options.order): fix no default payment means messages
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(dashboard.options): remove action if no certification orderable
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(options): handle expired order case
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(options): change text
  client/app/dedicatedCloud/dashboard/main/tiles/options/translations/Messages_fr_FR.xml
Due: none

fix(tiles.options): allow ordering when only one pack is available
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

style(tiles.confirm): change indentation
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
Due: eslint --fix

feat(tiles.confirm): add priceAsNumber parameter
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

fix(order.confirm): handle all price cases (negative, 0 and 1)
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(tiles.options): enhance code readability
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(selection): hide message about default means of payment when paying
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

fix(options.order): save pending order to variable
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

refactor(options.order): simplify next step call
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): remove caches for tabbed entries
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

fix(options.order.selection): sort by service pack name
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

fix(tiles.options): remove left padding
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
Due: htmlhint 'client/**/*.html'

fix(tiles.options): handle expired checkouts
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(tiles.options): display appropriate text for update menu button
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(options.order): have all options have the same height and width
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/style.less
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(options.selection): go to next step in all case
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

fix(confirm): add missing annotation
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
Due: eslint --fix

fix(selection): handle default service pack
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/translations/Messages_fr_FR.xml
Due: none

feat(order): hide modify menu item when needed
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

feat(datacenter): add constants about element types
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
Due: eslint --fix

feat(datacenter): handle hourly consumption for Agora hosts
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.service.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.service.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter): display that data is soon available
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: none

refactor(datacenter.datastore): extract functions to own service
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.service.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(datacenter.datastore): move logic to own function
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

feat(datacenter.datastore): fetch consumption for Agora
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

fix(datacenter.datastore): display hour of last update
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(selection): remove code specific for PL
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

fix(datastore): handle case when no data is available yet
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

fix(selection): display message to pay checkout
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

feat(selection): add translations for vRops option
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/translations/Messages_fr_FR.xml
Due: none

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
