Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(drp): return to choice step correctly
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: eslint --fix

refactor: make delete drp modal as a state
  client/app/app.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/datacenter/dashboard/deleteDrp/index.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.component.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.html
  client/app/dedicatedCloud/datacenter/drp/summary/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/index.js
  client/app/dedicatedCloud/deleteDrp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: extract constants from angular
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat: update zerto images
  client/app/images/drp/zerto-one-and-one-pcc.svg
  client/app/images/drp/zerto-two-pcc.svg
Due: none

fix(pcc): fix vpn status to status returned by API
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc.drp): fix state reload after validation
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: eslint --fix

fix(pcc): change step 2 button text
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html'

fix(pcc.drp): use correct delivering constant
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
Due: eslint --fix

fix(pcc): display correct status for plan in error
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: hide actions during vpn configuration
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): disable actions for concerned plan or vpn errors
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): fix translations
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_cs_CZ.json
Due: none

feat: retrieve translations
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_pl_PL.json
Due: htmlhint 'client/**/*.html'

refactor(billing.payment.method): integrate new components
  client/app/app.js
  client/app/billing/payment/method/add/component.js
  client/app/billing/payment/method/add/controller.js
  client/app/billing/payment/method/add/index.html
  client/app/billing/payment/method/add/index.js
  client/app/billing/payment/method/add/routing.js
  client/app/billing/payment/method/add/translations/Messages_fr_FR.json
  client/app/billing/payment/method/add/views/billing-address/add-billing-address.controller.js
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_de_DE.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_en_GB.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_es_ES.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_es_US.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_fi_FI.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_fr_CA.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_fr_FR.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_it_IT.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_lt_LT.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_nl_NL.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_pl_PL.json
  client/app/billing/payment/method/add/views/billing-address/translations/Messages_pt_PT.json
  client/app/billing/payment/method/add/views/billingContact/component.js
  client/app/billing/payment/method/add/views/billingContact/controller.js
  client/app/billing/payment/method/add/views/billingContact/index.html
  client/app/billing/payment/method/add/views/billingContact/index.js
  client/app/billing/payment/method/add/views/billingContact/index.scss
  client/app/billing/payment/method/add/views/billingContact/translations/Messages_fr_FR.json
  client/app/billing/payment/method/add/views/legacy-bank-account/add-legacy-bank-account.controller.js
  client/app/billing/payment/method/add/views/legacyBankAccount/component.js
  client/app/billing/payment/method/add/views/legacyBankAccount/controller.js
  client/app/billing/payment/method/add/views/legacyBankAccount/index.html
  client/app/billing/payment/method/add/views/legacyBankAccount/index.js
  client/app/billing/payment/method/add/views/legacyBankAccount/translations/Messages_fr_FR.json
  client/app/billing/payment/method/add/views/legacyBillingAddress/component.js
  client/app/billing/payment/method/add/views/legacyBillingAddress/controller.js
  client/app/billing/payment/method/add/views/legacyBillingAddress/index.html
  client/app/billing/payment/method/add/views/legacyBillingAddress/index.js
  client/app/billing/payment/method/add/views/legacyBillingAddress/translations/Messages_fr_FR.json
  client/app/billing/payment/method/routing.js
  client/app/css/source.scss
Due: htmlhint 'client/**/*.html', eslint --fix

fix: workaround
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

fix(billing.autorenew): add option to align renew dates
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/config/constants.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(drp): unlock feature for test us
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

build: remove duplicate package
  package.json
  yarn.lock
Due: none

release v10.29.0
  CHANGELOG.md
  package.json
Due: none

build(deps): remove duplicate ng-uirouter-line-progress package (#1419)
  package.json
  yarn.lock
Due: none

fix(billing): set only needed services to manual for resiliation
  client/app/models/BillingService.class.js
Due: eslint --fix

feat: implement complete workflow for group/ungroup
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.constants.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola.class.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.controller.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

style: move group/ungroup to a service
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
Due: eslint --fix

feat: limit oui-message size
  client/app/css/source.less
Due: stylelint 'client/**/*.less' --fix

feat: add a loading screen + message on the configuration page
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: if tasks are running, show a loader
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

Feat/handle vantiv threat metric (#1381)
  package.json
  yarn.lock
Due: none

fix(billing): set only needed services to manual for resiliation
  client/app/billing/autoRenew/BillingService.class.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 63]
  client/app/components/no-default-means-of-payment/translations/Messages_pl_PL.json
  client/app/components/stepper/components/button/translations/Messages_pl_PL.json
  client/app/components/stepper/components/header/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/tiles/options/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/components/no-default-means-of-payment/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/translations/Messages_pl_PL.json
Due: none

fix: stylelint
  client/app/css/source.less
Due: stylelint 'client/**/*.less' --fix

release v10.30.0
  CHANGELOG.md
  package.json
Due: none

feat(ola): get the price and show the order
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.component.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.html
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(ola): ask for automatic payment method
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.html
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix: use new ovh-api-services version
  package.json
  yarn.lock
Due: none

fix: add @ngInject
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
Due: eslint --fix

fix(bandwidth): add a button to open the order URL
  client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  client/app/dedicated/server/bandwidth/private-order/private-order.html
  client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  client/app/dedicated/server/bandwidth/public-order/public-order.html
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 65]
  client/app/billing/translations/Messages_es_ES.json
Due: none

fix(billing.payment.method): pull request review
  client/app/billing/payment/method/add/controller.js
  client/app/billing/payment/method/add/translations/Messages_fr_FR.json
  client/app/billing/payment/method/add/views/billingContact/controller.js
  client/app/billing/payment/method/controller.js
  client/app/billing/payment/method/default/routing.js
  client/app/billing/payment/method/delete/routing.js
  client/app/billing/payment/method/edit/routing.js
  client/app/billing/payment/method/translations/Messages_fr_FR.json
  webpack.config.js
Due: eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
