Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

release v10.21.0
  CHANGELOG.md
  package.json
Due: none

feat(app): update and use error page (#1279)
  client/app/app.js
  client/app/error/error.component.js
  client/app/error/error.controller.js
  client/app/error/error.html
  client/app/error/error.module.js
  client/app/error/error.routes.js
  client/app/error/error.routing.js
  client/app/error/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: use ng-ui-router-line-progress (#1270)
  client/app/app.js
  client/app/app.less
  client/app/index.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

Revert "feat(billing.autorenew): remove HOSTING_DOMAIN grouping (#1255)"
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
Due: htmlhint 'client/**/*.html', eslint --fix

Revert "feat(billing.autorenew): remove HOSTING_DOMAIN grouping (#1255)" (#1296)
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(support): fix support status text error
  package.json
Due: none

fix(support): fix support status text error
  package.json
  yarn.lock
Due: none

release v10.21.1
  CHANGELOG.md
  package.json
Due: none

fix(error): prevent loop when user is not authenticated
  client/app/app.js
  client/app/error/error.component.js
  client/app/error/error.controller.js
  client/app/error/error.routing.js
Due: eslint --fix

fix(error): prevent loop when user is not authenticated (#1300)
  client/app/app.js
  client/app/error/error.component.js
  client/app/error/error.controller.js
  client/app/error/error.routing.js
Due: eslint --fix

refactor(billing.autorenew): use state for cancel resiliation modal
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.component.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.controller.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.html
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.module.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.controller.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing): inject module dependencies
  client/app/billing/billing.module.js
Due: eslint --fix

fix(billing.autorenew): import missing constant
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

refactor(billing.service): turn service to a class and extract constants
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

feat(billing.autorenew): regroup sidebar menu into tabs
  client/app/account/user/agreements/user-agreements.html
  client/app/account/user/agreements/user-agreements.routes.js
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/details/details.module.js
  client/app/billing/autoRenew/agreements/details/details.routing.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.html
  client/app/billing/autoRenew/agreements/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/user-agreements.constant.js
  client/app/billing/autoRenew/agreements/user-agreements.controller.js
  client/app/billing/autoRenew/agreements/user-agreements.html
  client/app/billing/autoRenew/agreements/user-agreements.module.js
  client/app/billing/autoRenew/agreements/user-agreements.routes.js
  client/app/billing/autoRenew/agreements/user-agreements.service.js
  client/app/billing/autoRenew/billing-autoRenew.controller.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/translations/Messages_fr_FR.json
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add form for renewal type choice
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.component.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.html
  client/app/billing/autoRenew/actions/update/automatic/automatic.module.js
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/form/form.component.js
  client/app/billing/autoRenew/actions/update/form/form.constants.js
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/actions/update/form/form.html
  client/app/billing/autoRenew/actions/update/form/form.module.js
  client/app/billing/autoRenew/actions/update/form/form.service.js
  client/app/billing/autoRenew/actions/update/form/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.component.js
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.html
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.module.js
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.component.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.html
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.module.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.component.js
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/actions/update/update.html
  client/app/billing/autoRenew/actions/update/update.module.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/active/AutoRenewActivation.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/enable/billing-autoRenew-enable.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/update/billing-autoRenew-update.controller.js
  client/app/billing/autoRenew/update/billing-autoRenew-update.html
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add bulk action pages (#1267)
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/bulk/bulk.component.js
  client/app/billing/autoRenew/bulk/bulk.controller.js
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/bulk.module.js
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/billing-autoRenew-disable.html
  client/app/billing/autoRenew/disable/disable.component.js
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/disable/disable.html
  client/app/billing/autoRenew/disable/disable.module.js
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/disable/disable.service.js
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/enable/enable.component.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.html
  client/app/billing/autoRenew/enable/enable.module.js
  client/app/billing/autoRenew/enable/enable.routing.js
  client/app/billing/autoRenew/enable/enable.service.js
  client/app/billing/autoRenew/enable/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing): add ssh keys tab
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.controller.js
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.html
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.controller.js
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.html
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.controller.js
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.html
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/ssh.routing.js
  client/app/billing/autoRenew/ssh/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.html
  client/app/billing/autoRenew/ssh/user-ssh.service.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.controller.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/billing.controller.js
  client/app/billing/billing.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing): split routing into submodules
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/billing.module.js
  client/app/billing/billing.routing.js
  client/app/billing/billingApp.module.js
  client/app/billing/confirmTerminate/termination.module.js
  client/app/billing/confirmTerminate/termination.routing.js
  client/app/billing/orders/orders.module.js
  client/app/billing/orders/orders.routing.js
  client/app/billing/orders/retraction/retraction.module.js
  client/app/billing/orders/retraction/retraction.routing.js
  client/app/billing/sla/sla.module.js
  client/app/billing/sla/sla.routing.js
Due: eslint --fix

feat(billing.autorenew): add bulk activation/deactivation link
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add autorenew activation
  client/app/app.routes.js
  client/app/billing/autoRenew/actions/activation/activation.component.js
  client/app/billing/autoRenew/actions/activation/activation.controller.js
  client/app/billing/autoRenew/actions/activation/activation.html
  client/app/billing/autoRenew/actions/activation/activation.module.js
  client/app/billing/autoRenew/actions/activation/activation.routing.js
  client/app/billing/autoRenew/actions/activation/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
  client/app/billing/autoRenew/actions/delete/delete.component.js
  client/app/billing/autoRenew/actions/delete/delete.routing.js
  client/app/billing/autoRenew/actions/delete/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/billing-autoRenew.constants.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/user/User.class.js
  client/app/user/user.constants.js
Due: htmlhint 'client/**/*.html', eslint --fix

build(billing.autorenew): update to new structure
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing): remove unused filters
  client/app/billing/components/filters/frequenceText.js
  client/app/billing/components/filters/orderRenew.js
  client/app/billing/components/filters/renewDate.js
  client/app/billing/components/filters/renewal.js
Due: eslint --fix

fix(billing.autorenew): fix active tab
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

refactor(billing.autorenew): remove unecessary translations
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: eslint --fix

feat(billing.autorenew): update wording
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): pass correct param format for bulk actions
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

feat(billing.autorenew): add delete action for hostings
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): refactor common autorenew actions
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  client/app/billing/autoRenew/actions/delete/delete.routing.js
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.controller.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/billing/autoRenew/domain/billing-autoRenew-domain.html
  client/app/billing/autoRenew/hosting/billing-autoRenew-hosting.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): allow pagination through the state (#1275)
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/enable/enable.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): remove unused constants
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.constants.js
Due: eslint --fix

refactor(billing.autorenew): refactor renew day selector
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add filters (#1271)
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): refactor export csv and disable all domains
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.component.js
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.controller.js
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.html
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.module.js
  client/app/billing/autoRenew/disable-domains-bulk/disable-domains-bulk.routing.js
  client/app/billing/autoRenew/disable-domains-bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disableAutoRenewDomains/billing-autoRenew-disableAutoRenewDomains.controller.js
  client/app/billing/autoRenew/disableAutoRenewDomains/billing-autoRenew-disableAutoRenewDomains.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): refactor manual renew actions
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): refactor common exchange actions
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add actions
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
