Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(deps): update manager-webpack-config to v2.4.6
  package.json
  yarn.lock
Due: none

refactor: update according to the new cache-loader directory
  .gitignore
  package.json
Due: none

fix(deps): update translate-async-loader to v1.0.5
  package.json
  yarn.lock
Due: none

feat(account.tracking): add tracking in account section
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/disableAutoRenewDomains/billing-autoRenew-disableAutoRenewDomains.controller.js
  client/app/account/billing/credits/billing-credits.html
  client/app/account/billing/fidelity/billing-fidelity.html
  client/app/account/billing/fidelity/creditOrder/billing-fidelity-creditOrder.controller.js
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/account/billing/main/history/billing-main-history.html
  client/app/account/billing/main/payments/billing-payments.controller.js
  client/app/account/billing/main/payments/billing-payments.html
  client/app/account/billing/mean/add/billing-mean-add.html
  client/app/account/billing/mean/billing-mean.html
  client/app/account/billing/orders/billing-orders.html
  client/app/account/billing/ovhAccount/billing-ovhAccount.controller.js
  client/app/account/billing/ovhAccount/billing-ovhAccount.html
  client/app/account/billing/ovhAccount/retrieve/billing-ovhAccount-retrieve.controller.js
  client/app/account/otrs/otrs.html
  client/app/account/user/advanced/user-advanced.html
  client/app/account/user/agreements/user-agreements.html
  client/app/account/user/components/newAccountForm/field/new-account-form-field-component.js
  client/app/account/user/components/newAccountForm/new-account-form-component.html
  client/app/account/user/components/newAccountForm/new-account-form-component.js
  client/app/account/user/contacts/user-contacts.controller.js
  client/app/account/user/contacts/user-contacts.html
  client/app/account/user/emails/user-emails.html
  client/app/account/user/ip/restriction/add/user-ip-restriction-add.controller.js
  client/app/account/user/password/user-password.controller.js
  client/app/account/user/security/2fa/user-security-2fa.controller.js
  client/app/account/user/security/user-security.html
  client/app/account/user/ssh/add/cloud/user-ssh-add-cloud.controller.js
  client/app/account/user/ssh/add/dedicated/user-ssh-add-dedicated.controller.js
  client/app/account/user/ssh/user-ssh.html
  client/app/account/user/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server): installation template error
  client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
Due: eslint --fix

release v10.4.10
  CHANGELOG.md
  package.json
Due: none

feat(navbar.notification): animate notification icon
  client/app/components/navbar/navbar-notification.service.js
  client/app/css/less/common/navbar.less
Due: eslint --fix, stylelint 'client/**/*.less' --fix

style(navbar): animate notification icon
  client/app/components/navbar/navbar-notification.service.js
  client/app/css/less/common/navbar.less
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(dedicated.server): delete service
  client/app/dedicated/server/terminate/dedicated-server-terminate.controller.js
Due: eslint --fix

fix(deps): upgrade ovh-ui-kit to v2.22.0
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ovh-angular-otrs to v6.3.0
  package.json
  yarn.lock
Due: none

fix(i18n): submit translations
  client/app/account/user/translations/Messages_fr_FR.xml
Due: none

fix(dedicated.server.dashboard): make links for accessible
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

fix(deps): upgrade ovh-module-exchange to v9.0.5
  package.json
  yarn.lock
Due: none

release v10.5.0
  CHANGELOG.md
  package.json
Due: none

fix(exchange): upgrade ovh-module-exchange to v9.0.6
  package.json
  yarn.lock
Due: none

fix(exchange): upgrade ovh-module-exchange to v9.0.7
  package.json
  yarn.lock
Due: none

release v10.5.1
  CHANGELOG.md
  package.json
Due: none

docs(readme): update prerequisites
  README.md
Due: none

refactor(product): follow eslint rules
  client/app/components/product/product.service.js
Due: eslint --fix

fix(working-status): replace by new view OVH-tasks
  .eslintignore
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/working-status/working-status-modal.controller.js
  client/app/components/working-status/working-status-modal.html
  client/app/components/working-status/working-status.directive.js
  client/app/components/working-status/working-status.html
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.component.js
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.html
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.routes.js
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.service.js
  client/app/dedicated/server/ovh-tasks/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

style: move CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Due: none

feat(navbar.user): add tracking on user menu
  client/app/components/user/session/user-session.service.js
Due: eslint --fix

fix(deps): update manager-webpack-config to v2.4.7
  package.json
  yarn.lock
Due: none

feat(kvm-html): kvm html in ipmi tab
  client/app/components/polling/polling.service.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/account/user/translations/Messages_cs_CZ.xml
  client/app/account/user/translations/Messages_de_DE.xml
  client/app/account/user/translations/Messages_en_ASIA.xml
  client/app/account/user/translations/Messages_en_AU.xml
  client/app/account/user/translations/Messages_en_CA.xml
  client/app/account/user/translations/Messages_en_GB.xml
  client/app/account/user/translations/Messages_en_SG.xml
  client/app/account/user/translations/Messages_en_US.xml
  client/app/account/user/translations/Messages_es_ES.xml
  client/app/account/user/translations/Messages_es_US.xml
  client/app/account/user/translations/Messages_fi_FI.xml
  client/app/account/user/translations/Messages_fr_CA.xml
  client/app/account/user/translations/Messages_it_IT.xml
  client/app/account/user/translations/Messages_lt_LT.xml
  client/app/account/user/translations/Messages_nl_NL.xml
  client/app/account/user/translations/Messages_pl_PL.xml
  client/app/account/user/translations/Messages_pt_PT.xml
  client/app/dedicated/server/translations/Messages_cs_CZ.xml
  client/app/dedicated/server/translations/Messages_de_DE.xml
  client/app/dedicated/server/translations/Messages_en_ASIA.xml
  client/app/dedicated/server/translations/Messages_en_AU.xml
  client/app/dedicated/server/translations/Messages_en_CA.xml
  client/app/dedicated/server/translations/Messages_en_GB.xml
  client/app/dedicated/server/translations/Messages_en_SG.xml
  client/app/dedicated/server/translations/Messages_en_US.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_es_US.xml
  client/app/dedicated/server/translations/Messages_fi_FI.xml
  client/app/dedicated/server/translations/Messages_fr_CA.xml
  client/app/dedicated/server/translations/Messages_it_IT.xml
  client/app/dedicated/server/translations/Messages_lt_LT.xml
  client/app/dedicated/server/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
  client/app/dedicated/server/translations/Messages_pt_PT.xml
Due: none

refactor(billing.autorenew): use oui-kit on some components
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
Due: htmlhint 'client/**/*.html'

feat(billing.autorenew): disable renew action for in debt services
  client/app/account/billing/autoRenew/billing-autoRenew.constants.js
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
  client/app/account/billing/autoRenew/hosting/billing-autoRenew-hosting.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): rename renew buttons
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
  client/app/account/billing/autoRenew/hosting/billing-autoRenew-hosting.html
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): replace lodash with native functions
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix
