Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(i18n): retrieve translations
  client/app/components/sidebar-menu/translations/Messages_cs_CZ.xml
  client/app/components/sidebar-menu/translations/Messages_de_DE.xml
  client/app/components/sidebar-menu/translations/Messages_en_ASIA.xml
  client/app/components/sidebar-menu/translations/Messages_en_AU.xml
  client/app/components/sidebar-menu/translations/Messages_en_CA.xml
  client/app/components/sidebar-menu/translations/Messages_en_GB.xml
  client/app/components/sidebar-menu/translations/Messages_en_SG.xml
  client/app/components/sidebar-menu/translations/Messages_en_US.xml
  client/app/components/sidebar-menu/translations/Messages_es_ES.xml
  client/app/components/sidebar-menu/translations/Messages_es_US.xml
  client/app/components/sidebar-menu/translations/Messages_fi_FI.xml
  client/app/components/sidebar-menu/translations/Messages_fr_CA.xml
  client/app/components/sidebar-menu/translations/Messages_it_IT.xml
  client/app/components/sidebar-menu/translations/Messages_lt_LT.xml
  client/app/components/sidebar-menu/translations/Messages_nl_NL.xml
  client/app/components/sidebar-menu/translations/Messages_pl_PL.xml
  client/app/components/sidebar-menu/translations/Messages_pt_PT.xml
Due: none

fix(i18n): retrieve translations (#1082)
  client/app/components/sidebar-menu/translations/Messages_cs_CZ.xml
  client/app/components/sidebar-menu/translations/Messages_de_DE.xml
  client/app/components/sidebar-menu/translations/Messages_en_ASIA.xml
  client/app/components/sidebar-menu/translations/Messages_en_AU.xml
  client/app/components/sidebar-menu/translations/Messages_en_CA.xml
  client/app/components/sidebar-menu/translations/Messages_en_GB.xml
  client/app/components/sidebar-menu/translations/Messages_en_SG.xml
  client/app/components/sidebar-menu/translations/Messages_en_US.xml
  client/app/components/sidebar-menu/translations/Messages_es_ES.xml
  client/app/components/sidebar-menu/translations/Messages_es_US.xml
  client/app/components/sidebar-menu/translations/Messages_fi_FI.xml
  client/app/components/sidebar-menu/translations/Messages_fr_CA.xml
  client/app/components/sidebar-menu/translations/Messages_it_IT.xml
  client/app/components/sidebar-menu/translations/Messages_lt_LT.xml
  client/app/components/sidebar-menu/translations/Messages_nl_NL.xml
  client/app/components/sidebar-menu/translations/Messages_pl_PL.xml
  client/app/components/sidebar-menu/translations/Messages_pt_PT.xml
Due: none

build(deps): upgrade @ovh-ux/ng-ovh-chatbot to v2.0.0
  package.json
  yarn.lock
Due: none

build(deps): upgrade @ovh-ux/ng-ovh-chatbot to v2.0.0 (#1083)
  package.json
  yarn.lock
Due: none

release v10.16.0
  CHANGELOG.md
  package.json
Due: none

style(licence): change indentation
  client/app/license/license.controller.js
Due: eslint --fix

refactor: change constant injection name
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/billingApp.module.js
  client/app/license/detail/license-detail.controller.js
  client/app/license/license.controller.js
Due: eslint --fix

refactor(licence): convert to Class
  client/app/license/license.controller.js
Due: eslint --fix

refactor(licence): reorder parameters, change indentation
  client/app/license/license.controller.js
Due: eslint --fix

refactor(license): add missing 'data-'
  client/app/license/license.html
Due: htmlhint 'client/**/*.html'

fix(license): set href as one-time binding
  client/app/license/license.html
Due: htmlhint 'client/**/*.html'

feat(license): add support for service display name
  client/app/license/translations/Messages_fr_FR.xml
Due: none

refactor(license): add import to Lodash
  client/app/license/license.controller.js
Due: eslint --fix

refactor(license): use transclusion instead of text attribute
  client/app/license/license.html
Due: htmlhint 'client/**/*.html'

fix(dedicated.server): remove tile location
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/statistics/infos.html
  client/app/dedicated/server/statistics/rtm/dedicated-server-statistics-rtm.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(dedicated.server): remove useless tile location
  client/app/dedicated/server/location/dedicated-server-location.html
Due: htmlhint 'client/**/*.html'

fix(billing.services): use right support phone number
  client/app/account/billing/autoRenew/delete/billing-autoRenew-delete.controller.js
  client/app/account/billing/autoRenew/delete/billing-autoRenew-delete.html
  client/app/app.js
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/user/user.service.js
  client/app/config/constants.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server): set right support phone number for each sub
  client/app/dedicated/server/terminate/dedicated-server-terminate.controller.js
  client/app/dedicated/server/terminate/dedicated-server-terminate.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(backup.enable-agora): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
Due: eslint --fix

style(datastore): change indentation
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
Due: eslint --fix

style(host.order-us): change function order
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

refactor(host.order-us): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

refactor(host.order-us): move data initialization to method
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

style(dedicated-cloud): change indentation
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

fix(dedicated-cloud): add missing annotation
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

style(dedicated-cloud): reoreder properties alphabetically
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

feat(dedicated-cloud): resolve current service
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

build: bump ui-router version
  package.json
  yarn.lock
Due: none

fix(license): remove supernumerary ngController
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
Due: htmlhint 'client/**/*.html'

style(license.enable): change indentation
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

refactor(license.enable): reorder parameters alphabetically
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

fix(license.enable): add missing annotation
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(license.enable): allow route for all subs
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(license): use legacy order everywhere necessary
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

refactor(license.enable): rename legacy controller
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(license.enable): move legacy files to dedicated folder
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(license.enable): rename files and controller
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.html
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): remove surnumerary controller
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html'

refactor(backup.enable): rename legacy funnel
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix
