Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

refactor(license.enable): change indentation && return Promises
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
Due: eslint --fix

refactor(dedicated-cloud): remove reference to deprecated offer
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.controller.js
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(license): use legacy order everywhere necessary
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(resource.legacy): turn into class
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
Due: eslint --fix

fix(datacenter): display that data is soon available
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: none

refactor(license.enable): rename files and controller
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.html
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(host): rename order funnel
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(tiles.options): remove left padding
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
Due: htmlhint 'client/**/*.html'

style(backup.enable): change indentation
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
Due: eslint --fix

feat(options): only display Certifications when one is orderable
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter): allow ordering for all subsidiaries
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html'

refactor(resource.upgrade): use functions better
  client/app/dedicatedCloud/resource/upgrade/controller.js
Due: eslint --fix

style(host.order-us): change function order
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

refactor(datastore): rename legacy order funnel
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

style(resource.legacy): change indentation and reorder injections
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
Due: eslint --fix

fix(datacenter.options.order): fix no default payment means messages
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

style(dedicated-cloud): change indentation
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(backup.enable): rename legacy funnel
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
Due: eslint --fix

feat(resource): rename legacy order funnel
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.controller.js
  client/app/dedicatedCloud/resource/upgradeLegacy/dedicatedCloud-resource-upgradeLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): remove unused injection
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
Due: eslint --fix

fix(datacenter): remove surnumerary controller
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html'

fix(tiles.options): handle expired checkouts
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): remove duplicate message
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html'

feat(order): allow resuming order at the correct place
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/state.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/component.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/service.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(options): handle option status per option
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/pendingOrderService.js
Due: eslint --fix

fix: reviews
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(options.order): save pending order to variable
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(dedicatedcloud.dashboard): fix labels ng inject
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/service.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/step.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/service.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: restore rebase errors
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(backup.enable): use string interpolation
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
Due: eslint --fix

fix(backup): restore functionality
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(datacenter.datastore): extract functions to own service
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.service.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

fix(datacenter): add missing annotation
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datastore-datacenter.routes.js
Due: eslint --fix

refactor(datacenter.host): use object destructuration
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

fix(datacenters): change paths to target correctly
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix

feat(order): hide modify menu item when needed
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

refactor(datacenter): use object destructuring
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
Due: eslint --fix

refactor(datacenter.datastore): move logic to own function
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

fix(backup.enable): add missing annotation
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
Due: eslint --fix
