Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

build(webpack): remove resolve.symlinks options (#1311)
  webpack.config.js
Due: eslint --fix

fix(sidebar): use nasha from cloud manager
  package.json
  yarn.lock
Due: none

fix: update manager urls
  client/app/account/user/ssh/user-ssh.service.js
  client/app/config/constants.config.js
Due: eslint --fix

fix: update manager urls (#1316)
  client/app/account/user/ssh/user-ssh.service.js
  client/app/config/constants.config.js
Due: eslint --fix

fix(account.user.ssh): update url to cloud ssh addition
  client/app/account/user/ssh/user-ssh.service.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 9]
  client/app/account/billing/translations/Messages_pt_PT.json
  client/app/account/otrs/translations/Messages_pl_PL.json
  client/app/account/otrs/translations/Messages_pt_PT.json
  client/app/dedicated/server/translations/Messages_pt_PT.json
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.10
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.10 (#1318)
  package.json
  yarn.lock
Due: none

release v10.22.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 10]
  client/app/account/billing/translations/Messages_pl_PL.json
Due: none

feat: add @ovh-ux/ng-ovh-request-tagger
  package.json
  yarn.lock
Due: none

fix(sidebar): use nasha from cloud manager (#1315)
  package.json
  yarn.lock
Due: none

release v10.22.2
  CHANGELOG.md
  package.json
Due: none

feat(billing.payment.method): wip - handle paypal in context
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  webpack.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

build: add ng-ovh-payment-method v3.3.0
  package.json
  yarn.lock
Due: none

feat(dedicated.server): disable firewall and backup section in US (#1244)
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/firewall/dedicated-server-firewall.routes.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat: add @ovh-ux/ng-ovh-request-tagger (#1321)
  package.json
  yarn.lock
Due: none

release v10.23.0
  CHANGELOG.md
  package.json
Due: none

feat(billing.payment.method.add): remove billingContactId (#1285)
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/app.js
  client/app/components/paymentMethod/services/billing-payment-method.constant.js
  client/app/components/paymentMethod/services/billing-payment-method.service.js
  client/app/components/paymentMethod/services/me-payment-method.service.js
  client/app/components/paymentMethod/vantiv/billing-vantiv-configurator.provider.js
  client/app/components/paymentMethod/vantiv/billing-vantiv-instance.service.js
  client/app/components/paymentMethod/vantiv/billing-vantiv.constants.js
  client/app/components/paymentMethod/vantiv/billing-vantiv.factory.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.24.0
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.server): prevent api calls
  client/app/dedicated/server/dedicated-server.controller.js
Due: eslint --fix

release v10.24.1
  CHANGELOG.md
  package.json
Due: none

fix(ip): fix game names in ip config
  client/app/ip/ip/firewall/game/ip-ip-firewall-game.constants.js
  client/app/ip/ip/firewall/game/rule/add/ip-ip-firewall-game-rule-add.controller.js
  client/app/ip/translations/Messages_de_DE.json
  client/app/ip/translations/Messages_en_GB.json
  client/app/ip/translations/Messages_es_ES.json
  client/app/ip/translations/Messages_es_US.json
  client/app/ip/translations/Messages_fi_FI.json
  client/app/ip/translations/Messages_fr_CA.json
  client/app/ip/translations/Messages_fr_FR.json
  client/app/ip/translations/Messages_it_IT.json
  client/app/ip/translations/Messages_lt_LT.json
  client/app/ip/translations/Messages_nl_NL.json
  client/app/ip/translations/Messages_pl_PL.json
  client/app/ip/translations/Messages_pt_PT.json
Due: eslint --fix

refactor(payment.method): depreciate some old method using paymentMean
  client/app/components/user/user.service.js
  client/app/dedicated/server/dedicated-server.controller.js
Due: eslint --fix

build: staging purpose
  package.json
  yarn.lock
Due: none

refactor(dedicated.servers): core review fixes
  client/app/app.js
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.module.js
  webpack.config.js
  yarn-error.log
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server): overview of all servers (#1331)
  client/app/app.js
  client/app/dedicated/server/servers/servers.component.js
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.module.js
  client/app/dedicated/server/servers/servers.routing.js
  client/app/dedicated/server/servers/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.support-levels): minor ui improvements
  client/app/account/user/support-level/index.less
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(dedicated.servers): add column displayName
  client/app/dedicated/server/servers/servers.component.js
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.routing.js
  client/app/dedicated/server/servers/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.servers): add order tracker
  client/app/dedicated/server/servers/servers.html
Due: htmlhint 'client/**/*.html'

fix(i18n): add missing translations [CDS 17]
  client/app/account/otrs/translations/Messages_en_GB.json
  client/app/account/otrs/translations/Messages_fi_FI.json
  client/app/account/otrs/translations/Messages_lt_LT.json
Due: none

fix(dedicated.servers): reset page number when filtering
  client/app/dedicated/server/servers/servers.routing.js
Due: eslint --fix

fix(ip): add constants to fix game names in ip config (#1317)
  client/app/ip/ip/firewall/game/ip-ip-firewall-game.constants.js
  client/app/ip/ip/firewall/game/rule/add/ip-ip-firewall-game-rule-add.controller.js
  client/app/ip/translations/Messages_de_DE.json
  client/app/ip/translations/Messages_en_GB.json
  client/app/ip/translations/Messages_es_ES.json
  client/app/ip/translations/Messages_es_US.json
  client/app/ip/translations/Messages_fi_FI.json
  client/app/ip/translations/Messages_fr_CA.json
  client/app/ip/translations/Messages_fr_FR.json
  client/app/ip/translations/Messages_it_IT.json
  client/app/ip/translations/Messages_lt_LT.json
  client/app/ip/translations/Messages_nl_NL.json
  client/app/ip/translations/Messages_pl_PL.json
  client/app/ip/translations/Messages_pt_PT.json
Due: eslint --fix

feat(pcc.datacenter.drp): add zerto on premises translations
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/summary/delete/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: none

feat(billing.payment.method): re-enable contactId for VANTIV_IFRAME
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
Due: htmlhint 'client/**/*.html', eslint --fix

build(package.json): add ng-ovh-payment-method branch for test
  package.json
  yarn.lock
Due: none

refactor(dedicated.server.servers): replace some deprecated stateParams
  client/app/dedicated/server/servers/servers.routing.js
Due: eslint --fix

fix: use isPaymentMethodTypeRequiringContactId method
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
Due: eslint --fix

refactor(dedicated.server.servers): replace some deprecated stateParams (#1337)
  client/app/dedicated/server/servers/servers.routing.js
Due: eslint --fix
