Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

Update README.md (#1551)
  README.md
Due: none

fix(i18n): add missing translations [CDS 106]
  client/app/billing/autoRenew/bulk/translations/Messages_pl_PL.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_pl_PL.json
  client/app/dedicated/server/interfaces/translations/Messages_pl_PL.json
  client/app/dedicated/server/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations [CDS 109]
  client/app/billing/autoRenew/bulk/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/disable/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/enable/translations/Messages_pl_PL.json
Due: none

build: activate the new chatbot
  client/app/app.js
  client/app/components/user/session/user-session.controller.js
  client/app/index.html
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 118]
  client/app/billing/payment/method/add/translations/Messages_pl_PL.json
  client/app/billing/payment/method/add/views/billingContact/translations/Messages_pl_PL.json
  client/app/billing/payment/method/add/views/legacyBankAccount/translations/Messages_pl_PL.json
  client/app/billing/payment/method/default/translations/Messages_pl_PL.json
  client/app/billing/payment/method/delete/translations/Messages_pl_PL.json
  client/app/billing/payment/method/edit/translations/Messages_pl_PL.json
Due: none

refactor(pcc.datacenter.drp): move activation at step 2 validation
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): rename drp service
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: eslint --fix

refactor(pcc): expose pcc drp at top level
  client/app/dedicatedCloud/dashboard/dashboard.component.js
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/legacy.component.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.dashboard): set drp informations on pcc dashboard
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter): change dashboard into a oui tile component
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.datacenter.dashboard): add zerto informations
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): set delete drp modal as a module
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.html
  client/app/dedicatedCloud/datacenter/drp/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/delete/dedicatedCloud-datacenter-drp-confirmationStep-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): use current drp informations in last step
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.component.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc): set delete drp action to pcc legacy dashboards
  client/app/app.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): move confirmation step to summary
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.component.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/datacenter/drp/summary/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_pl_PL.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(drp): make ovh type path and steps as components
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.routes.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: eslint --fix

feat(drp): add on premises steps translations
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_GB.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pt_PT.json
Due: none

feat(pcc.datacenter.drp): add on premises steps
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): rename on premises to on premise
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(drp): update ovh-api-services
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
Due: eslint --fix

feat(drp): add vpn configuration
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.datacenter.drp): activate on premise agora order
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

feat(pcc.datacenter.drp): display alerts message at different places
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.component.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.html
  client/app/dedicatedCloud/datacenter/drp/alerts/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(drp): typos
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/index.js
Due: eslint --fix

refactor(drp): use current service for pcc informations
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.component.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

refactor(drp): simplify data used for deletion
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

fix(drp): fix local vra network input field
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
Due: htmlhint 'client/**/*.html'

fix(drp): return to choice step correctly
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: eslint --fix

feat(pcc): add modal to select datacenter for drp
  client/app/dedicatedCloud/dashboard/dashboard.component.js
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.component.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.component.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.controller.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.html
  client/app/dedicatedCloud/drpDatacenterSelection/index.js
  client/app/dedicatedCloud/drpDatacenterSelection/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: update zerto images
  client/app/images/drp/zerto-one-and-one-pcc.svg
  client/app/images/drp/zerto-two-pcc.svg
Due: none

refactor: make delete drp modal as a state
  client/app/app.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/datacenter/dashboard/deleteDrp/index.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.component.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.html
  client/app/dedicatedCloud/datacenter/drp/summary/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/index.js
  client/app/dedicatedCloud/deleteDrp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc.drp): fix state reload after validation
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: eslint --fix

refactor: extract constants from angular
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): fix vpn status to status returned by API
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc.drp): use correct delivering constant
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
Due: eslint --fix

fix(pcc): change step 2 button text
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html'

fix(pcc): display correct status for plan in error
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: hide actions during vpn configuration
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): disable actions for concerned plan or vpn errors
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
Due: htmlhint 'client/**/*.html', eslint --fix
