Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(billing.autorenew): fix datagrid sorting on serviceId
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): remove duplicate error messages
  client/app/components/name-edition/name-edition.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/mailing-list/subscribe/dedicatedCloud-mailing-list-subscribe.controller.js
  client/app/dedicatedCloud/operation/dedicatedCloud-operation.controller.js
  client/app/dedicatedCloud/resource/upgrade/upgrade.controller.js
  client/app/dedicatedCloud/security-options/dedicatedCloud-security-option-order.controller.js
  client/app/dedicatedCloud/security-options/dedicatedCloud-security-options.controller.js
  client/app/dedicatedCloud/terminate/confirm/dedicatedCloud-terminate-confirm.controller.js
  client/app/dedicatedCloud/terminate/dedicatedCloud-terminate.controller.js
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.controller.js
  client/app/dedicatedCloud/user/dedicatedCloud-user.html
  client/app/dedicatedCloud/user/edit/dedicatedCloud-user-edit.controller.js
  client/app/dedicatedCloud/user/password/reset/dedicatedCloud-user-password-reset.controller.js
  client/app/dedicatedCloud/vmware-option/disable/dedicatedCloud-vmware-option-disable.controller.js
  client/app/dedicatedCloud/vmware-option/order/dedicatedCloud-vmware-option-order.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

style(ip): remove commented code
  client/app/ip/ip/block/move/ip-ip-block-move.controller.js
Due: eslint --fix

refactor(pcc-dashboard): refactor margin usage
  client/app/dedicatedCloud/dashboard/dashboard.html
Due: htmlhint 'client/**/*.html'

refactor(pcc-dashboard-service-management): move files
  client/app/dedicatedCloud/dashboard/tiles/service-management/index.js
  client/app/dedicatedCloud/dashboard/tiles/service-management/service-management.component.js
  client/app/dedicatedCloud/dashboard/tiles/service-management/service-management.html
  client/app/dedicatedCloud/dashboard/tiles/service-management/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc-dashboard-general-information): move files
  client/app/dedicatedCloud/dashboard/tiles/general-information/general-information.component.js
  client/app/dedicatedCloud/dashboard/tiles/general-information/general-information.controller.js
  client/app/dedicatedCloud/dashboard/tiles/general-information/general-information.html
  client/app/dedicatedCloud/dashboard/tiles/general-information/index.js
  client/app/dedicatedCloud/dashboard/tiles/general-information/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/dashboard/tiles/generalInformation/controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc-stepper): export into own component
  client/app/components/stepper/components/button/navigation-button.component.js
  client/app/components/stepper/components/button/navigation-button.constants.js
  client/app/components/stepper/components/button/navigation-button.controller.js
  client/app/components/stepper/components/button/navigation-button.html
  client/app/components/stepper/components/button/translations/Messages_fr_FR.json
  client/app/components/stepper/components/header/header.component.js
  client/app/components/stepper/components/header/header.html
  client/app/components/stepper/components/header/index.js
  client/app/components/stepper/components/header/translations/Messages_fr_FR.json
  client/app/components/stepper/index.js
  client/app/components/stepper/step/step.constants.js
  client/app/components/stepper/step/step.header.js
  client/app/components/stepper/step/step.js
  client/app/components/stepper/step/step.navigation.js
  client/app/components/stepper/stepper.component.js
  client/app/components/stepper/stepper.controller.js
  client/app/components/stepper/stepper.html
  client/app/components/stepper/stepper.navigation.js
  client/app/components/stepper/stepper.state-management.js
  client/app/components/stepper/stepper.step-collection.js
  client/app/components/stepper/stepper.transition-management.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/component.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/component.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc-dashboard-options): display order status more accurate
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/options/activationStatus/activationStatus.component.js
  client/app/dedicatedCloud/dashboard/options/activationStatus/activationStatus.html
  client/app/dedicatedCloud/dashboard/options/index.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/index.js
  client/app/dedicatedCloud/dashboard/options/order/stepper/index.js
  client/app/dedicatedCloud/dashboard/options/preference/preference.constants.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.component.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.constants.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.controller.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.html
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/activation-status.less
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/components/activation-status/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/basic-option.component.js
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/basic-option.html
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/basic-option/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/certification.component.js
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/certification.html
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/options-description.service.js
  client/app/dedicatedCloud/dashboard/tiles/options/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/bindings/bindings.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/order/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/order/order.constants.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/order/order.service.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/user/index.js
  client/app/dedicatedCloud/dashboard/tiles/options/models/user/user.service.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.component.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.constants.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.controller.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.html
  client/app/dedicatedCloud/dashboard/tiles/options/options.service.js
  client/app/dedicatedCloud/dashboard/tiles/options/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(pcc-service-pack): create picker component
  client/app/dedicatedCloud/dashboard/options/order/options.component.js
  client/app/dedicatedCloud/service-pack/components/picker/index.js
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.component.js
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.controller.js
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.html
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.less
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor(pcc-service-pack-option): remove deprecated type of SP
  client/app/dedicatedCloud/service-pack/option/option.constants.js
Due: eslint --fix

refactor(pcc-service-pack-options): rename fonctions to uniformize
  client/app/dedicatedCloud/dashboard/options/servicePack/option/index.js
  client/app/dedicatedCloud/dashboard/options/servicePack/option/option.service.js
  client/app/dedicatedCloud/service-pack/option/index.js
  client/app/dedicatedCloud/service-pack/option/option.service.js
Due: eslint --fix

feat(pcc-service-pack-upgrade): export upgrade types into components
  client/app/dedicatedCloud/dashboard/options/order/options.controller.js
  client/app/dedicatedCloud/service-pack/service-pack.service.js
  client/app/dedicatedCloud/service-pack/upgrade/index.js
  client/app/dedicatedCloud/service-pack/upgrade/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/basicOptions.routing.js
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/basicOptions.service.js
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/basicOptions.steps.js
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/index.js
  client/app/dedicatedCloud/service-pack/upgrade/types/basicOptions/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/certification.routing.js
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/certification.service.js
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/certification.steps.js
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/index.js
  client/app/dedicatedCloud/service-pack/upgrade/types/certification/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/configuration-only.routing.js
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/configuration-only.steps.js
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/index.js
  client/app/dedicatedCloud/service-pack/upgrade/types/configuration-only/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.component.js
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.html
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.routing.js
  client/app/dedicatedCloud/service-pack/upgrade/upgrade.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): handle expired services better
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

Fix/autorenew (#1338)
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.component.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.html
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.html
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): handle if autorenew has never been active (#1348)
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.html
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.26.1
  CHANGELOG.md
  package.json
Due: none

feat(billing.autorenew): add tracking
  client/app/billing/autoRenew/actions/activation/activation.controller.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.controller.js
  client/app/billing/autoRenew/actions/debtBeforePaying/debtBeforePaying.routing.js
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
  client/app/billing/autoRenew/actions/terminate/terminate.controller.js
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/actions/update/update.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(service-pack): add support for hourly billing
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.html
  client/app/dedicatedCloud/service-pack/service-pack.service.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/configure-users.component.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/configure-users.html
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/confirm.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/confirm.html
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/place-order.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/selection.controller.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/selection.html
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/selection.state.js
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc-dashboard-options): delete pending order if checkout is expired
  client/app/dedicatedCloud/dashboard/tiles/options/options.service.js
Due: eslint --fix

fix(pcc-dashboard-options): display validation menu item for
  client/app/dedicatedCloud/dashboard/tiles/options/models/bindings/bindings.js
Due: eslint --fix

fix(pcc-dashboard-options): allow user to order service pack while
  client/app/dedicatedCloud/dashboard/tiles/options/models/bindings/bindings.js
Due: eslint --fix

feat(billing.autorenew): add bulk action pages (#1267)
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/bulk/bulk.component.js
  client/app/billing/autoRenew/bulk/bulk.controller.js
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/bulk.module.js
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/billing-autoRenew-disable.html
  client/app/billing/autoRenew/disable/disable.component.js
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/disable/disable.html
  client/app/billing/autoRenew/disable/disable.module.js
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/disable/disable.service.js
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/enable/enable.component.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.html
  client/app/billing/autoRenew/enable/enable.module.js
  client/app/billing/autoRenew/enable/enable.routing.js
  client/app/billing/autoRenew/enable/enable.service.js
  client/app/billing/autoRenew/enable/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add form for renewal type choice
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.component.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.html
  client/app/billing/autoRenew/actions/update/automatic/automatic.module.js
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/form/form.component.js
  client/app/billing/autoRenew/actions/update/form/form.constants.js
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/actions/update/form/form.html
  client/app/billing/autoRenew/actions/update/form/form.module.js
  client/app/billing/autoRenew/actions/update/form/form.service.js
  client/app/billing/autoRenew/actions/update/form/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.component.js
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.html
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.module.js
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.component.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.html
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.module.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.component.js
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/actions/update/update.html
  client/app/billing/autoRenew/actions/update/update.module.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/active/AutoRenewActivation.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/enable/billing-autoRenew-enable.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/update/billing-autoRenew-update.controller.js
  client/app/billing/autoRenew/update/billing-autoRenew-update.html
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.service): turn service to a class and extract constants
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

fix(billing): inject module dependencies
  client/app/billing/billing.module.js
Due: eslint --fix

refactor(billing): split routing into submodules
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/billing.module.js
  client/app/billing/billing.routing.js
  client/app/billing/billingApp.module.js
  client/app/billing/confirmTerminate/termination.module.js
  client/app/billing/confirmTerminate/termination.routing.js
  client/app/billing/orders/orders.module.js
  client/app/billing/orders/orders.routing.js
  client/app/billing/orders/retraction/retraction.module.js
  client/app/billing/orders/retraction/retraction.routing.js
  client/app/billing/sla/sla.module.js
  client/app/billing/sla/sla.routing.js
Due: eslint --fix

fix(billing.autorenew): import missing constant
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

feat(billing.autorenew): regroup sidebar menu into tabs
  client/app/account/user/agreements/user-agreements.html
  client/app/account/user/agreements/user-agreements.routes.js
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/details/details.module.js
  client/app/billing/autoRenew/agreements/details/details.routing.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.html
  client/app/billing/autoRenew/agreements/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/user-agreements.constant.js
  client/app/billing/autoRenew/agreements/user-agreements.controller.js
  client/app/billing/autoRenew/agreements/user-agreements.html
  client/app/billing/autoRenew/agreements/user-agreements.module.js
  client/app/billing/autoRenew/agreements/user-agreements.routes.js
  client/app/billing/autoRenew/agreements/user-agreements.service.js
  client/app/billing/autoRenew/billing-autoRenew.controller.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/translations/Messages_fr_FR.json
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): use state for cancel resiliation modal
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.component.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.controller.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.html
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.module.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.controller.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing): add ssh keys tab
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.controller.js
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.html
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.controller.js
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.html
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.controller.js
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.html
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/ssh.routing.js
  client/app/billing/autoRenew/ssh/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.html
  client/app/billing/autoRenew/ssh/user-ssh.service.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.controller.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/billing.controller.js
  client/app/billing/billing.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): update actions for services with resiliation
  client/app/app.js
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.html
  client/app/billing/autoRenew/actions/delete/delete.component.js
  client/app/billing/autoRenew/actions/delete/delete.routing.js
  client/app/billing/autoRenew/actions/delete/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/config/constants.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): display renew link only for service in autorenew
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): fix search criteria on load
  client/app/billing/autoRenew/autorenew.controller.js
Due: eslint --fix

fix(billing.autorenew): add missing injection
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
Due: eslint --fix

fixup! fix(billing.autorenew): display renew link only for service in autorenew
  yarn.lock
Due: none
