Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(dedicated.servers): reset page number when filtering (#1333)
  client/app/dedicated/server/servers/servers.routing.js
Due: eslint --fix

build(package.json): update ng-ovh-payment-method to v4.1.0
  package.json
  yarn.lock
Due: none

feat(billing.autorenew): regroup sidebar menu into tabs
  client/app/account/user/agreements/user-agreements.html
  client/app/account/user/agreements/user-agreements.routes.js
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/details/details.module.js
  client/app/billing/autoRenew/agreements/details/details.routing.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.html
  client/app/billing/autoRenew/agreements/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/user-agreements.constant.js
  client/app/billing/autoRenew/agreements/user-agreements.controller.js
  client/app/billing/autoRenew/agreements/user-agreements.html
  client/app/billing/autoRenew/agreements/user-agreements.module.js
  client/app/billing/autoRenew/agreements/user-agreements.routes.js
  client/app/billing/autoRenew/agreements/user-agreements.service.js
  client/app/billing/autoRenew/billing-autoRenew.controller.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/translations/Messages_fr_FR.json
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing): split routing into submodules
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/billing.module.js
  client/app/billing/billing.routing.js
  client/app/billing/billingApp.module.js
  client/app/billing/confirmTerminate/termination.module.js
  client/app/billing/confirmTerminate/termination.routing.js
  client/app/billing/orders/orders.module.js
  client/app/billing/orders/orders.routing.js
  client/app/billing/orders/retraction/retraction.module.js
  client/app/billing/orders/retraction/retraction.routing.js
  client/app/billing/sla/sla.module.js
  client/app/billing/sla/sla.routing.js
Due: eslint --fix

fix(billing): inject module dependencies
  client/app/billing/billing.module.js
Due: eslint --fix

fix(billing.autorenew): import missing constant
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

feat(billing.autorenew): add form for renewal type choice
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.component.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.html
  client/app/billing/autoRenew/actions/update/automatic/automatic.module.js
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/form/form.component.js
  client/app/billing/autoRenew/actions/update/form/form.constants.js
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/actions/update/form/form.html
  client/app/billing/autoRenew/actions/update/form/form.module.js
  client/app/billing/autoRenew/actions/update/form/form.service.js
  client/app/billing/autoRenew/actions/update/form/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.component.js
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.html
  client/app/billing/autoRenew/actions/update/manualPayment/manualPayment.module.js
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.component.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.html
  client/app/billing/autoRenew/actions/update/noPaymentMean/noPaymentMean.module.js
  client/app/billing/autoRenew/actions/update/noPaymentMean/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.component.js
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/actions/update/update.html
  client/app/billing/autoRenew/actions/update/update.module.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/active/AutoRenewActivation.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.controller.js
  client/app/billing/autoRenew/active/billing-autoRenew-active.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/enable/billing-autoRenew-enable.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/update/billing-autoRenew-update.controller.js
  client/app/billing/autoRenew/update/billing-autoRenew-update.html
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add bulk action pages (#1267)
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/bulk/bulk.component.js
  client/app/billing/autoRenew/bulk/bulk.controller.js
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/bulk.module.js
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/billing-autoRenew-disable.html
  client/app/billing/autoRenew/disable/disable.component.js
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/disable/disable.html
  client/app/billing/autoRenew/disable/disable.module.js
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/disable/disable.service.js
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/enable/enable.component.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.html
  client/app/billing/autoRenew/enable/enable.module.js
  client/app/billing/autoRenew/enable/enable.routing.js
  client/app/billing/autoRenew/enable/enable.service.js
  client/app/billing/autoRenew/enable/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing): add ssh keys tab
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.html
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.controller.js
  client/app/billing/autoRenew/ssh/add/cloud/user-ssh-add-cloud.html
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.controller.js
  client/app/billing/autoRenew/ssh/add/dedicated/user-ssh-add-dedicated.html
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.controller.js
  client/app/billing/autoRenew/ssh/delete/user-ssh-delete.html
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/ssh.routing.js
  client/app/billing/autoRenew/ssh/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.html
  client/app/billing/autoRenew/ssh/user-ssh.service.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.controller.js
  client/app/billing/autoRenew/ssh/view/user-ssh-view.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/billing/billing.controller.js
  client/app/billing/billing.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.service): turn service to a class and extract constants
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

refactor(billing.autorenew): use state for cancel resiliation modal
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.component.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.controller.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.html
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.module.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.routing.js
  client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.routing.js
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/billing-autoRenew.service.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.controller.js
  client/app/billing/autoRenew/cancelDelete/billing-autoRenew-cancelDelete.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): fix translations injection
  client/app/billing/autoRenew/autorenew.module.js
Due: eslint --fix

fix(billing.autorenew): fix search criteria on load
  client/app/billing/autoRenew/autorenew.controller.js
Due: eslint --fix

fixup! fix(billing.autorenew): display renew link only for service in autorenew
  yarn.lock
Due: none

build: bump ovh-ui-angular
  package.json
  yarn.lock
Due: none

fix(billing.autorenew): update actions for services with resiliation
  client/app/app.js
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.html
  client/app/billing/autoRenew/actions/delete/delete.component.js
  client/app/billing/autoRenew/actions/delete/delete.routing.js
  client/app/billing/autoRenew/actions/delete/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/config/constants.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): use id instead of serviceId
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
  client/app/billing/autoRenew/actions/terminateEmail/email.routing.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/translations/Messages_fr_FR.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): display renew link only for service in autorenew
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): display sshkey for US
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.html
  client/app/billing/billing.routing.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): add missing injection
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
Due: eslint --fix

fix(billing.autorenew): fix actions for resiliated services
  client/app/billing/autoRenew/autorenew.html
Due: htmlhint 'client/**/*.html'

fix(billing.autorenew): reset page on search
  client/app/billing/autoRenew/autorenew.controller.js
Due: eslint --fix

fix(billing.autorenew): avoid keeping manual renew in update form
  client/app/billing/autoRenew/actions/update/form/form.controller.js
Due: eslint --fix

fix(billing.autorenew): fix sorting
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

build: target module exchange
  package.json
  yarn.lock
Due: none

feat(billing.payment.method): re-enable contactId for VANTIV_IFRAME (#1336)
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.cloud): add zerto on premises translations (#1334)
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/summary/delete/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: none

release v10.25.0
  CHANGELOG.md
  package.json
Due: none

build: set specific branch of ng-ovh-payment-method for test
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 23]
  client/app/dedicated/server/servers/translations/Messages_en_GB.json
  client/app/dedicated/server/servers/translations/Messages_fi_FI.json
  client/app/dedicated/server/servers/translations/Messages_fr_CA.json
  client/app/dedicated/server/servers/translations/Messages_lt_LT.json
Due: none

release v10.25.1
  CHANGELOG.md
  package.json
Due: none

feat(at-internet): add missing data (country, currency)
  client/app/app.js
Due: eslint --fix

feat(at-internet): add missing data (country, currency) (#1345)
  client/app/app.js
Due: eslint --fix

release v10.26.0
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 24]
  client/app/dedicated/server/servers/translations/Messages_de_DE.json
  client/app/dedicated/server/servers/translations/Messages_it_IT.json
  client/app/dedicated/server/servers/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/summary/delete/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/summary/delete/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/summary/delete/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/translations/Messages_it_IT.json
  client/app/dedicatedCloud/translations/Messages_pt_PT.json
  client/app/user-contracts/translations/Messages_de_DE.json
  client/app/user-contracts/translations/Messages_it_IT.json
  client/app/user-contracts/translations/Messages_pt_PT.json
Due: none

fix(billing.autorenew): handle if autorenew has never been active
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): prevent display errors on update
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.component.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.html
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.html
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
