Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(deps): upgrade manager-webpack-config to v3.0.0
  package.json
  yarn.lock
Due: none

feat(autorenew): disable service edition for exchange services
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(working-status): replace by new view OVH-tasks
  .eslintignore
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/product/product.service.js
  client/app/components/working-status/working-status-modal.controller.js
  client/app/components/working-status/working-status-modal.html
  client/app/components/working-status/working-status.directive.js
  client/app/components/working-status/working-status.html
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.component.js
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.html
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.routes.js
  client/app/dedicated/server/ovh-tasks/dedicated-server-ovh-tasks.service.js
  client/app/dedicated/server/ovh-tasks/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/account/billing/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
  client/app/dedicated/server/ovh-tasks/translations/Messages_fr_FR.xml
Due: none

fix(autorenew): redirect to exchange on service termination
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.bandwidth): move to dedicatedUniverseComponent
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicatedUniverseComponents/bandwidth/bandwidth.filter.js
  client/app/dedicatedUniverseComponents/bandwidth/index.js
  client/app/dedicatedUniverseComponents/bandwidth/translations/Messages_fr_FR.xml
  client/app/dedicatedUniverseComponents/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.bytes): move to dedicatedUniverseComponent
  client/app/dedicated/server/traffic/dedicated-server-traffic.service.js
  client/app/dedicatedUniverseComponents/bytes/bytes.filter.js
  client/app/dedicatedUniverseComponents/bytes/index.js
  client/app/dedicatedUniverseComponents/bytes/translations/Messages_fr_FR.xml
  client/app/dedicatedUniverseComponents/index.js
Due: eslint --fix

refactor(components.price): move to dedicatedUniverseComponent
  client/app/account/billing/ovhAccount/retrieve/billing-ovhAccount-retrieve.html
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/kvm/order/dedicated-server-kvm-order.html
  client/app/dedicated/server/pro-use/order/dedicated-server-pro-use-order.html
  client/app/dedicated/server/traffic/order/dedicated-server-traffic-order.html
  client/app/dedicated/server/usb-storage/order/dedicated-server-usb-storage-order.html
  client/app/dedicatedCloud/resource/upgrade/dedicatedCloud-resource-upgrade.html
  client/app/dedicatedUniverseComponents/index.js
  client/app/dedicatedUniverseComponents/price/index.js
  client/app/dedicatedUniverseComponents/price/price.filter.js
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_FR.xml
  client/app/ip/ip/order/durations.html
  client/app/ip/ip/order/durationsPCC.html
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.html
  client/app/license/order/license-order.html
  client/app/license/upgrade/license-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.translate): move to dedicatedUniverseComponent
  client/app/account/otrs/detail/otrs-detail.html
  client/app/account/otrs/otrs.html
  client/app/account/user/contacts/request/user-contacts-request.html
  client/app/account/user/contacts/update/user-contacts-update.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/installation/gabarit/dedicated-server-installation-gabarit.html
  client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
  client/app/dedicated/server/task/dedicated-server-task.html
  client/app/dedicatedCloud/user/add/dedicatedCloud-user-add.html
  client/app/dedicatedUniverseComponents/index.js
  client/app/dedicatedUniverseComponents/translate/index.js
  client/app/dedicatedUniverseComponents/translate/translate-alt.filter.js
  client/app/ip/ip-lb/backend/add/ip-ip-lb-backend-add.html
  client/app/ip/ip-lb/backend/probe/ip-ip-lb-backend-probe.html
  client/app/ip/ip-lb/ip-ip-lb.html
  client/app/ip/ip/block/move/ip-ip-block-move.html
  client/app/ip/ip/firewall/game/rule/add/ip-ip-firewall-game-rule-add.html
  client/app/ip/ip/ip-ip.html
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.html
  client/app/ip/ip/organisation/add-or-edit/ip-ip-organisation-add-or-edit.html
  client/app/ip/ip/organisation/view/ip-ip-organisation-view.html
  client/app/license/upgrade/SQLSERVER.html
  client/app/license/upgrade/WINDOWS.html
  client/app/license/upgrade/WORKLIGHT.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.ovhtaskfollow): remove unused component
  client/app/components/ovh-task-follow/modal/ovh-task-follow-modal.controller.js
  client/app/components/ovh-task-follow/modal/ovh-task-follow-modal.html
  client/app/components/ovh-task-follow/ovh-task-follow.component.controller.js
  client/app/components/ovh-task-follow/ovh-task-follow.component.js
  client/app/components/ovh-task-follow/ovh-task-follow.html
  client/app/index.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.feature): remove hasNas
  client/app/components/feature-availability/feature-availability.service.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
Due: eslint --fix

refactor(components.feature): remove hasCdn
  client/app/components/feature-availability/feature-availability.service.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
Due: eslint --fix

refactor(components.feature): remove hasPCC
  client/app/components/feature-availability/feature-availability.service.js
  client/app/configuration/configuration.controller.js
Due: eslint --fix

refactor(components.feature): remove hasPCI
  client/app/components/feature-availability/feature-availability.service.js
Due: eslint --fix

refactor(components.feature): remove hasVrack
  client/app/components/feature-availability/feature-availability.service.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
Due: eslint --fix

refactor(components.feature): remove unused functions
  client/app/components/feature-availability/feature-availability.service.js
Due: eslint --fix

refactor(components.feature): remove hasExchange
  client/app/components/feature-availability/feature-availability.service.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
  client/app/components/user/session/user-session.service.js
Due: eslint --fix

refactor(components.feature): remove allowVrackOrder
  client/app/components/feature-availability/feature-availability.service.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
Due: eslint --fix

refactor(components.feature): remove hasTwoFactorAuthentication
  client/app/account/user/security/sms/user-security-sms.service.js
  client/app/components/feature-availability/feature-availability.service.js
Due: eslint --fix

refactor(components.feature): move ip feature availability
  client/app/components/address/address.filter.js
  client/app/components/feature-availability/feature-availability.service.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
  client/app/ip/ip-feature-availability.js
  client/app/ip/ip.controller.js
  client/app/ip/ip/ip-ip.controller.js
  client/app/ip/ip/organisation/add-or-edit/ip-ip-organisation-add-or-edit.controller.js
  client/app/ip/ip/organisation/view/ip-ip-organisation-view.controller.js
Due: eslint --fix

refactor(components.feature): move license feature availability
  client/app/components/feature-availability/feature-availability.service.js
  client/app/license/license-feature-availability.js
  client/app/license/license.service.js
  client/app/license/order/license-order.controller.js
  client/app/license/order/license-order.service.js
Due: eslint --fix

refactor(components.feature): move dedicated server feature availability
  client/app/components/feature-availability/feature-availability.service.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server-feature-availability.js
  client/app/dedicated/server/dedicated-server-tabs.controller.js
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.controller.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
  client/app/dedicated/server/terminate/dedicated-server-terminate.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.feature): move feature availability
  client/app/account/billing/main/payments/billing-payments.controller.js
  client/app/components/feature-availability/feature-availability.service.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/user-contracts/user-contracts.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ui-angular): ovh-ui-angular patch update
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ovh-ui-angular to v2.22.1
  package.json
  yarn.lock
Due: none

fix(autorenew): update automatic payment enable/disable conditions
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(components.feature): remove unused featureAvailability
  client/app/account/billing/main/payments/billing-payments.controller.js
  client/app/components/user/session/user-session.service.js
  client/app/configuration/configuration.controller.js
  client/app/dedicated/housing/dedicated-housing.controller.js
  client/app/user-contracts/user-contracts.controller.js
Due: eslint --fix

fix(dedicated.ipmi): fix kvm order
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/ipmi/dedicated-server-ipmi.controller.js
Due: eslint --fix

fix(deps): upgrade ovh-module-exchange to v9.1.0
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ovh-api-services to v3.24.0
  package.json
  yarn.lock
Due: none

release v10.6.0
  CHANGELOG.md
  package.json
Due: none
