Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

build: bump ovh-ui-angular
  package.json
  yarn.lock
Due: none

fix(billing.autorenew): fix translations injection
  client/app/billing/autoRenew/autorenew.module.js
Due: eslint --fix

fix(billing.autorenew): use id instead of serviceId
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
  client/app/billing/autoRenew/actions/terminateEmail/email.routing.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/translations/Messages_fr_FR.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): display sshkey for US
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.html
  client/app/billing/billing.routing.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

Fix/autorenew (#1338)
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.component.js
  client/app/billing/autoRenew/actions/update/automatic/automatic.html
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/form/form.controller.js
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/update/update.html
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build: bump ovh-module-exchange to v9.4.7
  package.json
  yarn.lock
Due: none

build(package.json): update ng-ovh-sso-auth to v4.2.0
  package.json
  yarn.lock
Due: none

fix(pcc-service-pack): change some texts
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.controller.js
  client/app/dedicatedCloud/service-pack/components/picker/service-pack-picker.html
  client/app/dedicatedCloud/service-pack/service-pack.service.js
  client/app/dedicatedCloud/service-pack/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/place-order/confirm/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade ng-ovh-sso-auth to v4.2.0 (#1352)
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 25]
  client/app/account/otrs/translations/Messages_es_ES.json
  client/app/dedicated/server/servers/translations/Messages_es_ES.json
  client/app/dedicated/server/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/summary/delete/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_de_DE.json
  client/app/dedicatedCloud/translations/Messages_de_DE.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_es_ES.json
  client/app/error/translations/Messages_es_ES.json
  client/app/user-contracts/translations/Messages_es_ES.json
Due: none

feat(billing.autorenew): add tracking
  client/app/billing/autoRenew/actions/activation/activation.controller.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.controller.js
  client/app/billing/autoRenew/actions/debtBeforePaying/debtBeforePaying.routing.js
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
  client/app/billing/autoRenew/actions/terminate/terminate.controller.js
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/actions/update/update.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew.actions): add tracking (#1353)
  client/app/billing/autoRenew/actions/activation/activation.controller.js
  client/app/billing/autoRenew/actions/cancel-resiliation/cancel-resiliation.controller.js
  client/app/billing/autoRenew/actions/debtBeforePaying/debtBeforePaying.routing.js
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
  client/app/billing/autoRenew/actions/terminate/terminate.controller.js
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/actions/update/update.html
Due: htmlhint 'client/**/*.html', eslint --fix

docs: remove CODE_OF_CONDUCT.md file.
  CODE_OF_CONDUCT.md
Due: none

fix(billing.autorenew): correct transation
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
Due: none

docs: remove CODE_OF_CONDUCT.md file. (#1355)
  CODE_OF_CONDUCT.md
Due: none

fix(billing.autorenew): correct transation (#1357)
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
Due: none

fix(i18n): add missing translations [CDS 28]
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/summary/delete/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations [CDS 30]
  client/app/billing/autoRenew/disable/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/disable/translations/Messages_pl_PL.json
Due: none

feat: wip refactor
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.routes.js
  client/app/account/billing/payment/method/billing-payment-method-section.service.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.routes.js
  client/app/app.js
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build(package.json): bump ng-ovh-sso-auth to v4.2.1
  package.json
  yarn.lock
Due: none

build(deps): upgrade ng-ovh-sso-auth to v4.2.1 (#1361)
  package.json
  yarn.lock
Due: none

fix(otrs): disable service types unavailable
  package.json
  yarn.lock
Due: none

fix(user): fix link to details of a contract
  client/app/billing/autoRenew/agreements/user-agreements.html
Due: htmlhint 'client/**/*.html'

release v10.26.2
  CHANGELOG.md
  package.json
Due: none

feat(billing.users.contracts): add a link for details of agreements
  client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.html
  client/app/billing/autoRenew/agreements/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/user-agreements.constant.js
Due: htmlhint 'client/**/*.html', eslint --fix

build: bump ovh-ui-angular to v3.7.4
  package.json
  yarn.lock
Due: none

build(deps): upgrade ovh-ui-angular to v3.7.4 (#1365)
  package.json
  yarn.lock
Due: none

feat(billing.users.contracts): add a link for details of agreements (#1363)
  client/app/billing/autoRenew/agreements/details/user-agreements-details.controller.js
  client/app/billing/autoRenew/agreements/details/user-agreements-details.html
  client/app/billing/autoRenew/agreements/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/agreements/user-agreements.constant.js
Due: htmlhint 'client/**/*.html', eslint --fix

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

fix(autorenew): allow access to my services page even (no autorenew)
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(deps): upgrade ng-ovh-otrs to v7.1.11 (#1354)
  package.json
  yarn.lock
Due: none

fix: remove console.log
  client/app/app.js
Due: eslint --fix

fix: remove console.log (#1367)
  client/app/app.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 32]
  client/app/billing/autoRenew/agreements/translations/Messages_de_DE.json
  client/app/billing/autoRenew/agreements/translations/Messages_en_GB.json
  client/app/billing/autoRenew/agreements/translations/Messages_es_ES.json
  client/app/billing/autoRenew/agreements/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/agreements/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/agreements/translations/Messages_lt_LT.json
  client/app/billing/autoRenew/agreements/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/agreements/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/disable/translations/Messages_es_ES.json
  client/app/billing/autoRenew/disable/translations/Messages_pt_PT.json
Due: none

refactor(billing.payment.method): wip
  client/app/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/billing/payment/method/edit/billing-payment-method-edit.controller.js
  client/app/billing/payment/method/edit/billing-payment-method-edit.routes.js
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
