Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(dedicated-cloud-datacenters): replace constant use
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud): rewrite `Controller`
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(dedicated-cloud): remove deprecated feature
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-dashboard): rewrite view
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
Due: htmlhint 'client/**/*.html'

feat(dedicated-cloud-dashboard): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(dedicated-cloud): move constants to own file
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(dedicated-cloud): rewrite `Service` as `Class`
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

refactor(dedicated-cloud-licence-enable): rewrite `Config`
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(dedicated-cloud-license-enable): allow access to route outside US
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

refactor(dedicated-cloud-license): rewrite some parts
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
  client/app/dedicatedCloud/license/dedicatedCloud-license.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud-license): replace constant use
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

fix(dedicated-cloud): rewrite some messages
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

feat(dedicated-cloud): add default alert type
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(dedicated-cloud): display error message with an error alert type
  client/app/dedicatedCloud/security/access/dedicatedCloud-security-access.controller.js
  client/app/dedicatedCloud/security/logout/dedicatedCloud-security-logout.controller.js
  client/app/dedicatedCloud/security/session-timeout/update/dedicatedCloud-security-session-timeout-update.controller.js
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.controller.js
  client/app/dedicatedCloud/user/delete/dedicatedCloud-user-delete.controller.js
  client/app/dedicatedCloud/user/disable/dedicatedCloud-user-disable.controller.js
  client/app/dedicatedCloud/user/enable/dedicatedCloud-user-enable.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

fix(dedicated-cloud-security-max-simultaneous-connection): remove label
  client/app/dedicatedCloud/security/simultaneous-connection/update/dedicatedCloud-security-max-simultaneous-connection.html
Due: htmlhint 'client/**/*.html'

refactor(dedicated-cloud-datacenter-host-order-us): rewrite `Ctrl`
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

fix: URLs to Express Order
  client/app/config/constants.config.js
Due: eslint --fix

fix(dedicated-cloud): add missing text
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(dedicated-cloud-licence): fix text display
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
Due: htmlhint 'client/**/*.html'

refactor(app): reorder imports
  client/app/app.js
Due: eslint --fix

refactor(app): reorder module dependencies
  client/app/app.js
Due: eslint --fix

refactor(app): move 'Module.exchange' to dependencies array
  client/app/app.js
Due: eslint --fix

refactor(app): make 'Module.exchange' module a bit easier to import
  client/app/app.js
Due: eslint --fix

refactor(app): reindent and chain registers better
  client/app/app.js
Due: eslint --fix

refactor(app): move module dependencies directly to module declaration
  client/app/app.js
Due: eslint --fix

build(deps): upgrade ng-ovh-swimming-poll to v4.0.0
  client/app/app.js
  client/app/dedicatedUniverseComponents/bandwidth/index.js
  client/app/dedicatedUniverseComponents/bytes/index.js
  client/app/dedicatedUniverseComponents/contract/index.js
  client/app/dedicatedUniverseComponents/notification/index.js
  client/app/dedicatedUniverseComponents/price/index.js
  client/app/dedicatedUniverseComponents/tabs/index.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

build(deps): upgrade ng-ovh-swimming-poll to v4.0.0 (#994)
  client/app/app.js
  client/app/dedicatedUniverseComponents/bandwidth/index.js
  client/app/dedicatedUniverseComponents/bytes/index.js
  client/app/dedicatedUniverseComponents/contract/index.js
  client/app/dedicatedUniverseComponents/notification/index.js
  client/app/dedicatedUniverseComponents/price/index.js
  client/app/dedicatedUniverseComponents/tabs/index.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix(cdn): fix chart data
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.controller.js
Due: eslint --fix

fix(dedicated-cloud): rename arguments from API
  client/app/app.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/template.html
  client/app/dedicatedCloud/dashboard/main/template.html
  client/app/dedicatedCloud/dashboard/optionTile/controller.js
  client/app/dedicatedCloud/dashboard/optionTile/service.js
  client/app/dedicatedCloud/dashboard/optionTile/template.html
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/servicePack/home/constants.js
  client/app/dedicatedCloud/servicePack/home/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/selection/constants.js
  client/app/dedicatedCloud/servicePack/selection/controller.js
  client/app/dedicatedCloud/servicePack/selection/template.html
  client/app/dedicatedCloud/servicePack/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): use of legacy order
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade ng-ovh-api-wrappers
  client/app/app.js
  package.json
  yarn.lock
Due: eslint --fix

feat(dedicated.server): notify installation support rendezvous
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.controller.js
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.html
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.routes.js
  client/app/dedicated/server/translations/Messages_fr_FR.xml
  client/app/images/rendezvous.svg
Due: htmlhint 'client/**/*.html', eslint --fix

fix(cdn.dedicated.manage.statistics): fix chart data (#1004)
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.controller.js
Due: eslint --fix

fix(dedicated.server): rendezvous responsive
  client/app/dedicated/server/rendezvous/dedicated-server-rendezvous.html
Due: htmlhint 'client/**/*.html'

fix(deps): upgrade ng-ovh-api-wrappers to v3.0.0 (#997)
  client/app/app.js
  package.json
  yarn.lock
Due: eslint --fix

fix: otrs module upgrade
  client/app/account/otrs/translations/Messages_cs_CZ.xml
  client/app/account/otrs/translations/Messages_de_DE.xml
  client/app/account/otrs/translations/Messages_en_ASIA.xml
  client/app/account/otrs/translations/Messages_en_AU.xml
  client/app/account/otrs/translations/Messages_en_CA.xml
  client/app/account/otrs/translations/Messages_en_GB.xml
  client/app/account/otrs/translations/Messages_en_SG.xml
  client/app/account/otrs/translations/Messages_en_US.xml
  client/app/account/otrs/translations/Messages_es_ES.xml
  client/app/account/otrs/translations/Messages_es_US.xml
  client/app/account/otrs/translations/Messages_fi_FI.xml
  client/app/account/otrs/translations/Messages_fr_CA.xml
  client/app/account/otrs/translations/Messages_fr_FR.xml
  client/app/account/otrs/translations/Messages_it_IT.xml
  client/app/account/otrs/translations/Messages_lt_LT.xml
  client/app/account/otrs/translations/Messages_nl_NL.xml
  client/app/account/otrs/translations/Messages_pl_PL.xml
  client/app/account/otrs/translations/Messages_pt_PT.xml
  client/app/app.js
  client/app/components/ovh-angular-otrs/ovh-angular-otrs.js
  client/app/css/source.less
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

refactor(cdn.dedicated): refactor cdn manage statistics
  client/app/cdn/dedicated/cdn-dedicated.routes.js
  client/app/cdn/dedicated/domain/add/cdn-dedicated-domain-add.controller.js
  client/app/cdn/dedicated/domain/add/cdn-dedicated-domain-add.html
  client/app/cdn/dedicated/domain/rule/order/cdn-dedicated-domain-rule-order.controller.js
  client/app/cdn/dedicated/domain/rule/order/cdn-dedicated-domain-rule-order.html
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.component.js
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.controller.js
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.html
  client/app/cdn/dedicated/quota/order/cdn-dedicated-quota-order.controller.js
  client/app/cdn/dedicated/quota/order/cdn-dedicated-quota-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: otrs version to point to new branch
  package.json
  yarn.lock
Due: none

fix(dedicated): change some zerto translations
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(deps): upgrade ng-at-internet to v4.0.0
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
