Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor(app): move 'Module.exchange' to dependencies array
  client/app/app.js
Due: eslint --fix

refactor(app): make 'Module.exchange' module a bit easier to import
  client/app/app.js
Due: eslint --fix

refactor(app): reindent and chain registers better
  client/app/app.js
Due: eslint --fix

refactor(app): move module dependencies directly to module declaration
  client/app/app.js
Due: eslint --fix

feat(activation-status): create ActivationStatus component
  client/app/dedicatedCloud/components/activationStatus/component.js
  client/app/dedicatedCloud/components/activationStatus/constants.js
  client/app/dedicatedCloud/components/activationStatus/controller.js
  client/app/dedicatedCloud/components/activationStatus/index.js
  client/app/dedicatedCloud/components/activationStatus/template.html
  client/app/dedicatedCloud/components/activationStatus/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): add Stepper component and its header
  client/app/dedicatedCloud/components/stepper/component.js
  client/app/dedicatedCloud/components/stepper/constant.js
  client/app/dedicatedCloud/components/stepper/controller.js
  client/app/dedicatedCloud/components/stepper/header/component.js
  client/app/dedicatedCloud/components/stepper/header/constant.js
  client/app/dedicatedCloud/components/stepper/header/index.js
  client/app/dedicatedCloud/components/stepper/header/template.html
  client/app/dedicatedCloud/components/stepper/header/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/components/stepper/index.js
  client/app/dedicatedCloud/components/stepper/step.js
  client/app/dedicatedCloud/components/stepper/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud): move legacy dashboard to own folder
  client/app/dedicatedCloud/dashboard/legacy/template.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(constants): add PCC documentation home address
  client/app/config/constants.config.js
Due: eslint --fix

refactor(dedicated-cloud): creation of a Legacy Dashboard component
  client/app/app.js
  client/app/app.routes.js
  client/app/dedicatedCloud/dashboard/legacy/component.js
  client/app/dedicatedCloud/dashboard/legacy/constant.js
  client/app/dedicatedCloud/dashboard/legacy/controller.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/template.html
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): replace use of deprecated serviceUsesAgora param
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): remove reference to deprecated offer
  client/app/dedicatedCloud/dashboard/legacy/template.html
Due: htmlhint 'client/**/*.html'

build: update uiRouter to latest version
  yarn.lock
Due: none

fix(dedicated-cloud): fix service pack usage
  client/app/dedicatedCloud/dashboard/optionTile/template.html
  client/app/dedicatedCloud/servicePack/home/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): remove unused view
  client/app/dedicatedCloud/datacenter/1000-v/dedicatedCloud-datacenter-1000-v.html
Due: htmlhint 'client/**/*.html'

fix(deps): upgrade ovh-api-services to v6.1.2
  package.json
  yarn.lock
Due: none

feat(account.billing): add exchange account renew in my services
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/account/billing/autoRenew/exchange/exchange-renew.controller.js
  client/app/account/billing/autoRenew/exchange/exchange-renew.html
  client/app/account/billing/translations/Messages_fr_FR.xml
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): create dashboard for Agora products
  client/app/app.js
  client/app/dedicatedCloud/dashboard/main/component.js
  client/app/dedicatedCloud/dashboard/main/constants.js
  client/app/dedicatedCloud/dashboard/main/index.js
  client/app/dedicatedCloud/dashboard/main/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/component.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/component.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(deps): upgrade ovh-api-services to v6.1.2 (#1011)
  package.json
  yarn.lock
Due: none

fix: otrs module upgrade
  client/app/account/otrs/translations/Messages_cs_CZ.xml
  client/app/account/otrs/translations/Messages_de_DE.xml
  client/app/account/otrs/translations/Messages_en_ASIA.xml
  client/app/account/otrs/translations/Messages_en_AU.xml
  client/app/account/otrs/translations/Messages_en_CA.xml
  client/app/account/otrs/translations/Messages_en_GB.xml
  client/app/account/otrs/translations/Messages_en_SG.xml
  client/app/account/otrs/translations/Messages_en_US.xml
  client/app/account/otrs/translations/Messages_es_ES.xml
  client/app/account/otrs/translations/Messages_es_US.xml
  client/app/account/otrs/translations/Messages_fi_FI.xml
  client/app/account/otrs/translations/Messages_fr_CA.xml
  client/app/account/otrs/translations/Messages_fr_FR.xml
  client/app/account/otrs/translations/Messages_it_IT.xml
  client/app/account/otrs/translations/Messages_lt_LT.xml
  client/app/account/otrs/translations/Messages_nl_NL.xml
  client/app/account/otrs/translations/Messages_pl_PL.xml
  client/app/account/otrs/translations/Messages_pt_PT.xml
  client/app/app.js
  client/app/components/ovh-angular-otrs/ovh-angular-otrs.js
  client/app/css/source.less
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(dedicated.server.statictics): fix for mrtg graph plot error (#984)
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
Due: eslint --fix

release v10.13.0
  CHANGELOG.md
  package.json
Due: none

fix(dedicatedCloud.translations): change some zerto translations (#1007)
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.0.0 (#1001)
  client/app/account/otrs/translations/Messages_cs_CZ.xml
  client/app/account/otrs/translations/Messages_de_DE.xml
  client/app/account/otrs/translations/Messages_en_ASIA.xml
  client/app/account/otrs/translations/Messages_en_AU.xml
  client/app/account/otrs/translations/Messages_en_CA.xml
  client/app/account/otrs/translations/Messages_en_GB.xml
  client/app/account/otrs/translations/Messages_en_SG.xml
  client/app/account/otrs/translations/Messages_en_US.xml
  client/app/account/otrs/translations/Messages_es_ES.xml
  client/app/account/otrs/translations/Messages_es_US.xml
  client/app/account/otrs/translations/Messages_fi_FI.xml
  client/app/account/otrs/translations/Messages_fr_CA.xml
  client/app/account/otrs/translations/Messages_fr_FR.xml
  client/app/account/otrs/translations/Messages_it_IT.xml
  client/app/account/otrs/translations/Messages_lt_LT.xml
  client/app/account/otrs/translations/Messages_nl_NL.xml
  client/app/account/otrs/translations/Messages_pl_PL.xml
  client/app/account/otrs/translations/Messages_pt_PT.xml
  client/app/app.js
  client/app/components/ovh-angular-otrs/ovh-angular-otrs.js
  client/app/css/source.less
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): submit translations
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/dedicated/server/translations/Messages_en_ASIA.xml
  client/app/dedicated/server/translations/Messages_en_AU.xml
  client/app/dedicated/server/translations/Messages_en_CA.xml
  client/app/dedicated/server/translations/Messages_en_SG.xml
  client/app/dedicated/server/translations/Messages_en_US.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_cs_CZ.xml
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/translations/Messages_es_US.xml
  client/app/dedicatedCloud/translations/Messages_fi_FI.xml
  client/app/dedicatedCloud/translations/Messages_fr_CA.xml
  client/app/dedicatedCloud/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_pt_PT.xml
Due: none

feat(dedicated-cloud): display loader when state transitions
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): use States to manage data retrieval
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.routes.js
  client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(constants): add Express URLs for all subs
  client/app/config/constants.config.js
Due: eslint --fix

feat(dedicated-cloud): retrieve if service uses Agora
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-backup): replace constant use
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter-datastore): refactor controller
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-datastore): replace constant use
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter): rewrite `Controller` a bit
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenter-host): rewrite `Controller`
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-host): replace constant use
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
