Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(ip): add port redirection
  client/app/ip/ip-lb/ip-ip-lb.html
Due: htmlhint 'client/**/*.html'

build(deps): upgrade stylelint to v9.9.0
  package.json
  yarn.lock
Due: none

style: apply stylelint configuration
  client/app/css/less/common/autocomplete.less
  client/app/css/less/common/global.less
  client/app/css/less/common/graphicalTools.less
  client/app/css/less/common/header.less
  client/app/css/less/common/informationBlock.less
  client/app/css/less/common/popover.less
  client/app/css/less/common/searchbar.less
  client/app/css/less/common/selectList.less
  client/app/css/less/common/serviceIcon.less
  client/app/css/less/common/table.less
  client/app/css/less/dedicated/dedicatedcloud/common.less
  client/app/css/less/dedicated/housing/stats.less
  client/app/css/less/dedicated/server/installation.less
  client/app/css/less/dedicated/server/monitoring.less
  client/app/css/less/dedicated/server/stats.less
  client/app/css/less/module/user-account/security.less
  client/app/css/less/module/vps/state.less
  client/app/css/less/utils/elements.less
  client/app/css/less/utils/function.less
  client/app/css/less/utils/variables.less
  client/app/css/source.less
Due: stylelint 'client/**/*.less' --fix

refactor(babel): remove unused configuration and dependencies
  .babelrc
  package.json
  yarn.lock
Due: none

fix(ip.ip-lb): add port redirection
  client/app/config/constants.config.js
  client/app/ip/ip-lb/ip-ip-lb.controller.js
  client/app/ip/ip-lb/ip-ip-lb.html
  client/app/ip/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/account/billing/main/history/debt/pay/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
  client/app/ip/translations/Messages_fr_FR.xml
Due: none

fix(vantiv): increasing the value of numYears to be 10 at a time
  client/app/components/paymentMethod/vantiv/billing-vantiv.factory.js
  yarn.lock
Due: eslint --fix

refactor(components.chartjs): replace by wucChartjs
  client/app/components/chartjs/chartjs.constant.js
  client/app/components/chartjs/chartjs.directive.js
  client/app/components/chartjs/chartjs.factory.js
  client/app/components/chartjs/chartjs.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.orders): fix translation
  client/app/account/billing/orders/billing-orders.html
Due: htmlhint 'client/**/*.html'

fix(billing.orders): fix bill download for delivered orders
  client/app/account/billing/orders/billing-orders.html
Due: htmlhint 'client/**/*.html'

release v10.7.7
  CHANGELOG.md
  package.json
Due: none

build(eslint): use eslint-formatter-pretty
  package.json
  yarn.lock
Due: none

refactor(components.api): replace with wucApi
  client/app/account/otrs/new-ticket/otrs-new-ticket.service.js
  client/app/components/api/Api.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/license/license.service.js
Due: eslint --fix

refactor(components.duration): replace with wucDuration
  client/app/app.js
  client/app/components/duration/durationFilter.js
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/kvm/order/dedicated-server-kvm-order.html
  client/app/dedicated/server/pro-use/order/dedicated-server-pro-use-order.html
  client/app/dedicated/server/traffic/order/dedicated-server-traffic-order.html
  client/app/dedicated/server/usb-storage/order/dedicated-server-usb-storage-order.html
  client/app/dedicatedCloud/resource/upgrade/dedicatedCloud-resource-upgrade.html
  client/app/ip/ip/order/durations.html
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.html
  client/app/license/order/license-order.html
  client/app/license/upgrade/license-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): fix autorenew activation button display
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix

fix(billing.autorenew): fix autorenew activation button display (#887)
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
Due: eslint --fix

release v10.7.8
  CHANGELOG.md
  package.json
Due: none

refactor(components.duration): replace with wucDuration (#854)
  client/app/app.js
  client/app/components/duration/durationFilter.js
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/kvm/order/dedicated-server-kvm-order.html
  client/app/dedicated/server/pro-use/order/dedicated-server-pro-use-order.html
  client/app/dedicated/server/traffic/order/dedicated-server-traffic-order.html
  client/app/dedicated/server/usb-storage/order/dedicated-server-usb-storage-order.html
  client/app/dedicatedCloud/resource/upgrade/dedicatedCloud-resource-upgrade.html
  client/app/ip/ip/order/durations.html
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.html
  client/app/license/order/license-order.html
  client/app/license/upgrade/license-upgrade.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): avoid double checking for in debt services
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
  client/app/account/billing/autoRenew/hosting/billing-autoRenew-hosting.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): allow only nic billing to pay debt
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/warnNicBilling/billing-autoRenew-warnNicBilling.controller.js
  client/app/account/billing/autoRenew/warnNicBilling/billing-autoRenew-warnNicBilling.html
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): allow only nic billing to pay debt (#890)
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/common/billing-autoRenew-common.html
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
  client/app/account/billing/autoRenew/hosting/billing-autoRenew-hosting.html
  client/app/account/billing/autoRenew/warnNicBilling/billing-autoRenew-warnNicBilling.controller.js
  client/app/account/billing/autoRenew/warnNicBilling/billing-autoRenew-warnNicBilling.html
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/account/billing/payment/method/add/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/add/views/billing-address/translations/Messages_fr_FR.xml
Due: none

fix(vantiv): increasing the value of numYears to be 10 at a time (#882)
  client/app/components/paymentMethod/vantiv/billing-vantiv.factory.js
  yarn.lock
Due: eslint --fix

fix(i18n): add missing translations for payment method
  client/app/account/billing/payment/method/add/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/add/views/billing-address/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/default/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/delete/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/edit/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/transactions/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
Due: none

fix(i18n): submit
  client/app/account/billing/payment/method/add/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/add/views/billing-address/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/default/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/delete/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/edit/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/method/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/transactions/translations/Messages_fr_FR.xml
  client/app/account/billing/payment/translations/Messages_fr_FR.xml
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: none

fix(guide-link-fix): fix guide links
  client/app/config/constants.config.js
Due: eslint --fix

fix(config): update some guide links (#893)
  client/app/config/constants.config.js
Due: eslint --fix

feat(billing): add shared model for new billing contact
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.controller.js
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.html
  client/app/components/ng-ovh-contacts/ng-ovh-contacts.module.js
  client/app/components/ng-ovh-payment-method/ovh-angular-payment-method.module.js
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.8.0
  CHANGELOG.md
  package.json
Due: none

fix(billing payment method): use right module name
  client/app/account/billing/atInternetTracking.config.js
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.routes.js
  client/app/account/billing/payment/method/add/views/legacy-bank-account/add-legacy-bank-account.controller.js
  client/app/account/billing/payment/method/add/views/legacy-billing-address/add-legacy-billing-address.controller.js
  client/app/account/billing/payment/method/billing-payment-method-section.service.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/app.js
  package.json
  yarn.lock
Due: eslint --fix

build: update yarn.lock file
  yarn.lock
Due: none

feat(billing): add new payment method pages
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/main/history/balance/billing-history-balance.controller.js
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  client/app/account/billing/payment/method/default/billing-payment-method-default.controller.js
  client/app/account/billing/payment/method/default/billing-payment-method-default.html
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.controller.js
  client/app/account/billing/payment/method/delete/billing-payment-method-delete.html
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.controller.js
  client/app/account/billing/payment/method/edit/billing-payment-method-edit.html
  client/app/account/billing/payment/transactions/billing-payment-transactions.controller.js
  client/app/account/billing/payment/transactions/billing-payment-transactions.html
  client/app/account/billing/payment/transactions/billing-payment-transactions.routes.js
  client/app/account/billing/paymentMethod/billing-paymentMethod.service.js
  client/app/app.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/components/user/session/user-session.service.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
