Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

release v10.17.2
  CHANGELOG.md
  package.json
Due: none

fix(license): add both windows server 2019 standard and datacenter
  client/app/license/translations/Messages_fr_FR.xml
Due: none

fix(license): add both windows server 2019 standard and datacenter (#1106)
  client/app/license/translations/Messages_fr_FR.xml
Due: none

fix(i18n): submit translations
  client/app/license/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/account/user/newAccountForm/translations/Messages_es_ES.xml
  client/app/account/user/newAccountForm/translations/Messages_pl_PL.xml
  client/app/account/user/newAccountForm/translations/Messages_pt_PT.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_it_IT.xml
  client/app/license/translations/Messages_cs_CZ.xml
  client/app/license/translations/Messages_de_DE.xml
  client/app/license/translations/Messages_en_ASIA.xml
  client/app/license/translations/Messages_en_AU.xml
  client/app/license/translations/Messages_en_CA.xml
  client/app/license/translations/Messages_en_GB.xml
  client/app/license/translations/Messages_en_SG.xml
  client/app/license/translations/Messages_en_US.xml
  client/app/license/translations/Messages_es_ES.xml
  client/app/license/translations/Messages_es_US.xml
  client/app/license/translations/Messages_fi_FI.xml
  client/app/license/translations/Messages_fr_CA.xml
  client/app/license/translations/Messages_it_IT.xml
  client/app/license/translations/Messages_lt_LT.xml
  client/app/license/translations/Messages_nl_NL.xml
  client/app/license/translations/Messages_pl_PL.xml
  client/app/license/translations/Messages_pt_PT.xml
Due: none

feat(billing): remove billing contact id param for adding payment method
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/app.js
  client/app/components/ng-ovh-contacts/ng-ovh-contacts.module.js
  package.json
  yarn.lock
Due: eslint --fix

fix(usb-storage): hide usb storage tab
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/usb-storage/dedicated-server-usb-storage.controller.js
  client/app/dedicated/server/usb-storage/dedicated-server-usb-storage.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing): upgrade and use last release of ng-ovh-payment-method
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(deps): upgrade ovh-module-exchange to v9.4.4
  package.json
  yarn.lock
Due: none

fix(usage): RTM usage chart
  client/app/cdn/dedicated/domain/statistics/cdn-dedicated-domain-statistics.controller.js
  client/app/cdn/dedicated/domain/statistics/cdn-dedicated-domain-statistics.html
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.controller.js
  client/app/cdn/dedicated/manage/statistics/cdn-dedicated-manage-statistics.html
  client/app/cdn/dedicated/translations/Messages_fr_FR.xml
  client/app/dedicated/server/statistics/rtm/ServerStatsRtmGeneralController.js
  client/app/dedicated/server/statistics/rtm/load-avg/dedicated-server-statistics-rtm-load-avg.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(deps): upgrade ovh-module-exchange to v9.4.4 (#1110)
  package.json
  yarn.lock
Due: none

refactor(core): wip plug core
  client/app/app.js
  client/app/components/ovh-angular-sidebar-menu/ovh-angular-sidebar-menu.module.js
  client/app/components/ovh-angular-sso-auth/ovh-angular-sso-auth.module.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
Due: eslint --fix

refactor(core): wip plug core
  client/app/components/sidebar-menu/sidebar-menu.config.js
Due: eslint --fix

fix(autorenew-tracking): track events in autorenew
  client/app/account/billing/main/history/debt/pay/billing-main-history-debt-pay.controller.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): retrieve translations
  client/app/account/billing/main/history/debt/pay/translations/Messages_nl_NL.xml
  client/app/account/billing/payment/transactions/translations/Messages_nl_NL.xml
  client/app/account/user/newAccountForm/translations/Messages_en_ASIA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_AU.xml
  client/app/account/user/newAccountForm/translations/Messages_en_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_GB.xml
  client/app/account/user/newAccountForm/translations/Messages_en_SG.xml
  client/app/account/user/newAccountForm/translations/Messages_en_US.xml
  client/app/common/translations/Messages_nl_NL.xml
  client/app/components/sidebar-menu/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_nl_NL.xml
  client/app/license/translations/Messages_es_ES.xml
  client/app/license/translations/Messages_it_IT.xml
Due: none

fix(i18n): retrieve translations (#1112)
  client/app/account/billing/main/history/debt/pay/translations/Messages_nl_NL.xml
  client/app/account/billing/payment/transactions/translations/Messages_nl_NL.xml
  client/app/account/user/newAccountForm/translations/Messages_en_ASIA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_AU.xml
  client/app/account/user/newAccountForm/translations/Messages_en_CA.xml
  client/app/account/user/newAccountForm/translations/Messages_en_GB.xml
  client/app/account/user/newAccountForm/translations/Messages_en_SG.xml
  client/app/account/user/newAccountForm/translations/Messages_en_US.xml
  client/app/common/translations/Messages_nl_NL.xml
  client/app/components/sidebar-menu/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_nl_NL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_nl_NL.xml
  client/app/license/translations/Messages_es_ES.xml
  client/app/license/translations/Messages_it_IT.xml
Due: none

release v10.17.3
  CHANGELOG.md
  package.json
Due: none

fix(license): add missing translations
  client/app/license/translations/Messages_fr_FR.xml
Due: none

fix(license): add missing translations (#1116)
  client/app/license/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/license/translations/Messages_cs_CZ.xml
  client/app/license/translations/Messages_de_DE.xml
  client/app/license/translations/Messages_en_ASIA.xml
  client/app/license/translations/Messages_en_AU.xml
  client/app/license/translations/Messages_en_CA.xml
  client/app/license/translations/Messages_en_GB.xml
  client/app/license/translations/Messages_en_SG.xml
  client/app/license/translations/Messages_en_US.xml
  client/app/license/translations/Messages_es_ES.xml
  client/app/license/translations/Messages_es_US.xml
  client/app/license/translations/Messages_fi_FI.xml
  client/app/license/translations/Messages_fr_CA.xml
  client/app/license/translations/Messages_it_IT.xml
  client/app/license/translations/Messages_lt_LT.xml
  client/app/license/translations/Messages_nl_NL.xml
  client/app/license/translations/Messages_pl_PL.xml
  client/app/license/translations/Messages_pt_PT.xml
Due: none

release v10.17.4
  CHANGELOG.md
  package.json
Due: none

fix(i18n): retrieve translations
  client/app/account/user/newAccountForm/translations/Messages_de_DE.xml
  client/app/license/translations/Messages_es_ES.xml
  client/app/license/translations/Messages_it_IT.xml
Due: none

fix(i18n): retrieve translations (#1121)
  client/app/account/user/newAccountForm/translations/Messages_de_DE.xml
  client/app/license/translations/Messages_es_ES.xml
  client/app/license/translations/Messages_it_IT.xml
Due: none

feat: use server-sidebar
  client/app/app.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
  client/app/components/user/session/user-session.controller.js
  client/app/components/user/session/user-session.service.js
  client/app/index.html
  client/app/index.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(payment): inject vantiv only in US
  client/app/components/paymentMethod/vantiv/billing-vantiv-configurator.provider.js
Due: eslint --fix

fix: bump depdendencies
  package.json
  yarn.lock
Due: none

feat: use server-sidebar (#1122)
  client/app/app.js
  client/app/components/sidebar-menu/sidebar-menu.config.js
  client/app/components/user/session/user-session.controller.js
  client/app/components/user/session/user-session.service.js
  client/app/index.html
  client/app/index.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix: bump server-sidebar
  yarn.lock
Due: none

build: remove duplicate @ovh-ux/manager-config
  webpack.config.js
Due: eslint --fix

fix: bump @ovh-ux/ng-ovh-sidebar-menu
  package.json
  yarn.lock
Due: none

feat: use server-sidebar
  yarn.lock
Due: none

feat: use @ovh-ux/manager-navbar
  client/app/app.js
  client/app/components/navbar/navbar-menu-header/index.js
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.component.html
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.component.js
  client/app/components/navbar/navbar-menu-header/navbar-menu-header.html
  client/app/components/navbar/navbar-notification.service.js
  client/app/components/navbar/navbar.less
  client/app/components/navbar/navbar.service.js
  client/app/components/user/session/user-session.controller.js
  client/app/components/user/session/user-session.service.js
  client/app/css/less/common/navbar.less
  client/app/css/source.less
  client/app/index.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix: improve responsive
  client/app/css/source.scss
  client/app/index.html
Due: htmlhint 'client/**/*.html'
