Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor(billing.autorenew): refactor exchange modal to a page
  client/app/billing/autoRenew/actions/exchange/exchange-renew.component.js
  client/app/billing/autoRenew/actions/exchange/exchange-renew.html
  client/app/billing/autoRenew/actions/exchange/exchange-renew.module.js
  client/app/billing/autoRenew/actions/exchange/exchange-renew.routing.js
  client/app/billing/autoRenew/autorenew.routing.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

style: code review
  client/app/billing/autoRenew/actions/exchange/exchange-renew.routing.js
Due: eslint --fix

refactor(billing.autorenew.exchange): inject bindings through resolve
  client/app/billing/autoRenew/actions/exchange/exchange-renew.routing.js
  package.json
  yarn.lock
Due: eslint --fix

fix(i18n): add missing translations [CDS 6]
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_ASIA.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_AU.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_CA.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_GB.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_SG.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_en_US.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_fi_FI.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_CA.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_lt_LT.json
Due: none

release v10.21.2
  CHANGELOG.md
  package.json
Due: none

fix(dedicatedcloud.dashboard.options): disable some actions
  client/app/dedicatedCloud/dashboard/options/options.html
Due: htmlhint 'client/**/*.html'

fix(dedicatedcloud.dashboard.options): disable some actions (#1303)
  client/app/dedicatedCloud/dashboard/options/options.html
Due: htmlhint 'client/**/*.html'

release v10.21.3
  CHANGELOG.md
  package.json
Due: none

fix(account.otrs): change status text translation (#1286)
  client/app/account/otrs/translations/Messages_fr_FR.json
Due: none

feat(dedicated.server): add upgrade link with tracking
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.contants.js
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix: use GB subs instead of UK
  client/app/dedicated/server/dedicated-server.contants.js
  client/app/dedicated/server/dedicated-server.controller.js
Due: eslint --fix

style: code review
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

style: code review
  client/app/dedicated/server/dedicated-server.contants.js
Due: eslint --fix

fix: fix code suggestions
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

style: update to new layout
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.contants.js
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

style: code review
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.contants.js
  client/app/dedicated/server/dedicated-server.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

Update client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

fix: update track name
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

style: use OvhApiOrderCatalog from ovh-api-services
  client/app/dedicated/server/dedicated-server.service.js
  package.json
  yarn.lock
Due: eslint --fix

fix: remove commercial range filter
  client/app/dedicated/server/dedicated-server.contants.js
  client/app/dedicated/server/dedicated-server.controller.js
Due: eslint --fix

feat(dedicated.server): add upgrade link with tracking (#1248)
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.contants.js
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): allow autorenew activation for some subs
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): allow autorenew activation for some subs (#1304)
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

build: update yarn lock
  yarn.lock
Due: none

fix(dedicated.server.traffic): use correct filter name
  client/app/dedicated/server/traffic/dedicated-server-traffic.service.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 7]
  client/app/dedicatedUniverseComponents/price/translations/Messages_de_DE.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_it_IT.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_pl_PL.json
  client/app/dedicatedUniverseComponents/price/translations/Messages_pt_PT.json
  client/app/error/translations/Messages_de_DE.json
  client/app/error/translations/Messages_fr_CA.json
  client/app/error/translations/Messages_it_IT.json
  client/app/error/translations/Messages_pl_PL.json
  client/app/error/translations/Messages_pt_PT.json
Due: none

feat(billing.autorenew): remove HOSTING_DOMAIN grouping
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server.traffic): use correct filter name (#1307)
  client/app/dedicated/server/traffic/dedicated-server-traffic.service.js
Due: eslint --fix

feat(billing.autorenew): remove HOSTING_DOMAIN grouping (#1308)
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
Due: htmlhint 'client/**/*.html', eslint --fix

build(webpack): remove resolve.symlinks options
  webpack.config.js
Due: eslint --fix

release v10.22.0
  CHANGELOG.md
  package.json
Due: none

refactor(billing.autorenew): refactor exchange modal to a page (#1283)
  client/app/billing/autoRenew/actions/exchange/exchange-renew.component.js
  client/app/billing/autoRenew/actions/exchange/exchange-renew.html
  client/app/billing/autoRenew/actions/exchange/exchange-renew.module.js
  client/app/billing/autoRenew/actions/exchange/exchange-renew.routing.js
  client/app/billing/autoRenew/autorenew.routing.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): remove unused constants
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.constants.js
Due: eslint --fix

feat(billing.autorenew): add autorenew activation
  client/app/app.routes.js
  client/app/billing/autoRenew/actions/activation/activation.component.js
  client/app/billing/autoRenew/actions/activation/activation.controller.js
  client/app/billing/autoRenew/actions/activation/activation.html
  client/app/billing/autoRenew/actions/activation/activation.module.js
  client/app/billing/autoRenew/actions/activation/activation.routing.js
  client/app/billing/autoRenew/actions/activation/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
  client/app/billing/autoRenew/actions/delete/delete.component.js
  client/app/billing/autoRenew/actions/delete/delete.routing.js
  client/app/billing/autoRenew/actions/delete/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/billing-autoRenew.constants.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/user/User.class.js
  client/app/user/user.constants.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: remove custom config from register instanciation
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 8]
  client/app/account/billing/translations/Messages_de_DE.json
  client/app/account/billing/translations/Messages_en_GB.json
  client/app/account/billing/translations/Messages_fi_FI.json
  client/app/account/billing/translations/Messages_fr_CA.json
  client/app/account/billing/translations/Messages_it_IT.json
  client/app/account/billing/translations/Messages_lt_LT.json
  client/app/account/otrs/translations/Messages_de_DE.json
  client/app/account/otrs/translations/Messages_fr_CA.json
  client/app/account/otrs/translations/Messages_it_IT.json
  client/app/dedicated/server/translations/Messages_de_DE.json
  client/app/dedicated/server/translations/Messages_en_GB.json
  client/app/dedicated/server/translations/Messages_fi_FI.json
  client/app/dedicated/server/translations/Messages_fr_CA.json
  client/app/dedicated/server/translations/Messages_it_IT.json
  client/app/dedicated/server/translations/Messages_lt_LT.json
Due: none

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
