Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(billing.autorenew.ssh): scope function binding (#1472)
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
Due: eslint --fix

release v10.32.8
  CHANGELOG.md
  package.json
Due: none

build(yarn.lock): update commit for ng-ovh-payment-method
  yarn.lock
Due: none

fix(account.contact): display feedback message
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server): catch 404 on vrack
  client/app/dedicated/server/dedicated-server.service.js
Due: eslint --fix

release v10.32.9
  CHANGELOG.md
  package.json
Due: none

fix: remove @ovh-ux/manager-cloud-styles
  package.json
  yarn.lock
Due: none

fix(pcc.drp): handle unavailable pccs
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

fix(dedicated.cloud): handle unavailable pccs (#1478)
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 79]
  client/app/account/contacts/service/edit/translations/Messages_es_ES.json
  client/app/account/contacts/service/edit/translations/Messages_pl_PL.json
  client/app/account/contacts/service/translations/Messages_es_ES.json
  client/app/account/contacts/service/translations/Messages_pl_PL.json
  client/app/account/user/support-level/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_it_IT.json
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_lt_LT.json
  client/app/billing/autoRenew/translations/Messages_en_GB.json
  client/app/billing/autoRenew/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/translations/Messages_it_IT.json
  client/app/billing/autoRenew/translations/Messages_lt_LT.json
  client/app/billing/translations/Messages_fr_CA.json
  client/app/components/no-default-means-of-payment/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/tiles/options/descriptions/certification/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/tiles/options/translations/Messages_en_GB.json
  client/app/dedicatedCloud/dashboard/tiles/options/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/dashboard/tiles/options/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/dashboard/tiles/options/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-users/translations/Messages_pl_PL.json
  client/app/user-contracts/translations/Messages_en_GB.json
  client/app/user-contracts/translations/Messages_fi_FI.json
  client/app/user-contracts/translations/Messages_lt_LT.json
Due: none

fix(account.contact): fix email redirection
  client/app/account/contacts/request/user-contacts-request.routes.js
Due: eslint --fix

fix(account.contact): fix email redirection (#1479)
  client/app/account/contacts/request/user-contacts-request.routes.js
Due: eslint --fix

fix(account.contact): display feedback message (#1475)
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.32.10
  CHANGELOG.md
  package.json
Due: none

feat(billing.autorenew): improve message when no service is excluded
  client/app/billing/autoRenew/bulk/bulk.component.js
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/disable/disable.html
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.html
  client/app/billing/autoRenew/enable/enable.module.js
  client/app/billing/autoRenew/enable/translations/Messages_fr_FR.json
  client/app/models/BillingService.class.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ssh): still display sshkeys if one is in error
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.service.js
Due: eslint --fix

fix(ola): missing text
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

fix(ola): show success message on resiliation
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.component.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: eslint --fix

fix(i18n): add missing translations [CDS 80]
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/translations/Messages_de_DE.json
  client/app/billing/autoRenew/translations/Messages_en_GB.json
  client/app/billing/autoRenew/translations/Messages_es_ES.json
  client/app/billing/autoRenew/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/translations/Messages_it_IT.json
  client/app/billing/autoRenew/translations/Messages_lt_LT.json
  client/app/billing/autoRenew/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/translations/Messages_pt_PT.json
  client/app/user-contracts/translations/Messages_pt_PT.json
Due: none

fix: fix redirection of contact
  client/app/account/contacts/service/contacts-service.component.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 81]
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/terminate-webcoach/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/terminate-webcoach/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/translations/Messages_es_ES.json
  client/app/billing/translations/Messages_es_ES.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_es_ES.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_CA.json
  client/app/dedicated/server/interfaces/translations/Messages_es_ES.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_CA.json
  client/app/dedicated/server/translations/Messages_es_ES.json
  client/app/dedicated/server/translations/Messages_fr_CA.json
Due: none

fix(licence): translation issue in plesk licence
  client/app/license/order/options/PLESK.html
  client/app/license/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

fix(i18n): add missing translations [CDS 83]
  client/app/billing/autoRenew/translations/Messages_it_IT.json
  client/app/dedicated/nas/translations/Messages_fr_CA.json
  client/app/dedicated/nas/translations/Messages_it_IT.json
  client/app/dedicated/server/translations/Messages_it_IT.json
Due: none

fix(billing.autorenew.ssh): still display keys if one is in error (#1473)
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.service.js
Due: eslint --fix

fix(account.contacts.service): fix redirection of contact (#1483)
  client/app/account/contacts/service/contacts-service.component.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.32.11
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.server): prevent dashboard error when option expired
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/interfaces/interfaces.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.32.12
  CHANGELOG.md
  package.json
Due: none

fix(sidebar.menu): uses ngTranslationsInject to load translations
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/components/sidebar-menu/sidebar-menu.js
Due: eslint --fix

fix(sidebar.menu): uses ngTranslationsInject to load translatio… (#1491)
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/components/sidebar-menu/sidebar-menu.js
Due: eslint --fix

fix(license): fix translation issue with plesk licence (#1485)
  client/app/license/order/options/PLESK.html
  client/app/license/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

release v10.32.13
  CHANGELOG.md
  package.json
Due: none

fix(dedicated.server): activate public bandwidth order
  client/app/dedicated/server/bandwidth/dashboard/dashboard.html
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_en_GB.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

build(package.json): use monorepo version of ng-ovh-payment-method
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 84]
  client/app/billing/autoRenew/actions/terminate-webcoach/translations/Messages_it_IT.json
  client/app/billing/autoRenew/translations/Messages_es_ES.json
  client/app/billing/autoRenew/translations/Messages_it_IT.json
  client/app/billing/autoRenew/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/translations/Messages_pt_PT.json
  client/app/billing/translations/Messages_it_IT.json
  client/app/dedicated/nas/translations/Messages_es_ES.json
  client/app/dedicated/nas/translations/Messages_pt_PT.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_it_IT.json
  client/app/dedicated/server/interfaces/translations/Messages_it_IT.json
  client/app/dedicated/server/translations/Messages_es_ES.json
  client/app/dedicated/server/translations/Messages_it_IT.json
  client/app/dedicated/server/translations/Messages_pt_PT.json
  client/app/user-contracts/translations/Messages_es_ES.json
  client/app/user-contracts/translations/Messages_it_IT.json
Due: none

fix: retractation translations path
  client/app/billing/orders/retraction/retraction.routing.js
Due: eslint --fix

fix(billing.orders.retraction): add missing translations path (#1495)
  client/app/billing/orders/retraction/retraction.routing.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 85]
  client/app/user-contracts/translations/Messages_pl_PL.json
Due: none

fix(ola): show correct bandwidth when ungrouping
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server): activate public bandwidth order (#1494)
  client/app/dedicated/server/bandwidth/dashboard/dashboard.html
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_en_GB.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix
