Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

release v10.15.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): submit translations
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/account/billing/payment/transactions/translations/Messages_en_ASIA.xml
  client/app/account/billing/payment/transactions/translations/Messages_en_AU.xml
  client/app/account/billing/payment/transactions/translations/Messages_en_CA.xml
  client/app/account/billing/payment/transactions/translations/Messages_en_GB.xml
  client/app/account/billing/payment/transactions/translations/Messages_en_SG.xml
  client/app/account/billing/payment/transactions/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_cs_CZ.xml
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/translations/Messages_es_US.xml
  client/app/dedicatedCloud/translations/Messages_fi_FI.xml
  client/app/dedicatedCloud/translations/Messages_fr_CA.xml
  client/app/dedicatedCloud/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_pt_PT.xml
Due: none

fix(ip.legacy-order): display the right country label
  client/app/ip/ip/legacyOrder/DEDICATED.html
Due: htmlhint 'client/**/*.html'

fix(ip.legacy-order): display the right country label (#1063)
  client/app/ip/ip/legacyOrder/DEDICATED.html
Due: htmlhint 'client/**/*.html'

release v10.15.2
  CHANGELOG.md
  package.json
Due: none

fix(user.contacts.service): prevent flash of empty services in table
  client/app/account/user/contacts/service/user-contacts-service.controller.js
Due: eslint --fix

refactor(user.contacts.service): use translate directive as attribute
  client/app/account/user/contacts/service/user-contacts-service.html
Due: htmlhint 'client/**/*.html'

fix(user.contacts.service): fix update filters
  client/app/account/user/contacts/service/user-contacts-service.controller.js
Due: eslint --fix

refactor(user.contacts): use oui-page-header
  client/app/account/user/contacts/user-contacts.html
Due: htmlhint 'client/**/*.html'

fix(ip): fix broken linked services ip order agora (#1014)
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  client/app/ip/ip/order/DEDICATED.html
  client/app/ip/ip/order/PCC.html
  client/app/ip/ip/order/VPS.html
  client/app/ip/ip/order/durations.html
  client/app/ip/ip/order/durationsPCC.html
  client/app/ip/ip/order/ip-ip-order.controller.js
  client/app/ip/ip/order/ip-ip-order.html
  client/app/ip/ip/order/ip-ip-order.service.js
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.controller.js
  client/app/ip/ip/order/migrate/ip-ip-order-migrate.html
  client/app/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/account/billing/payment/method/add/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/translations/Messages_cs_CZ.xml
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_es_ES.xml
  client/app/dedicatedCloud/translations/Messages_es_US.xml
  client/app/dedicatedCloud/translations/Messages_fi_FI.xml
  client/app/dedicatedCloud/translations/Messages_fr_CA.xml
  client/app/dedicatedCloud/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/translations/Messages_lt_LT.xml
  client/app/dedicatedCloud/translations/Messages_nl_NL.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_pt_PT.xml
  client/app/ip/translations/Messages_de_DE.xml
  client/app/ip/translations/Messages_es_ES.xml
  client/app/ip/translations/Messages_it_IT.xml
  client/app/ip/translations/Messages_pt_PT.xml
  client/app/translations/Messages_cs_CZ.xml
  client/app/translations/Messages_de_DE.xml
  client/app/translations/Messages_en_ASIA.xml
  client/app/translations/Messages_en_AU.xml
  client/app/translations/Messages_en_CA.xml
  client/app/translations/Messages_en_GB.xml
  client/app/translations/Messages_en_SG.xml
  client/app/translations/Messages_en_US.xml
  client/app/translations/Messages_es_ES.xml
  client/app/translations/Messages_es_US.xml
  client/app/translations/Messages_fi_FI.xml
  client/app/translations/Messages_fr_CA.xml
  client/app/translations/Messages_it_IT.xml
  client/app/translations/Messages_lt_LT.xml
  client/app/translations/Messages_nl_NL.xml
  client/app/translations/Messages_pl_PL.xml
  client/app/translations/Messages_pt_PT.xml
Due: none

release v10.15.3
  CHANGELOG.md
  package.json
Due: none

feat(datacenter.drp): show service name if no description
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
Due: htmlhint 'client/**/*.html'

feat(chatbot): open the chatbot from the assistance menu
  client/app/app.js
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
  client/app/components/user/session/user-session.service.js
  client/app/index.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ip.order): set a default quantity for express order
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
Due: eslint --fix

release v10.15.4
  CHANGELOG.md
  package.json
Due: none

fix: ip order
  client/app/ip/ip/legacyOrder/DEDICATED.html
  client/app/ip/ip/legacyOrder/VPS.html
  client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.controller.js
  client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.html
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.15.5
  CHANGELOG.md
  package.json
Due: none

feat(datacenter.drp): show service name if there is no description (#1070)
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
Due: htmlhint 'client/**/*.html'

fix: use the correct order ip modal from zerto
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/index.js
  client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.controller.js
  client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ip.legacyorder): add state reload after ip order
  client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.controller.js
Due: eslint --fix

feat: add chatbot accessible from the assistance menu (#1075)
  client/app/app.js
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
  client/app/components/user/session/user-session.service.js
  client/app/index.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade both ovh-ui-angular and ovh-ui-kit dependencies
  package.json
  yarn.lock
Due: none

fix(i18n): submit translations
  client/app/components/sidebar-menu/translations/Messages_fr_FR.xml
Due: none

build(deps): upgrade both ovh-ui-angular and ovh-ui-kit dependencies (#1080)
  package.json
  yarn.lock
Due: none

fix(i18n): retrieve translations
  client/app/components/sidebar-menu/translations/Messages_cs_CZ.xml
  client/app/components/sidebar-menu/translations/Messages_de_DE.xml
  client/app/components/sidebar-menu/translations/Messages_en_ASIA.xml
  client/app/components/sidebar-menu/translations/Messages_en_AU.xml
  client/app/components/sidebar-menu/translations/Messages_en_CA.xml
  client/app/components/sidebar-menu/translations/Messages_en_GB.xml
  client/app/components/sidebar-menu/translations/Messages_en_SG.xml
  client/app/components/sidebar-menu/translations/Messages_en_US.xml
  client/app/components/sidebar-menu/translations/Messages_es_ES.xml
  client/app/components/sidebar-menu/translations/Messages_es_US.xml
  client/app/components/sidebar-menu/translations/Messages_fi_FI.xml
  client/app/components/sidebar-menu/translations/Messages_fr_CA.xml
  client/app/components/sidebar-menu/translations/Messages_it_IT.xml
  client/app/components/sidebar-menu/translations/Messages_lt_LT.xml
  client/app/components/sidebar-menu/translations/Messages_nl_NL.xml
  client/app/components/sidebar-menu/translations/Messages_pl_PL.xml
  client/app/components/sidebar-menu/translations/Messages_pt_PT.xml
  client/app/dedicatedCloud/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/ip/translations/Messages_en_ASIA.xml
  client/app/ip/translations/Messages_en_AU.xml
  client/app/ip/translations/Messages_en_CA.xml
  client/app/ip/translations/Messages_en_GB.xml
  client/app/ip/translations/Messages_en_SG.xml
  client/app/ip/translations/Messages_en_US.xml
  client/app/ip/translations/Messages_pl_PL.xml
Due: none

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
