Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(dedicated-server.interfaces): display bandwidth option on both tiles
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.controller.js
  client/app/dedicated/server/bandwidth-legacy/order-private/order-private.routing.js
  client/app/dedicated/server/bandwidth-legacy/order-public/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth-legacy/order-public/order-public.routing.js
  client/app/dedicated/server/bandwidth/bandwidth.module.js
  client/app/dedicated/server/bandwidth/dashboard/dashboard.component.js
  client/app/dedicated/server/bandwidth/dashboard/dashboard.controller.js
  client/app/dedicated/server/bandwidth/dashboard/dashboard.html
  client/app/dedicated/server/bandwidth/dashboard/dashboard.module.js
  client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_FR.json
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.module.js
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-server.ola): use non mock data for config preview
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-server.interfaces): display price dynamically
  client/app/dedicated/server/interfaces/interfaces.component.js
Due: eslint --fix

fix(dedicated-server.interfaces): improve wording on resiliation
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
Due: none

fix(dedicated-server.interfaces): display price dynamically
  client/app/components/user/user.service.js
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-server): extract translations
  client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: none

feat(dedicated.server): extract translations (#1430)
  client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: none

fix(billing.autorenew): set default renew day for activation
  client/app/billing/autoRenew/actions/activation/activation.routing.js
  client/app/billing/autoRenew/autorenew.service.js
Due: eslint --fix

fix(autorenew): handle 404 errors for /me/autorenew
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.service.js
Due: eslint --fix

fix(server.ola): remove guide link
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html'

fix(server.ola): fix dismiss action on bandwidth order
  client/app/dedicated/server/bandwidth/private-order/private-order.html
  client/app/dedicated/server/bandwidth/public-order/public-order.html
Due: htmlhint 'client/**/*.html'

fix(server.ola.configuration): fix translation key typo
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
Due: htmlhint 'client/**/*.html'

fix(server.ola.configuration): change validate button text
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
Due: none

fix(ola): alert errors everywhere
  client/app/dedicated/server/bandwidth/private-order/private-order.component.js
  client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  client/app/dedicated/server/bandwidth/public-order/public-order.component.js
  client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.component.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: eslint --fix

feat(ola): add tracking
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.component.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.component.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.controller.js
Due: eslint --fix

fix(dedicated): display monthly price for private bandwidth ordering
  client/app/dedicated/server/bandwidth-vrack/order-legacy/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/translations/Messages_fr_FR.json
  client/app/dedicatedUniverseComponents/price/price.filter.js
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(duc.price): add feature to indicate price is monthly
  client/app/dedicatedUniverseComponents/price/price.filter.js
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_FR.json
Due: eslint --fix

fix(dedicated.server.bandwidth): add monthly period to price when order
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth/private-order/private-order.html
  client/app/dedicated/server/bandwidth/public-order/public-order.html
Due: htmlhint 'client/**/*.html'

fix(i18n): add missing translations [CDS 72]
  client/app/account/user/newAccountForm/translations/Messages_pl_PL.json
Due: none

fix(dedicated-server): catch errors and improve loading
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.routing.js
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ola): error message on activation
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
Due: eslint --fix

feat: enterprise cloud database
  client/app/app.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.component.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.controller.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.html
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.module.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.routing.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add english translations
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_en_GB.json
  client/app/billing/autoRenew/translations/Messages_en_GB.json
Due: none

build: remove unused deps
  package.json
  yarn.lock
Due: none

feat: enterprise cloud database (#1431)
  client/app/app.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.component.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.controller.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.html
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.module.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/terminate-enterprise-cloud-database.routing.js
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_en_GB.json
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_en_GB.json
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build: add missing depedency
  package.json
  yarn.lock
Due: none

build: add missing depedency (#1438)
  package.json
  yarn.lock
Due: none

fix(dedicated-server): catch errors and improve loading (#1434)
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.routing.js
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix: use latest ng-ui-router-layout
  client/app/app.js
  package.json
  yarn.lock
Due: eslint --fix

fix: use latest ng-ui-router-layout (#1440)
  client/app/app.js
  package.json
  yarn.lock
Due: eslint --fix

release v10.31.0
  CHANGELOG.md
  package.json
Due: none

fix(account.supportlevel): active support level
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account): add dashboard view
  client/app/account/contacts/user-contacts.html
  client/app/account/user/dashboard/translations/Messages_fr_FR.xml
  client/app/account/user/dashboard/user-dashboard.constants.js
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/user.html
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.supportlevel): get current support level
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/support-level.routing.js
  client/app/account/user/support-level/translations/Messages_fr_FR.xml
  client/app/images/support-level/business.svg
  client/app/images/support-level/enterprise.svg
  client/app/images/support-level/premium.svg
  client/app/images/support-level/standard.svg
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.support-levels): minor ui improvements
  client/app/account/user/support-level/index.less
  client/app/account/user/support-level/support-level.html
  client/app/account/user/user.module.js
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(account.user.support-level): update images
  client/app/account/user/support-level/support-level.html
  client/app/images/support-level/business.png
  client/app/images/support-level/enterprise.png
  client/app/images/support-level/premium.png
  client/app/images/support-level/standard.png
Due: htmlhint 'client/**/*.html'

refactor(account.user): improvements
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/user/advanced/advanced.routing.js
  client/app/account/user/advanced/user-advanced.html
  client/app/account/user/dashboard/translations/Messages_fr_FR.xml
  client/app/account/user/dashboard/user-dasboard.component.js
  client/app/account/user/dashboard/user-dashboard.constants.js
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.less
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/emails/user-emails.routing.js
  client/app/account/user/infos/user-infos.routing.js
  client/app/account/user/security/user-security.html
  client/app/account/user/security/user-security.routing.js
  client/app/account/user/support-level/SupportLevel.class.js
  client/app/account/user/support-level/index.less
  client/app/account/user/support-level/index.scss
  client/app/account/user/support-level/support-level.constants.js
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/support-level.module.js
  client/app/account/user/support-level/support-level.routing.js
  client/app/account/user/user.controller.js
  client/app/account/user/user.html
  client/app/account/user/user.routes.js
  client/app/account/user/users/users.controller.js
  client/app/account/user/users/users.routing.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/components/user/user.service.js
  client/app/images/support-level/standard.png
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor(account.user.support-level): modularize support level
  client/app/account/user/support-level/SupportLevel.class.js
  client/app/account/user/support-level/support-level.component.js
  client/app/account/user/support-level/support-level.constants.js
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/support-level.module.js
  client/app/account/user/support-level/support-level.routing.js
  client/app/account/user/user.module.js
Due: htmlhint 'client/**/*.html', eslint --fix
