Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(account): set right label for italianSDI field
  client/app/account/user/newAccountForm/translations/Messages_fr_FR.json
  client/app/account/user/newAccountForm/translations/Messages_it_IT.json
Due: none

fix: fix code review
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(account): set right label for italianSDI field (#1406)
  client/app/account/user/newAccountForm/translations/Messages_fr_FR.json
  client/app/account/user/newAccountForm/translations/Messages_it_IT.json
Due: none

fix(i18n): add missing translations [CDS 59]
  client/app/account/user/newAccountForm/translations/Messages_fr_CA.json
Due: none

release v10.28.8
  CHANGELOG.md
  package.json
Due: none

fix(billing): return according capability for resiliated services
  client/app/models/BillingService.class.js
Due: eslint --fix

refactor(billig): fix typo
  client/app/models/BillingService.class.js
Due: eslint --fix

feat(billing.autorenew.bulk): display eligible services
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

fix(deps): upgrade ovh-module-exchange to v9.4.8
  package.json
  yarn.lock
Due: none

release v10.28.9
  CHANGELOG.md
  package.json
Due: none

fix: fix code review
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.html
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.module.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.component.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.controller.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.html
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.module.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.routing.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.routing.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.routing.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server.interfaces): fix when vni is undefined
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola/ola.component.js
  client/app/dedicated/server/interfaces/ola/ola.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.interfaces): apply style on step checker
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/ola.controller.js
  client/app/dedicated/server/interfaces/ola/ola.routing.js
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix: staging review
  client/app/app.less
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola.class.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(dedicated.server.dashboard): apply changes on the overview page
  client/app/app.less
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix: handle every interface type
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
Due: eslint --fix

feat: generate interface list
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server.interfaces): add missing ngInject
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.controller.js
  client/app/dedicated/server/interfaces/interfaces.service.js
Due: eslint --fix

refactor(dedicated.server.interfaces): update datagrid with ola services
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola/ola.component.js
  client/app/dedicated/server/interfaces/ola/ola.constants.js
  client/app/dedicated/server/interfaces/ola/ola.controller.js
  client/app/dedicated/server/interfaces/ola/ola.html
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: replace the bandwidth order action with a $state modal
  client/app/dedicated/server/bandwidth/dedicated-server-bandwidth.module.js
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.component.js
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwitdh-order.routing.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.interfaces): create ola class
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola.class.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: remove ipfo menu item
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html'

feat(dedicated.server.dashboard): create configuration page for ola
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/ola/ola.component.js
  client/app/dedicated/server/interfaces/ola/ola.constants.js
  client/app/dedicated/server/interfaces/ola/ola.controller.js
  client/app/dedicated/server/interfaces/ola/ola.html
  client/app/dedicated/server/interfaces/ola/ola.module.js
  client/app/dedicated/server/interfaces/ola/ola.routing.js
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: interface renaming modal
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.component.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.controller.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.html
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.interfaces): create layout for step checker
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/ola.html
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: update interfaces to use component
  client/app/app.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.routes.js
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola/ola.module.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: go to IP panel
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html'

feat: move all bandwidth modals to components+states
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.controller.js
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.html
  client/app/dedicated/server/bandwidth-legacy/order-public/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth-legacy/order-public/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth-vrack/cancel/dedicated-server-bandwidth-vrack-cancel.html
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.controller.js
  client/app/dedicated/server/bandwidth-vrack/order/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/bandwidth/cancel-private/dedicated-server-bandwidth-vrack-cancel.component.js
  client/app/dedicated/server/bandwidth/cancel-private/dedicated-server-bandwidth-vrack-cancel.controller.js
  client/app/dedicated/server/bandwidth/cancel-private/dedicated-server-bandwidth-vrack-cancel.html
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.component.js
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.controller.js
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.html
  client/app/dedicated/server/bandwidth/cancel/dedicated-server-bandwidth-cancel.controller.js
  client/app/dedicated/server/bandwidth/cancel/dedicated-server-bandwidth-cancel.html
  client/app/dedicated/server/bandwidth/dedicated-server-bandwidth-vrack-order.service.js
  client/app/dedicated/server/bandwidth/dedicated-server-bandwidth.module.js
  client/app/dedicated/server/bandwidth/dedicated-server-bandwitdh.routing.js
  client/app/dedicated/server/bandwidth/order-private/dedicated-server-bandwidth-vrack.component.js
  client/app/dedicated/server/bandwidth/order-private/dedicated-server-bandwidth-vrack.controller.js
  client/app/dedicated/server/bandwidth/order-private/dedicated-server-bandwidth-vrack.html
  client/app/dedicated/server/bandwidth/order-public/dedicated-server-bandwidth-order.component.js
  client/app/dedicated/server/bandwidth/order-public/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth/order-public/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwitdh-order.routing.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.interfaces): create modal for ola activation
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.component.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.html
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.module.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.routing.js
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.constants.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.module.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.routing.js
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/ola.module.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: first attempt at network interfaces page
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.routes.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: add OLA stepper
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix: staging review
  client/app/dedicated/server/bandwidth/bandwidth.service.js
  client/app/dedicated/server/bandwidth/bandwitdh.module.js
  client/app/dedicated/server/bandwidth/cancel-private/dedicated-server-bandwidth-vrack-cancel.component.js
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.component.js
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.controller.js
  client/app/dedicated/server/bandwidth/dedicated-server-bandwidth.module.js
  client/app/dedicated/server/bandwidth/dedicated-server-bandwitdh.routing.js
  client/app/dedicated/server/bandwidth/order-private/dedicated-server-bandwidth-vrack.component.js
  client/app/dedicated/server/bandwidth/order-public/dedicated-server-bandwidth-order.component.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.component.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.html
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.routing.js
  client/app/dedicated/server/bandwidth/private-order/private-order.component.js
  client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  client/app/dedicated/server/bandwidth/private-order/private-order.html
  client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.component.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.controller.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.html
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.routing.js
  client/app/dedicated/server/bandwidth/public-order/public-order.component.js
  client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  client/app/dedicated/server/bandwidth/public-order/public-order.html
  client/app/dedicated/server/bandwidth/public-order/public-order.routing.js
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix: code review
  client/app/app.less
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix: code review
  client/app/dedicated/server/bandwidth/dedicated-server-bandwitdh.routing.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(WIP): attach to a vrack
  client/app/dedicated/server/interfaces/attach/interfaces-attach.component.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.controller.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: first attempt at ordering the option
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.component.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola.class.js
Due: eslint --fix

fix: code review
  client/app/dedicated/server/interfaces/attach/interface-attach.module.js
  client/app/dedicated/server/interfaces/attach/interface-attach.routing.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.component.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.controller.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/rename/interface-rename.module.js
  client/app/dedicated/server/interfaces/rename/interface-rename.routing.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.component.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.controller.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: code review
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.component.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
