Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

release v10.11.0
  CHANGELOG.md
  package.json
Due: none

refactor(ip): transform into Class
  client/app/config/constants.config.js
  client/app/dedicatedCloud/dashboard/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
  client/app/ip/ip/order/ip-ip-order.controller.js
  client/app/ip/ip/order/ip-ip-order.service.js
Due: eslint --fix

feat(ip): fetch Countries for PCC Agora ordering
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
  client/app/ip/ip/ip-ip.html
  client/app/ip/ip/order/PCC.html
  client/app/ip/ip/order/ip-ip-order.controller.js
  client/app/ip/ip/order/ip-ip-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(app): reorder imports
  client/app/app.js
Due: eslint --fix

refactor(app): simplify the app declaration
  client/app/app.js
Due: eslint --fix

refactor(app): reorder constants
  client/app/app.js
Due: eslint --fix

refactor(*): rename some variables
  client/app/dedicatedCloud/dashboard/index.js
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/servicePack/confirmation/constants.js
  client/app/dedicatedCloud/servicePack/confirmation/controller.js
  client/app/dedicatedCloud/servicePack/confirmation/step.js
  client/app/dedicatedCloud/servicePack/confirmation/template.html
  client/app/dedicatedCloud/servicePack/confirmation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/home/constants.js
  client/app/dedicatedCloud/servicePack/home/controller.js
  client/app/dedicatedCloud/servicePack/home/state.js
  client/app/dedicatedCloud/servicePack/home/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/requiredConfiguration/step.js
  client/app/dedicatedCloud/servicePack/requiredConfiguration/template.html
  client/app/dedicatedCloud/servicePack/requiredConfiguration/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/selection/constants.js
  client/app/dedicatedCloud/servicePack/selection/state.js
  client/app/dedicatedCloud/servicePack/selection/step.js
  client/app/dedicatedCloud/servicePack/selection/template.html
  client/app/dedicatedCloud/servicePack/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/smsActivation/step.js
  client/app/dedicatedCloud/servicePack/smsActivation/template.html
  client/app/dedicatedCloud/servicePack/smsActivation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/summary/constants.js
  client/app/dedicatedCloud/servicePack/summary/controller.js
  client/app/dedicatedCloud/servicePack/summary/step.js
  client/app/dedicatedCloud/servicePack/summary/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.11.1
  CHANGELOG.md
  package.json
Due: none

refactor(*): change indentation
  client/app/app.controller.js
  client/app/app.html
  client/app/components/name-edition/name-edition.controller.js
  client/app/dedicatedCloud/servicePack/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): display activation status after order
  client/app/dedicatedCloud/dashboard/component.js
  client/app/dedicatedCloud/dashboard/constants.js
  client/app/dedicatedCloud/dashboard/index.js
  client/app/dedicatedCloud/dashboard/service.js
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/servicePack/home/constants.js
  client/app/dedicatedCloud/servicePack/model.js
  client/app/dedicatedCloud/servicePack/option/constants.js
  client/app/dedicatedCloud/servicePack/option/model.js
  client/app/dedicatedCloud/servicePack/option/service.js
  client/app/dedicatedCloud/servicePack/selection/component.js
  client/app/dedicatedCloud/servicePack/selection/controller.js
  client/app/dedicatedCloud/servicePack/selection/state.js
  client/app/dedicatedCloud/servicePack/selection/style.less
  client/app/dedicatedCloud/servicePack/selection/template.html
  client/app/dedicatedCloud/servicePack/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/servicePack/service.js
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(ip): get durations for Agora order
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
  client/app/ip/ip/order/PCC.html
  client/app/ip/ip/order/durationsPCC.html
  client/app/ip/ip/order/ip-ip-order.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server): translation issue order vrack
  client/app/account/billing/components/filters/frequenceText.js
  client/app/account/billing/payment/credits/billing-credits.controller.js
  client/app/dedicated/server/bandwidth-vrack/dedicated-server-bandwidth-vrack-order.service.js
Due: eslint --fix

release v10.11.2
  CHANGELOG.md
  package.json
Due: none

feat(account.billing.history.debt.pay): add atinternet tracking (#986)
  client/app/account/billing/main/history/debt/pay/billing-main-history-debt-pay.controller.js
Due: eslint --fix

feat(cdn.dedicated): expose logs to customers (#982)
  client/app/app.js
  client/app/cdn/dedicated/domain/cdn-dedicated-domain.html
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.controller.js
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.html
  client/app/cdn/dedicated/domain/logs/cdn-dedicated-domain-logs.routes.js
  client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.controller.js
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.html
  client/app/cdn/dedicated/manage/logs/cdn-dedicated-manage-logs.routes.js
  client/app/cdn/dedicated/translations/Messages_fr_FR.xml
  client/app/css/source.less
  client/app/index.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(deps): upgrade ovh-module-exchange to v9.3.3
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ovh-module-exchange to v9.3.4
  package.json
  yarn.lock
Due: none

feat(ip): order PCC with Agora until final step
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
  client/app/ip/ip/order/PCC.html
  client/app/ip/ip/order/ip-ip-order.controller.js
  client/app/ip/ip/order/ip-ip-order.html
  client/app/ip/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/cdn/dedicated/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  client/app/cdn/dedicated/translations/Messages_cs_CZ.xml
  client/app/cdn/dedicated/translations/Messages_de_DE.xml
  client/app/cdn/dedicated/translations/Messages_en_ASIA.xml
  client/app/cdn/dedicated/translations/Messages_en_AU.xml
  client/app/cdn/dedicated/translations/Messages_en_CA.xml
  client/app/cdn/dedicated/translations/Messages_en_GB.xml
  client/app/cdn/dedicated/translations/Messages_en_SG.xml
  client/app/cdn/dedicated/translations/Messages_en_US.xml
  client/app/cdn/dedicated/translations/Messages_es_ES.xml
  client/app/cdn/dedicated/translations/Messages_es_US.xml
  client/app/cdn/dedicated/translations/Messages_fi_FI.xml
  client/app/cdn/dedicated/translations/Messages_fr_CA.xml
  client/app/cdn/dedicated/translations/Messages_it_IT.xml
  client/app/cdn/dedicated/translations/Messages_lt_LT.xml
  client/app/cdn/dedicated/translations/Messages_nl_NL.xml
  client/app/cdn/dedicated/translations/Messages_pl_PL.xml
  client/app/cdn/dedicated/translations/Messages_pt_PT.xml
Due: none

release v10.12.0
  CHANGELOG.md
  package.json
Due: none

fix(dedicated-cloud): restore legacy dashboard
  client/app/app.js
  client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/component.js
  client/app/dedicatedCloud/dashboard/legacy/constant.js
  client/app/dedicatedCloud/dashboard/legacy/controller.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/template.html
  client/app/dedicatedCloud/dashboard/main/template.html
  client/app/dedicatedCloud/dashboard/optionTile/component.js
  client/app/dedicatedCloud/dashboard/optionTile/controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): enhance activation status component
  client/app/app.js
  client/app/components/activationStatus/constants.js
  client/app/components/activationStatus/controller.js
  client/app/components/activationStatus/index.js
  client/app/components/activationStatus/template.html
  client/app/components/activationStatus/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/template.html
  client/app/dedicatedCloud/dashboard/optionTile/controller.js
  client/app/dedicatedCloud/dashboard/optionTile/index.js
  client/app/dedicatedCloud/dashboard/optionTile/service.js
  client/app/dedicatedCloud/dashboard/optionTile/template.html
  client/app/dedicatedCloud/servicePack/summary/controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): display loader when state transitions
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): use States to manage data retrieval
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.routes.js
  client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-cloud): retrieve if service uses Agora
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

feat(constants): add Express URLs for all subs
  client/app/config/constants.config.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-backup): replace constant use
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter-datastore): refactor controller
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-datastore): replace constant use
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenter): rewrite `Controller` a bit
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
Due: eslint --fix

refactor(dedicated-cloud-datacenter-host): rewrite `Controller`
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
Due: eslint --fix

feat(dedicated-cloud-datacenter-host): replace constant use
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dedicated-cloud-datacenters): rewrite `Controller`
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix
