Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(deps): upgrade manager-server-sidebar to 0.1.6 (#1157)
  package.json
  yarn.lock
Due: none

feat(account): add dashboard view
  client/app/account/user/contacts/request/user-contacts-request.routes.js
  client/app/account/user/contacts/service/user-contacts-service.routes.js
  client/app/account/user/contacts/update/user.contacts-update.routes.js
  client/app/account/user/contacts/user-contacts.html
  client/app/account/user/contacts/user-contacts.routes.js
  client/app/account/user/dashboard/translations/Messages_fr_FR.xml
  client/app/account/user/dashboard/user-dashboard.constants.js
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/translations/Messages_fr_FR.xml
  client/app/account/user/user.html
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): retrieve translations
  client/app/cdn/dedicated/translations/Messages_en_ASIA.xml
  client/app/cdn/dedicated/translations/Messages_en_AU.xml
  client/app/cdn/dedicated/translations/Messages_en_CA.xml
  client/app/cdn/dedicated/translations/Messages_en_GB.xml
  client/app/cdn/dedicated/translations/Messages_en_SG.xml
  client/app/cdn/dedicated/translations/Messages_en_US.xml
  client/app/cdn/dedicated/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_en_ASIA.xml
  client/app/dedicated/server/translations/Messages_en_AU.xml
  client/app/dedicated/server/translations/Messages_en_CA.xml
  client/app/dedicated/server/translations/Messages_en_GB.xml
  client/app/dedicated/server/translations/Messages_en_SG.xml
  client/app/dedicated/server/translations/Messages_en_US.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
Due: none

fix(i18n): retrieve translations (#1159)
  client/app/cdn/dedicated/translations/Messages_en_ASIA.xml
  client/app/cdn/dedicated/translations/Messages_en_AU.xml
  client/app/cdn/dedicated/translations/Messages_en_CA.xml
  client/app/cdn/dedicated/translations/Messages_en_GB.xml
  client/app/cdn/dedicated/translations/Messages_en_SG.xml
  client/app/cdn/dedicated/translations/Messages_en_US.xml
  client/app/cdn/dedicated/translations/Messages_es_ES.xml
  client/app/dedicated/server/translations/Messages_en_ASIA.xml
  client/app/dedicated/server/translations/Messages_en_AU.xml
  client/app/dedicated/server/translations/Messages_en_CA.xml
  client/app/dedicated/server/translations/Messages_en_GB.xml
  client/app/dedicated/server/translations/Messages_en_SG.xml
  client/app/dedicated/server/translations/Messages_en_US.xml
  client/app/dedicated/server/translations/Messages_es_ES.xml
Due: none

release v10.17.12
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade some dependencies
  package.json
  yarn.lock
Due: none

feat(account.supportlevel): get current support level
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/support-level.routing.js
  client/app/account/user/support-level/translations/Messages_fr_FR.xml
  client/app/images/support-level/business.svg
  client/app/images/support-level/enterprise.svg
  client/app/images/support-level/premium.svg
  client/app/images/support-level/standard.svg
Due: htmlhint 'client/**/*.html', eslint --fix

fix(deps): upgrade some dependencies (#1163)
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ovh-api-services
  package.json
  yarn.lock
Due: none

fix(account.supportlevel): active support level
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): retrieve translations
  client/app/cdn/dedicated/translations/Messages_pl_PL.xml
  client/app/dedicated/housing/translations/Messages_pl_PL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
Due: none

fix(i18n): retrieve translations (#1167)
  client/app/cdn/dedicated/translations/Messages_pl_PL.xml
  client/app/dedicated/housing/translations/Messages_pl_PL.xml
  client/app/dedicated/server/translations/Messages_pl_PL.xml
Due: none

release v10.17.13
  CHANGELOG.md
  package.json
Due: none

docs(contributing.translations): remove translator2 part
  CONTRIBUTING.md
Due: none

docs: update .gitignore file
  .gitignore
Due: none

fix(i18n): update xml by json
  client/app/components/ovh-ui-angular/ovh-ui-angular.module.js
  client/app/components/sidebar-menu/sidebar-menu.js
Due: eslint --fix

fix(deps): upgrade ng-ovh-otrs to v7.1.1
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.1 (#1173)
  package.json
  yarn.lock
Due: none

release v10.17.14
  CHANGELOG.md
  package.json
Due: none

refactor(backup.enable-agora): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
Due: eslint --fix

style(datastore): change indentation
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
Due: eslint --fix

style(host.order-us): change function order
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

refactor(host.order-us): create method to fetch initial data
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

style(dedicated-cloud): change indentation
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

refactor(host.order-us): move data initialization to method
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

feat(dedicated-cloud): resolve current service
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

fix(dedicated-cloud): add missing annotation
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: eslint --fix

build: bump ui-router version
  package.json
  yarn.lock
Due: none

style(license.enable): change indentation
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

fix(license): remove supernumerary ngController
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
Due: htmlhint 'client/**/*.html'

fix(license.enable): add missing annotation
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

refactor(license.enable): reorder parameters alphabetically
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(license.enable): allow route for all subs
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(license): use legacy order everywhere necessary
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

refactor(license.enable): move legacy files to dedicated folder
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/legacy/dedicatedCloud-license-enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
