Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

build(deps): upgrade ovh-module-exchange to v9.2.3
  package.json
  yarn.lock
Due: none

release v10.8.2
  CHANGELOG.md
  package.json
Due: none

fix: prevent loading angularjs more than once
  client/app/account/billing/payment/billing-payment.routes.js
  client/app/account/billing/payment/credits/billing-payment-credits.routes.js
  client/app/account/billing/payment/credits/movements/billing-payment-credits-movements.routes.js
  client/app/account/billing/payment/fidelity/billing-payment-fidelity.routes.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.routes.js
  client/app/account/billing/payment/method/billing-payment-method.controller.js
  client/app/account/billing/payment/method/billing-payment-method.routes.js
  client/app/account/billing/payment/ovhAccount/billing-payment-ovhAccount.routes.js
  client/app/account/billing/payment/refunds/billing-payment-refunds.routes.js
  client/app/account/billing/payment/transactions/billing-payment-transactions.routes.js
  client/app/account/billing/payment/vouchers/billing-payment-voucher.routes.js
  client/app/account/billing/payment/vouchers/movements/billing-payment-vouchers-movements.routes.js
Due: eslint --fix

release v10.9.0
  CHANGELOG.md
  package.json
Due: none

fix: billingMean injection in autorenew view
  client/app/account/billing/mean/billing-mean.service.js
Due: eslint --fix

fix: BillingPaymentMethod injection in autorenew view
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/warnPaymentMean/billing-autoRenew-warnPaymentMean.controller.js
  client/app/account/billing/main/history/balance/billing-history-balance.controller.js
  client/app/account/billing/main/history/balance/billing-history-balance.html
  client/app/account/billing/paymentMethod/billing-paymentMethod.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.9.1
  CHANGELOG.md
  package.json
Due: none

fix(guide): invalid guide link on IPMI
  client/app/config/constants.config.js
Due: eslint --fix

fix(dedicated): fix ip modal
  client/app/ip/ip/order/PCC.html
Due: htmlhint 'client/**/*.html'

build(deps): upgrade web-universe-components to v1.2.1
  package.json
  yarn.lock
Due: none

build(deps): upgrade ovh-utils-angular to v14.0.2
  client/app/app.js
  client/app/css/source.less
  client/app/dedicatedUniverseComponents/tabs/index.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

feat(contacts): support kubernetes
  client/app/account/user/contacts/user-contacts.service.js
  client/app/account/user/translations/Messages_fr_FR.xml
Due: eslint --fix

fix(cache): SSH key delete issue
  client/app/account/user/ssh/user-ssh.service.js
Due: eslint --fix

fix(account.user.ssh): removed cache (#923)
  client/app/account/user/ssh/user-ssh.service.js
Due: eslint --fix

fix(config): replace invalid guide link on IPMI (#910)
  client/app/config/constants.config.js
Due: eslint --fix

fix(account.billing.autorenew): rearrange payment frequency table (#905)
  client/app/account/billing/autoRenew/update/billing-autoRenew-update.html
Due: htmlhint 'client/**/*.html'

fix(dedicated.server): infinite loading when installation error
  client/app/dedicated/server/dedicated-server.controller.js
Due: eslint --fix

fix(ip.order): improve modal form (#921)
  client/app/ip/ip/order/PCC.html
Due: htmlhint 'client/**/*.html'

release v10.9.2
  CHANGELOG.md
  package.json
Due: none

fix(configuration): change message for FR subsidiary (#866)
  client/app/common/translations/Messages_fr_FR.xml
  client/app/configuration/configuration.component.js
  client/app/configuration/configuration.controller.js
  client/app/configuration/configuration.html
  client/app/configuration/configuration.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

build(deps): upgrade ovh-module-exchange to v9.2.4
  package.json
  yarn.lock
Due: none

build(deps): upgrade ovh-module-exchange to v9.2.4 (#930)
  package.json
  yarn.lock
Due: none

fix(i18n): submit translations
  client/app/common/translations/Messages_fr_FR.xml
Due: none

build(deps): upgrade ng-ovh-payment-method to v1.1.3
  package.json
  yarn.lock
Due: none

release v10.9.3
  CHANGELOG.md
  package.json
Due: none

release v10.9.4
  CHANGELOG.md
  package.json
Due: none

feat(billing): add option to download multiple bills
  .eslintrc.json
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/account/billing/main/history/billing-main-history.html
  client/app/account/billing/main/history/downloadBills/billing-main-history-downloadBills.controller.js
  client/app/account/billing/main/history/downloadBills/billing-main-history-downloadBills.html
  client/app/account/billing/main/translations/Messages_fr_FR.xml
  client/app/index.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(translation): incorrect translation while moving IP
  client/app/ip/ip/block/move/ip-ip-block-move.html
Due: htmlhint 'client/**/*.html'

build(deps): upgrade web-universe-components to v1.2.2
  package.json
  yarn.lock
Due: none

build(deps): upgrade ovh-utils-angular to v13.0.4
  package.json
  yarn.lock
Due: none

build(deps): upgrade ovh-module-exchange to v9.2.5
  package.json
  yarn.lock
Due: none

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
