Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

build(package.json): updata ng-ovh-sso-auth to v4.2.2
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 34]
  client/app/billing/autoRenew/actions/activation/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/debtBeforePaying/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/delete/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/terminate/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/terminateEmail/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/terminateHostingWeb/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/terminatePrivateDatabase/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/update/form/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/update/noPaymentMean/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/update/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/warnNicBilling/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/actions/warnPendingDebt/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/agreements/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/bulk/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/disable-domains-bulk/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/disable/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/enable/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/ssh/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/translations/Messages_pt_PT.json
  client/app/dedicated/server/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/summary/delete/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/translations/Messages_es_ES.json
  client/app/dedicatedCloud/translations/Messages_es_ES.json
Due: none

fix(i18n): add missing translations [CDS 37]
  client/app/billing/autoRenew/actions/activation/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/debtBeforePaying/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/delete/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/terminate/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/terminateEmail/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/terminateHostingWeb/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/terminatePrivateDatabase/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/update/form/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/update/noPaymentMean/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/update/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/warnNicBilling/translations/Messages_es_ES.json
  client/app/billing/autoRenew/actions/warnPendingDebt/translations/Messages_es_ES.json
  client/app/billing/autoRenew/agreements/translations/Messages_es_ES.json
  client/app/billing/autoRenew/bulk/translations/Messages_es_ES.json
  client/app/billing/autoRenew/disable-domains-bulk/translations/Messages_es_ES.json
  client/app/billing/autoRenew/disable/translations/Messages_es_ES.json
  client/app/billing/autoRenew/enable/translations/Messages_es_ES.json
  client/app/billing/autoRenew/ssh/translations/Messages_es_ES.json
  client/app/billing/autoRenew/translations/Messages_es_ES.json
Due: none

refactor: remove unused LANGUAGES constant
  client/app/account/billing/billingApp.module.js
  client/app/account/user/user.module.js
  client/app/app.js
  client/app/config/constants.config.js
Due: eslint --fix

build: bump @ovh-ux/manager-core
  package.json
  yarn.lock
Due: none

release v10.27.0
  CHANGELOG.md
  package.json
Due: none

refactor(billing.payment.method): create and use billingPaymentMethod module
  client/app/billing/billing.module.js
  client/app/billing/payment/method/billing-payment-method.routes.js
  client/app/billing/payment/method/component.js
  client/app/billing/payment/method/controller.js
  client/app/billing/payment/method/default/billing-payment-method-default.controller.js
  client/app/billing/payment/method/default/billing-payment-method-default.routes.js
  client/app/billing/payment/method/default/component.js
  client/app/billing/payment/method/default/controller.js
  client/app/billing/payment/method/default/index.html
  client/app/billing/payment/method/default/index.js
  client/app/billing/payment/method/default/routing.js
  client/app/billing/payment/method/delete/billing-payment-method-delete.routes.js
  client/app/billing/payment/method/delete/component.js
  client/app/billing/payment/method/delete/controller.js
  client/app/billing/payment/method/delete/index.html
  client/app/billing/payment/method/delete/index.js
  client/app/billing/payment/method/delete/routing.js
  client/app/billing/payment/method/edit/billing-payment-method-edit.routes.js
  client/app/billing/payment/method/edit/component.js
  client/app/billing/payment/method/edit/controller.js
  client/app/billing/payment/method/edit/index.html
  client/app/billing/payment/method/edit/index.js
  client/app/billing/payment/method/edit/routing.js
  client/app/billing/payment/method/index.html
  client/app/billing/payment/method/index.js
  client/app/billing/payment/method/routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 39]
  client/app/billing/autoRenew/actions/activation/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/cancel-resiliation/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/debtBeforePaying/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/delete/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/terminate/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/terminateEmail/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/terminateHostingWeb/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/terminatePrivateDatabase/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/update/automatic/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/update/form/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/update/manualPayment/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/update/noPaymentMean/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/update/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/warnNicBilling/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/warnPendingDebt/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/agreements/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/bulk/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/disable-domains-bulk/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/disable/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/enable/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/ssh/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/translations/Messages_pl_PL.json
Due: none

refactor(pcc.datacenter.drp): move activation at step 2 validation
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): rename drp service
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: eslint --fix

refactor(pcc): expose pcc drp at top level
  client/app/dedicatedCloud/dashboard/dashboard.component.js
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/legacy.component.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/options/options.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.dashboard): set drp informations on pcc dashboard
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/dashboard/options/options.controller.js
  client/app/dedicatedCloud/dashboard/options/options.html
  client/app/dedicatedCloud/dashboard/options/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter): change dashboard into a oui tile component
  client/app/dedicatedCloud/dashboard/options/options.controller.js
  client/app/dedicatedCloud/dashboard/options/options.html
  client/app/dedicatedCloud/dashboard/options/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.datacenter.dashboard): add zerto informations
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): set delete drp modal as a module
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.html
  client/app/dedicatedCloud/datacenter/drp/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/delete/dedicatedCloud-datacenter-drp-confirmationStep-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc): set delete drp action to pcc legacy dashboards
  client/app/app.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): use current drp informations in last step
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.component.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): move confirmation step to summary
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.component.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/datacenter/drp/summary/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_pl_PL.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(drp): make ovh type path and steps as components
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.routes.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: eslint --fix

feat(drp): add on premises steps translations
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_GB.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pt_PT.json
Due: none

feat(pcc.datacenter.drp): add on premises steps
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(drp): update ovh-api-services
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
Due: eslint --fix

refactor(pcc.datacenter.drp): rename on premises to on premise
  client/app/dedicatedCloud/dashboard/options/options.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.datacenter.drp): activate on premise agora order
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

feat(drp): add vpn configuration
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.datacenter.drp): display alerts message at different places
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/dashboard/options/options.controller.js
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.component.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.html
  client/app/dedicatedCloud/datacenter/drp/alerts/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(drp): use current service for pcc informations
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.component.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(drp): typos
  client/app/dedicatedCloud/dashboard/options/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/index.js
Due: eslint --fix

refactor(drp): simplify data used for deletion
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

fix(drp): fix local vra network input field
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
Due: htmlhint 'client/**/*.html'

fix(drp): return to choice step correctly
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: eslint --fix

feat(pcc): add modal to select datacenter for drp
  client/app/dedicatedCloud/dashboard/dashboard.component.js
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.component.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.component.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.controller.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.html
  client/app/dedicatedCloud/drpDatacenterSelection/index.js
  client/app/dedicatedCloud/drpDatacenterSelection/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: make delete drp modal as a state
  client/app/app.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/datacenter/dashboard/deleteDrp/index.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.component.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/delete/dedicatedCloud-datacenter-drp-summary-delete.html
  client/app/dedicatedCloud/datacenter/drp/summary/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/index.js
  client/app/dedicatedCloud/deleteDrp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat: update zerto images
  client/app/images/drp/zerto-one-and-one-pcc.svg
  client/app/images/drp/zerto-two-pcc.svg
Due: none
