Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(billing.payment.method): pull request review
  client/app/billing/payment/method/add/views/legacyBankAccount/controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 67]
  client/app/account/user/dashboard/translations/Messages_en_GB.json
  client/app/account/user/dashboard/translations/Messages_fi_FI.json
  client/app/account/user/dashboard/translations/Messages_fr_CA.json
  client/app/account/user/dashboard/translations/Messages_lt_LT.json
  client/app/account/user/dashboard/translations/Messages_pt_PT.json
  client/app/account/user/newAccountForm/translations/Messages_de_DE.json
  client/app/account/user/support-level/translations/Messages_en_GB.json
  client/app/account/user/support-level/translations/Messages_fi_FI.json
  client/app/account/user/support-level/translations/Messages_fr_CA.json
  client/app/account/user/support-level/translations/Messages_lt_LT.json
  client/app/account/user/support-level/translations/Messages_pt_PT.json
  client/app/account/user/translations/Messages_en_GB.json
  client/app/account/user/translations/Messages_fi_FI.json
  client/app/account/user/translations/Messages_fr_CA.json
  client/app/account/user/translations/Messages_lt_LT.json
  client/app/account/user/translations/Messages_pt_PT.json
Due: none

fix(dedicated-server.ola): add interface isolated translation type
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: none

fix(error): center error page
  client/app/error/error.module.js
  client/app/error/error.scss
Due: eslint --fix

fix(ola): reload on changes
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.routing.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.controller.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.html
  client/app/dedicated/server/interfaces/rename/interfaces-rename.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): add option to align renew dates (#1417)
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/config/constants.config.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): set page offset for current page
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

fix(error-page): reload to go to home page
  client/app/error/error.routing.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 68]
  client/app/account/contacts/service/edit/translations/Messages_de_DE.json
  client/app/account/contacts/service/edit/translations/Messages_en_GB.json
  client/app/account/contacts/service/edit/translations/Messages_fi_FI.json
  client/app/account/contacts/service/edit/translations/Messages_fr_CA.json
  client/app/account/contacts/service/edit/translations/Messages_lt_LT.json
  client/app/account/contacts/service/edit/translations/Messages_pt_PT.json
  client/app/account/contacts/service/translations/Messages_de_DE.json
  client/app/account/contacts/service/translations/Messages_en_GB.json
  client/app/account/contacts/service/translations/Messages_fi_FI.json
  client/app/account/contacts/service/translations/Messages_fr_CA.json
  client/app/account/contacts/service/translations/Messages_lt_LT.json
  client/app/account/contacts/service/translations/Messages_pt_PT.json
  client/app/account/user/dashboard/translations/Messages_de_DE.json
  client/app/account/user/dashboard/translations/Messages_es_ES.json
  client/app/account/user/dashboard/translations/Messages_pl_PL.json
  client/app/account/user/newAccountForm/translations/Messages_pt_PT.json
  client/app/account/user/support-level/translations/Messages_de_DE.json
  client/app/account/user/support-level/translations/Messages_es_ES.json
  client/app/account/user/support-level/translations/Messages_pl_PL.json
  client/app/account/user/translations/Messages_de_DE.json
  client/app/account/user/translations/Messages_es_ES.json
  client/app/account/user/translations/Messages_pl_PL.json
  client/app/billing/translations/Messages_pt_PT.json
Due: none

fix(billing.autorenew): allow immediate service termination
  client/app/billing/autoRenew/actions/terminate/terminate.controller.js
  client/app/billing/autoRenew/actions/terminateEmail/billing-autoRenew-terminateEmail.controller.js
  client/app/billing/autoRenew/actions/terminateHostingWeb/billing-autoRenew-terminateHostingWeb.controller.js
  client/app/billing/autoRenew/actions/terminatePrivateDatabase/billing-autoRenew-terminatePrivateDatabase.controller.js
  client/app/billing/autoRenew/actions/terminatePrivateDatabase/billing-autoRenew-terminatePrivateDatabase.html
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(error-page): reload to go to home page (#1425)
  client/app/error/error.routing.js
Due: eslint --fix

release v10.30.1
  CHANGELOG.md
  package.json
Due: none

feat(ola): termination popup
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.component.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.controller.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.html
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.module.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.routing.js
  client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(ola): show an error when trying to terminate the service again
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ola): add explanation message during termination
  client/app/dedicated/server/interfaces/ola-terminate/ola-terminate.html
  client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

fix(ola): show correctly unavailable interfaces
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ola): show correct interface type
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html'

fix(ola): trying to attach a vrack again shows an error
  client/app/dedicated/server/interfaces/attach/interfaces-attach.component.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.controller.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.component.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: eslint --fix

fix(ola): add virtual interface task translation
  client/app/dedicated/housing/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

trans(ola): add English translations
  client/app/dedicated/housing/translations/Messages_en_GB.json
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_en_GB.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_en_GB.json
  client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_en_GB.json
  client/app/dedicated/server/interfaces/translations/Messages_en_GB.json
  client/app/dedicated/server/translations/Messages_en_GB.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

trans(ola): English translations
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_en_US.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_en_US.json
  client/app/dedicated/server/interfaces/translations/Messages_en_US.json
  client/app/dedicated/server/translations/Messages_en_US.json
Due: none

fix(dedicated-server.ola): use non mock data for config preview
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-server.interfaces): improve wording on resiliation
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
Due: none

fix(dedicated-server.interfaces): display IPFO count
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-server.interfaces): display price dynamically
  client/app/components/user/user.service.js
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated-server.bandwidth): add prorata detail on step2
  client/app/dedicated/server/bandwidth/private-order/private-order.html
  client/app/dedicated/server/bandwidth/public-order/public-order.html
Due: htmlhint 'client/**/*.html'

fix(dedicated-server.interfaces): display bandwidth option on both tiles
  client/app/dedicated/server/bandwidth-legacy/order-private/dedicated-server-bandwidth-vrack-order.controller.js
  client/app/dedicated/server/bandwidth-legacy/order-private/order-private.routing.js
  client/app/dedicated/server/bandwidth-legacy/order-public/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth-legacy/order-public/order-public.routing.js
  client/app/dedicated/server/bandwidth/bandwidth.module.js
  client/app/dedicated/server/bandwidth/dashboard/dashboard.component.js
  client/app/dedicated/server/bandwidth/dashboard/dashboard.controller.js
  client/app/dedicated/server/bandwidth/dashboard/dashboard.html
  client/app/dedicated/server/bandwidth/dashboard/dashboard.module.js
  client/app/dedicated/server/bandwidth/dashboard/translations/Messages_fr_FR.json
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.module.js
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-server.interfaces): display price dynamically
  client/app/dedicated/server/interfaces/interfaces.component.js
Due: eslint --fix

fix(ola): show an error on activation
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: eslint --fix

trans(ola): texts for OLA
  client/app/dedicated/housing/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

fix(ola): add translations (#1428)
  client/app/dedicated/housing/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-terminate/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
