Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

refactor(datastore): rename legacy order funnel
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/orderLegacy/dedicatedCloud-datacenter-datastore-orderLegacy.controller.js
  client/app/dedicatedCloud/datacenter/datastore/orderLegacy/dedicatedCloud-datacenter-datastore-orderLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(selection): add margin between lines
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

fix: merge errors
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/component.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/service.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/state.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/step.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: restore rebase errors
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
Due: eslint --fix

refactor(dashboard): move legacy dashboard
  client/app/dedicatedCloud/dashboard/legacy/dedicatedCloud-dashboardLegacy.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dashboard.options): remove action if no certification orderable
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

style(backup.enable): change indentation
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
Due: eslint --fix

fix(selection.confirm): change text according to item type
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(backup.enable): use object destructuration
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
Due: eslint --fix

feat: add constants to Veeam presentation
  client/app/config/constants.config.js
Due: eslint --fix

perf: remove duplicate randexp dependency (#1183)
  .eslintignore
  client/app/index.js
  client/assets/randexp.min.js
  package.json
  yarn.lock
Due: eslint --fix

build: upgrade @ovh-ux/ng-ovh-web-universe-components@4.0.0
  package.json
  yarn.lock
Due: none

build: remove duplicate dependency URIjs
  package.json
  yarn.lock
Due: none

build: bump @ovh-ux/manager-navbar
  package.json
  yarn.lock
Due: none

feat(dedicated.server): remove useless information network tile
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

feat(dedicated.server): remove useless information network tile (#1185)
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html'

build: bump @ovh-ux/manager-navbar (#1184)
  package.json
  yarn.lock
Due: none

release v10.18.0
  CHANGELOG.md
  package.json
Due: none

fix(pcc.dashboard.drp): fix get drp state
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

feat(dedicated.server): all servers page
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.routing.js
  client/app/dedicated/server/servers/touch
  client/app/dedicated/server/servers/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(options): disable action menu
  client/app/dedicatedCloud/dashboard/tiles/options/models/bindings/bindings.js
Due: eslint --fix

fix(pcc.dashboard): display Arin IP counter
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
Due: htmlhint 'client/**/*.html'

refactor(components): remove unused file for sidebar menu
  client/app/components/ovh-angular-sidebar-menu/ovh-angular-sidebar-menu.module.js
Due: eslint --fix

refactor(components): remove unused file for sidebar menu (#1190)
  client/app/components/ovh-angular-sidebar-menu/ovh-angular-sidebar-menu.module.js
Due: eslint --fix

fix(dedicated.cloud.dashboard): display Arin IP counter (#1189)
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
Due: htmlhint 'client/**/*.html'

fix(cdn.dedicated.service): return data from getSelected method
  client/app/cdn/dedicated/cdn-dedicated.service.js
Due: eslint --fix

fix(cdn.dedicated.service): return data from getSelected method (#1192)
  client/app/cdn/dedicated/cdn-dedicated.service.js
Due: eslint --fix

feat(dedicated.servers): implement filters
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
  client/app/dedicated/server/servers/servers.routing.js
  client/app/dedicated/server/servers/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(mrtg-graphic): fix mrtg graphics
  CHANGELOG.md
  package.json
Due: none

fix(mrtg-graphic): fix mrtg graphics
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_it_IT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_it_IT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/selection/translations/Messages_it_IT.json
  client/app/dedicatedCloud/dashboard/options/order/translations/Messages_it_IT.json
Due: none

fix(mrtg-graphic): fix mrtg graphics
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
Due: eslint --fix

fix(deps): upgrade some dependencies
  package.json
  yarn.lock
Due: none

fix(deps): upgrade some dependencies (#1196)
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/dedicatedCloud/dashboard/generalInformation/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/activationStatus/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/activationStatus/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_it_IT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_it_IT.json
  client/app/dedicatedCloud/dashboard/options/order/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_en_AU.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_en_CA.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_en_GB.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_en_SG.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_en_US.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/serviceManagement/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/serviceManagement/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_pt_PT.json
Due: none
