Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations [CDS 48]
  client/app/account/user/translations/Messages_de_DE.json
  client/app/account/user/translations/Messages_fr_CA.json
  client/app/account/user/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/translations/Messages_de_DE.json
  client/app/billing/autoRenew/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/translations/Messages_pt_PT.json
  client/app/billing/translations/Messages_de_DE.json
  client/app/billing/translations/Messages_fr_CA.json
Due: none

refactor(dedicated.server.interfaces): update datagrid with ola services
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola/ola.component.js
  client/app/dedicated/server/interfaces/ola/ola.constants.js
  client/app/dedicated/server/interfaces/ola/ola.controller.js
  client/app/dedicated/server/interfaces/ola/ola.html
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: add OLA stepper
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.component.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.interfaces): create layout for step checker
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/ola.html
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

build: link ui-angular and navbar
  package.json
  yarn.lock
Due: none

refactor(account.user.support-level): modularize support level
  client/app/account/user/support-level/SupportLevel.class.js
  client/app/account/user/support-level/support-level.component.js
  client/app/account/user/support-level/support-level.constants.js
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/support-level.module.js
  client/app/account/user/support-level/support-level.routing.js
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: remove duplicate ssh section
  client/app/account/user/ssh/user-ssh.controller.js
  client/app/account/user/ssh/user-ssh.html
  client/app/account/user/ssh/user-ssh.routing.js
  client/app/account/user/user.html
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations [CDS 50]
  client/app/account/user/translations/Messages_es_ES.json
  client/app/billing/autoRenew/translations/Messages_es_ES.json
  client/app/billing/translations/Messages_es_ES.json
Due: none

fix(billing.autorenew): allow to terminate non-engaged service
  client/app/billing/autoRenew/actions/delete/delete.routing.js
Due: eslint --fix

feat(account.support-leve): add subs urls
  client/app/account/user/support-level/support-level.constants.js
Due: eslint --fix

fix(billing.autorenew): fix link to billing section
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): fix capability check
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/enable/enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): fix link to billing section (#1392)
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): fix capability check (#1390)
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/enable/enable.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): allow to terminate non-engaged service (#1389)
  client/app/billing/autoRenew/actions/delete/delete.routing.js
Due: eslint --fix

release v10.28.4
  CHANGELOG.md
  package.json
Due: none

refactor(account.user): improvements
  client/app/account/user/advanced/user-advanced.html
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.less
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/security/user-security.html
  client/app/account/user/support-level/index.less
  client/app/account/user/support-level/support-level.html
  client/app/account/user/user.controller.js
  client/app/account/user/users/users.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

build: bump ovh-ui-angular and ovh-api-services
  package.json
  yarn.lock
Due: none

refactor: allow to use BillingService model outside of autorenew module
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/models/BillingService.class.js
Due: eslint --fix

refactor(account.contacts): use resolve pattern with a datagrid
  client/app/account/contacts/service/contacts-service.component.js
  client/app/account/contacts/service/contacts-service.module.js
  client/app/account/contacts/service/contacts-service.service.js
  client/app/account/contacts/service/edit/edit.component.js
  client/app/account/contacts/service/edit/edit.controller.js
  client/app/account/contacts/service/edit/edit.html
  client/app/account/contacts/service/edit/edit.module.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/edit/translations/Messages_fr_FR.json
  client/app/account/contacts/service/translations/Messages_fr_FR.json
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/service/user-contacts.constants.js
  client/app/account/contacts/user-contacts.service.js
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/app.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(account): move files according to url
  client/app/account/contacts/request/change/user-contacts-request-change.controller.js
  client/app/account/contacts/request/change/user-contacts-request-change.html
  client/app/account/contacts/request/received/user-contacts-request-received.controller.js
  client/app/account/contacts/request/received/user-contacts-request-received.html
  client/app/account/contacts/request/send/user-contacts-request-send.controller.js
  client/app/account/contacts/request/send/user-contacts-request-send.html
  client/app/account/contacts/request/user-contacts-request.controller.js
  client/app/account/contacts/request/user-contacts-request.html
  client/app/account/contacts/request/user-contacts-request.routes.js
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/update/user-contacts-update.controller.js
  client/app/account/contacts/update/user-contacts-update.html
  client/app/account/contacts/update/user.contacts-update.routes.js
  client/app/account/contacts/user-contacts.controller.js
  client/app/account/contacts/user-contacts.html
  client/app/account/contacts/user-contacts.routes.js
  client/app/account/contacts/user-contacts.service.js
  client/app/account/user/user.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

build: use navbar split
  yarn.lock
Due: none

fix(billing): add comments title to confirm terminate page (#1376)
  client/app/billing/confirmTerminate/billing-confirmTerminate.html
  client/app/billing/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

feat(billing.payment.method): wip - handle payapl in context
  client/app/app.js
  client/app/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/billing/payment/method/add/billing-payment-method-add.routes.js
  client/app/billing/payment/method/add/component.js
  client/app/billing/payment/method/add/constants.js
  client/app/billing/payment/method/add/controller.js
  client/app/billing/payment/method/add/index.html
  client/app/billing/payment/method/add/index.js
  client/app/billing/payment/method/add/routing.js
  client/app/billing/payment/method/add/translations/Messages_fr_FR.json
  client/app/billing/payment/method/translations/Messages_fr_FR.json
  client/app/components/ng-ovh-payment-method/ovh-angular-payment-method.module.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(account.user): improvements
  client/app/account/user/advanced/user-advanced.html
  client/app/account/user/dashboard/translations/Messages_fr_FR.json
  client/app/account/user/dashboard/user-dasboard.component.js
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.less
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/security/user-security.html
  client/app/account/user/support-level/index.less
  client/app/account/user/support-level/support-level.html
  client/app/account/user/user.controller.js
  client/app/account/user/users/users.controller.js
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(billing.autorenew): display pop up to pay bill
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server.interfaces): fix when vni is undefined
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola/ola.component.js
  client/app/dedicated/server/interfaces/ola/ola.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.dashboard): create configuration page for ola
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/ola/ola.component.js
  client/app/dedicated/server/interfaces/ola/ola.constants.js
  client/app/dedicated/server/interfaces/ola/ola.controller.js
  client/app/dedicated/server/interfaces/ola/ola.html
  client/app/dedicated/server/interfaces/ola/ola.module.js
  client/app/dedicated/server/interfaces/ola/ola.routing.js
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: first attempt at network interfaces page
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.routes.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.interfaces): create layout for step checker
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.html
  client/app/dedicated/server/interfaces/ola/ola.html
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: update interfaces to use component
  client/app/app.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.routes.js
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola/ola.module.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.dashboard): apply changes on the overview page
  client/app/app.less
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix: handle every interface type
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
Due: eslint --fix

feat: replace the bandwidth order action with a $state modal
  client/app/dedicated/server/bandwidth/dedicated-server-bandwidth.module.js
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.component.js
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.controller.js
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwidth-order.html
  client/app/dedicated/server/bandwidth/order/dedicated-server-bandwitdh-order.routing.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat: generate interface list
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
