Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

refactor(billing.orders): use datagrid bound to new api engine
  client/app/account/billing/billingApp.module.js
  client/app/account/billing/orders/billing-orders.controller.js
  client/app/account/billing/orders/billing-orders.html
  client/app/account/billing/orders/billing-orders.routing.js
  client/app/account/billing/orders/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): display alert only if autoRenew is not activated
  client/app/account/billing/autoRenew/billing-autoRenew.html
Due: htmlhint 'client/**/*.html'

fix(billing.payment.ovhaccount.retrieve): add non valid bank accounts
  client/app/account/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.controller.js
Due: eslint --fix

fix(billing.autorenew): display alert only if autoRenew is not activated (#1198)
  client/app/account/billing/autoRenew/billing-autoRenew.html
Due: htmlhint 'client/**/*.html'

fix(billing.payment.ovhaccount.retrieve): add non valid bank accounts (#1199)
  client/app/account/billing/payment/ovhAccount/retrieve/billing-ovhAccount-retrieve.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/dedicatedCloud/dashboard/generalInformation/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_en_AU.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_en_CA.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_en_GB.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_en_SG.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_en_US.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/options/order/steps/selection/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/order/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/order/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_de_DE.json
  client/app/dedicatedCloud/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/translations/Messages_en_AU.json
  client/app/dedicatedCloud/translations/Messages_en_CA.json
  client/app/dedicatedCloud/translations/Messages_en_GB.json
  client/app/dedicatedCloud/translations/Messages_en_SG.json
  client/app/dedicatedCloud/translations/Messages_en_US.json
  client/app/dedicatedCloud/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/translations/Messages_pt_PT.json
Due: none

release v10.18.1
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade some dependencies
  package.json
  yarn.lock
Due: none

fix(deps): upgrade some dependencies (#1203)
  package.json
  yarn.lock
Due: none

fix(dedicated.server): fix mrtg graphics (#1195)
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/dedicatedCloud/dashboard/generalInformation/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/activationStatus/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_en_AU.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_en_CA.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_en_GB.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_en_SG.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_en_US.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_en_AU.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_en_CA.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_en_GB.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_en_SG.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_en_US.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_en_AU.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_en_CA.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_en_GB.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_en_SG.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_en_US.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/dashboard/options/order/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/serviceManagement/translations/Messages_es_ES.json
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_es_ES.json
Due: none

release v10.18.2
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.5
  package.json
  yarn.lock
Due: none

fix(license): add missing translations
  client/app/license/translations/Messages_fr_FR.json
Due: none

fix(license): add missing translations (#1208)
  client/app/license/translations/Messages_fr_FR.json
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.5 (#1207)
  package.json
  yarn.lock
Due: none

release v10.18.3
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/order/stepper/header/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/order/steps/selection/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/order/steps/selection/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/order/steps/selection/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/smsActivation/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_es_ES.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/options/servicePack/translations/Messages_es_ES.json
  client/app/dedicatedCloud/translations/Messages_de_DE.json
  client/app/dedicatedCloud/translations/Messages_es_ES.json
Due: none

feat: update tracking id
  client/app/app.js
Due: eslint --fix

release v10.19.0
  CHANGELOG.md
  package.json
Due: none

fix(server-rtm): bug fixes
  client/app/config/constants.config.js
  client/app/dedicated/server/statistics/infos.html
  client/app/dedicated/server/statistics/rtm/load-avg/dedicated-server-statistics-rtm-load-avg.controller.js
  client/app/dedicated/server/statistics/rtm/load-avg/dedicated-server-statistics-rtm-load-avg.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_en_AU.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_en_CA.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_en_GB.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_en_SG.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_en_US.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/dashboard/options/order/confirm/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/requiredConfiguration/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/dashboard/options/order/steps/summary/translations/Messages_it_IT.json
  client/app/dedicatedCloud/dashboard/options/translations/Messages_it_IT.json
  client/app/dedicatedCloud/dashboard/serviceManagement/translations/Messages_it_IT.json
  client/app/dedicatedCloud/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/translations/Messages_en_AU.json
  client/app/dedicatedCloud/translations/Messages_en_CA.json
  client/app/dedicatedCloud/translations/Messages_en_GB.json
  client/app/dedicatedCloud/translations/Messages_en_SG.json
  client/app/dedicatedCloud/translations/Messages_en_US.json
  client/app/dedicatedCloud/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/translations/Messages_lt_LT.json
Due: none

fix(deps): upgrade some dependencies (#1213)
  package.json
  yarn.lock
Due: none

release v10.19.1
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade ng-ovh-sidebar-menu to v8.3.3
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ng-ovh-sidebar-menu to v8.3.3 (#1219)
  package.json
  yarn.lock
Due: none

fix(dedicated.server.statistics): improve charts display (#1212)
  client/app/config/constants.config.js
  client/app/dedicated/server/statistics/infos.html
  client/app/dedicated/server/statistics/rtm/load-avg/dedicated-server-statistics-rtm-load-avg.controller.js
  client/app/dedicated/server/statistics/rtm/load-avg/dedicated-server-statistics-rtm-load-avg.html
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.19.2
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/license/translations/Messages_de_DE.json
  client/app/license/translations/Messages_es_ES.json
  client/app/license/translations/Messages_it_IT.json
Due: none

fix(prices fix): fix prices for asia and sg region
  client/app/dedicatedUniverseComponents/price/price.filter.js
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_FR.json
Due: eslint --fix

fix(drp): return correct object of plan state response
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

release v10.19.3
  CHANGELOG.md
  package.json
Due: none

fix(server-rtm): load average graph fix
  client/app/dedicated/server/statistics/rtm/load-avg/dedicated-server-statistics-rtm-load-avg.controller.js
  client/app/dedicated/server/statistics/rtm/load-avg/dedicated-server-statistics-rtm-load-avg.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(trans-fix): fix translations
  client/app/account/billing/payment/transactions/translations/Messages_fr_FR.json
Due: none

fix: get access to the chatbot from both billing and account section
  client/app/index.html
Due: htmlhint 'client/**/*.html'

fix(i18n): add missing translations
  client/app/license/translations/Messages_en_ASIA.json
  client/app/license/translations/Messages_en_AU.json
  client/app/license/translations/Messages_en_CA.json
  client/app/license/translations/Messages_en_GB.json
  client/app/license/translations/Messages_en_SG.json
  client/app/license/translations/Messages_en_US.json
  client/app/license/translations/Messages_fi_FI.json
  client/app/license/translations/Messages_lt_LT.json
  client/app/license/translations/Messages_pl_PL.json
Due: none

build(deps): upgrade ovh-api-services to v7.0.0
  package.json
  yarn.lock
Due: none

fix: get access to the chatbot from both billing and account section (#1228)
  client/app/index.html
Due: htmlhint 'client/**/*.html'
