Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(host.order-us): add missing annotation
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
Due: eslint --fix

fix(datacenter): add margin to button to match other pages
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
Due: htmlhint 'client/**/*.html'

fix(datacenter): increase margin to match other pages
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html'

refactor(dedicated-cloud): rename functions
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

feat(name-edition): add option to display success message
  client/app/components/name-edition/name-edition.controller.js
Due: eslint --fix

feat(dedicated-cloud): display success message when changing name
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: eslint --fix

feat(datacenter): display success message
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: eslint --fix

fix(veeam): remove unwanted tags in translation
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

[Support new order funnel - Part 3] Miscellaneous fixes for Dedicated Datacenter (#1022)
  client/app/components/name-edition/name-edition.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.routes.js
  client/app/dedicatedCloud/datacenter/backup/disable/dedicatedCloud-datacenter-backup-disable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/datastore/orderUS/dedicatedCloud-datacenter-datastore-orderUS.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routes.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.routes.js
  client/app/dedicatedCloud/datacenter/host/orderUS/dedicatedCloud-datacenter-host-orderUS.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server): activate backup ftp title
  client/app/dedicated/server/ftp-backup/activate/dedicated-server-ftp-backup-activate.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(i18n): submit
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: none

release v10.13.4
  CHANGELOG.md
  package.json
Due: none

fix(billing.payment.add): contact choice for ES and IE
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.controller.js
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server): diasble delete at expiration for new range
  client/app/account/billing/autoRenew/delete/billing-autoRenew-delete.controller.js
  client/app/account/billing/autoRenew/delete/billing-autoRenew-delete.html
  client/app/account/billing/translations/Messages_fr_FR.xml
  client/app/dedicated/server/terminate/dedicated-server-terminate.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server): terminate missing translation
  client/app/account/billing/translations/Messages_fr_FR.xml
Due: none

refactor(ip): change ip order modal to a uib modal
  client/app/ip/ip/ip-ip.controller.js
  client/app/ip/ip/ip-ip.html
  client/app/ip/ip/order/ip-ip-order.controller.js
  client/app/ip/ip/order/ip-ip-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(zerto): add polling for ordered ip blocks and disable field
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/first/dedicatedCloud-datacenter-drp-firstStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: disable ip select field if no datacenter is selected
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/steps/common/first/dedicatedCloud-datacenter-drp-firstStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.html
Due: htmlhint 'client/**/*.html'

Revert "fix(zerto): add polling for ordered ip blocks and disable field"
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/first/dedicatedCloud-datacenter-drp-firstStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicatedcloud.datacenter): add zerto feature
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.routes.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routes.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routes.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/final/dedicatedCloud-datacenter-drp-finalStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/final/dedicatedCloud-datacenter-drp-finalStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/common/final/delete/dedicatedCloud-datacenter-drp-finalStep-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/final/delete/dedicatedCloud-datacenter-drp-finalStep-delete.html
  client/app/dedicatedCloud/datacenter/drp/steps/common/first/dedicatedCloud-datacenter-drp-firstStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/first/dedicatedCloud-datacenter-drp-firstStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/final/dedicatedCloud-datacenter-drp-ovh-finalStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/final/dedicatedCloud-datacenter-drp-ovh-finalStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/first/dedicatedCloud-datacenter-drp-ovh-firstStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/first/dedicatedCloud-datacenter-drp-ovh-firstStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.routes.js
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/images/drp/zerto-one-and-one-pcc.svg
  client/app/images/drp/zerto-two-pcc.svg
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(datacenter): use transitions to handle loading animation
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html'

refactor(zerto): PR review
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.routes.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routes.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/final/dedicatedCloud-datacenter-drp-finalStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/final/dedicatedCloud-datacenter-drp-finalStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/common/final/delete/dedicatedCloud-datacenter-drp-finalStep-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/first/dedicatedCloud-datacenter-drp-firstStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/first/dedicatedCloud-datacenter-drp-firstStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/final/dedicatedCloud-datacenter-drp-ovh-finalStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/final/dedicatedCloud-datacenter-drp-ovh-finalStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/first/dedicatedCloud-datacenter-drp-ovh-firstStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/first/dedicatedCloud-datacenter-drp-ovh-firstStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(zerto): select right alert box for delete success message
  client/app/dedicatedCloud/datacenter/drp/steps/common/final/dedicatedCloud-datacenter-drp-finalStep.controller.js
Due: eslint --fix

fix(zerto): fix endless spinner if transition fails
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routes.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/delete/dedicatedCloud-datacenter-drp-confirmationStep-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/delete/dedicatedCloud-datacenter-drp-confirmationStep-delete.html
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/final/dedicatedCloud-datacenter-drp-ovh-finalStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/final/dedicatedCloud-datacenter-drp-ovh-finalStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/first/dedicatedCloud-datacenter-drp-ovh-firstStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/second/dedicatedCloud-datacenter-drp-ovh-secondStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routes.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
  client/app/ip/ip/order/ip-ip-order.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(zerto): filter pccs on same location than the primary one
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(zerto): clear cache after ip order
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routes.js
Due: eslint --fix

feat(zerto): check second pcc hosts, and restyle warning message
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(zerto): fix splitted translations
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(ip): pick global ip order
  client/app/config/constants.config.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.controller.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
  client/app/ip/ip/ip-ip.controller.js
  client/app/ip/ip/ip-ip.html
  client/app/ip/ip/order/PCC.html
  client/app/ip/ip/order/durationsPCC.html
  client/app/ip/ip/order/ip-ip-order.controller.js
  client/app/ip/ip/order/ip-ip-order.html
  client/app/ip/ip/order/ip-ip-order.service.js
  client/app/ip/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(zerto): fix disable path if drp is in disabling state
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(zerto): handle ip order with agora changes
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routes.js
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.constant.js
  client/app/ip/ip/agoraOrder/ip-ip-agoraOrder.service.js
  client/app/ip/ip/ip-ip.html
  client/app/ip/ip/legacyOrder/DEDICATED.html
  client/app/ip/ip/legacyOrder/PCC.html
  client/app/ip/ip/legacyOrder/VPS.html
  client/app/ip/ip/legacyOrder/durations.html
  client/app/ip/ip/legacyOrder/durationsPCC.html
  client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.controller.js
  client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.html
  client/app/ip/ip/legacyOrder/ip-ip-legacyOrder.service.js
  client/app/ip/ip/legacyOrder/migrate/ip-ip-legacyOrder-migrate.controller.js
  client/app/ip/ip/legacyOrder/migrate/ip-ip-legacyOrder-migrate.html
  client/app/ip/translations/Messages_fr_FR.xml
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(zerto): include new disabling drp status
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(zerto): add order option for new pccs
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routes.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routes.js
  client/app/dedicatedCloud/dedicatedCloud.constant.js
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server): resiliation CR fixes
  client/app/account/billing/autoRenew/delete/billing-autoRenew-delete.html
  client/app/account/billing/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
  client/app/dedicated/server/terminate/dedicated-server-terminate.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

Feat/new dedicated resiliation (#1032)
  client/app/account/billing/autoRenew/delete/billing-autoRenew-delete.controller.js
  client/app/account/billing/autoRenew/delete/billing-autoRenew-delete.html
  client/app/account/billing/translations/Messages_fr_FR.xml
  client/app/common/translations/Messages_fr_FR.xml
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/terminate/dedicated-server-terminate.controller.js
  client/app/dedicated/server/terminate/dedicated-server-terminate.html
  client/app/dedicated/server/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.payment.add): contact choice for ES and IE (#1030)
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.controller.js
  client/app/account/billing/payment/method/add/views/billing-address/add-billing-address.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(i18n): retrieve translations
  client/app/dedicatedCloud/translations/Messages_de_DE.xml
  client/app/dedicatedCloud/translations/Messages_en_ASIA.xml
  client/app/dedicatedCloud/translations/Messages_en_AU.xml
  client/app/dedicatedCloud/translations/Messages_en_CA.xml
  client/app/dedicatedCloud/translations/Messages_en_GB.xml
  client/app/dedicatedCloud/translations/Messages_en_SG.xml
  client/app/dedicatedCloud/translations/Messages_en_US.xml
  client/app/dedicatedCloud/translations/Messages_it_IT.xml
  client/app/dedicatedCloud/translations/Messages_pl_PL.xml
  client/app/dedicatedCloud/translations/Messages_pt_PT.xml
Due: none

release v10.13.5
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
