Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(billing.autorenew): display pop up to pay bill (#1396)
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

release v10.28.5
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 54]
  client/app/billing/translations/Messages_de_DE.json
  client/app/billing/translations/Messages_en_GB.json
  client/app/billing/translations/Messages_fi_FI.json
  client/app/billing/translations/Messages_fr_CA.json
  client/app/billing/translations/Messages_lt_LT.json
Due: none

fix: code review
  client/app/dedicated/server/bandwidth/dedicated-server-bandwitdh.routing.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: staging review
  client/app/dedicated/server/bandwidth/bandwidth.service.js
  client/app/dedicated/server/bandwidth/bandwitdh.module.js
  client/app/dedicated/server/bandwidth/cancel-private/dedicated-server-bandwidth-vrack-cancel.component.js
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.component.js
  client/app/dedicated/server/bandwidth/cancel-public/dedicated-server-bandwidth-cancel.controller.js
  client/app/dedicated/server/bandwidth/dedicated-server-bandwidth.module.js
  client/app/dedicated/server/bandwidth/dedicated-server-bandwitdh.routing.js
  client/app/dedicated/server/bandwidth/order-private/dedicated-server-bandwidth-vrack.component.js
  client/app/dedicated/server/bandwidth/order-public/dedicated-server-bandwidth-order.component.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.component.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.html
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.routing.js
  client/app/dedicated/server/bandwidth/private-order/private-order.component.js
  client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  client/app/dedicated/server/bandwidth/private-order/private-order.html
  client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.component.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.controller.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.html
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.routing.js
  client/app/dedicated/server/bandwidth/public-order/public-order.component.js
  client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  client/app/dedicated/server/bandwidth/public-order/public-order.html
  client/app/dedicated/server/bandwidth/public-order/public-order.routing.js
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: first attempt at ordering the option
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.component.js
  client/app/dedicated/server/interfaces/ola-activation/ola-activation.controller.js
  client/app/dedicated/server/interfaces/ola.class.js
Due: eslint --fix

fix: code review
  client/app/dedicated/server/interfaces/attach/interface-attach.module.js
  client/app/dedicated/server/interfaces/attach/interface-attach.routing.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.component.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.controller.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/rename/interface-rename.module.js
  client/app/dedicated/server/interfaces/rename/interface-rename.routing.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.component.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.controller.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(account): move files according to url
  client/app/account/contacts/request/change/user-contacts-request-change.controller.js
  client/app/account/contacts/request/change/user-contacts-request-change.html
  client/app/account/contacts/request/received/user-contacts-request-received.controller.js
  client/app/account/contacts/request/received/user-contacts-request-received.html
  client/app/account/contacts/request/send/user-contacts-request-send.controller.js
  client/app/account/contacts/request/send/user-contacts-request-send.html
  client/app/account/contacts/request/user-contacts-request.controller.js
  client/app/account/contacts/request/user-contacts-request.html
  client/app/account/contacts/request/user-contacts-request.routes.js
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/update/user-contacts-update.controller.js
  client/app/account/contacts/update/user-contacts-update.html
  client/app/account/contacts/update/user.contacts-update.routes.js
  client/app/account/contacts/user-contacts.controller.js
  client/app/account/contacts/user-contacts.html
  client/app/account/contacts/user-contacts.routes.js
  client/app/account/contacts/user-contacts.service.js
  client/app/account/user/user.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(account.contacts): use resolve pattern with a datagrid
  client/app/account/contacts/service/contacts-service.component.js
  client/app/account/contacts/service/contacts-service.module.js
  client/app/account/contacts/service/contacts-service.service.js
  client/app/account/contacts/service/edit/edit.component.js
  client/app/account/contacts/service/edit/edit.controller.js
  client/app/account/contacts/service/edit/edit.html
  client/app/account/contacts/service/edit/edit.module.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/edit/translations/Messages_fr_FR.json
  client/app/account/contacts/service/translations/Messages_fr_FR.json
  client/app/account/contacts/service/user-contacts-service.controller.js
  client/app/account/contacts/service/user-contacts-service.html
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/service/user-contacts.constants.js
  client/app/account/contacts/user-contacts.service.js
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/app.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: allow to use BillingService model outside of autorenew module
  client/app/billing/autoRenew/actions/update/update.controller.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/models/BillingService.class.js
Due: eslint --fix

feat(account.contacts): prevent contact change for in debt services
  client/app/account/contacts/service/contacts-service.service.js
  client/app/account/contacts/service/edit/edit.component.js
  client/app/account/contacts/service/edit/edit.constants.js
  client/app/account/contacts/service/edit/edit.controller.js
  client/app/account/contacts/service/edit/edit.html
  client/app/account/contacts/service/edit/edit.module.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/edit/translations/Messages_fr_FR.json
  client/app/account/contacts/service/translations/Messages_fr_FR.json
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/models/BillingService.class.js
  client/app/models/billing-service.constants.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account): add dashboard view
  client/app/account/contacts/user-contacts.html
  client/app/account/user/dashboard/translations/Messages_fr_FR.xml
  client/app/account/user/dashboard/user-dashboard.constants.js
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/user.html
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.supportlevel): get current support level
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/support-level.routing.js
  client/app/account/user/support-level/translations/Messages_fr_FR.xml
  client/app/images/support-level/business.svg
  client/app/images/support-level/enterprise.svg
  client/app/images/support-level/premium.svg
  client/app/images/support-level/standard.svg
Due: htmlhint 'client/**/*.html', eslint --fix

fix(account.supportlevel): active support level
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.support-levels): minor ui improvements
  client/app/account/user/support-level/index.less
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(account.user.support-level): update images
  client/app/account/user/support-level/support-level.html
  client/app/images/support-level/business.png
  client/app/images/support-level/enterprise.png
  client/app/images/support-level/premium.png
  client/app/images/support-level/standard.png
Due: htmlhint 'client/**/*.html'

refactor(account.user.support-level): modularize support level
  client/app/account/user/support-level/SupportLevel.class.js
  client/app/account/user/support-level/support-level.component.js
  client/app/account/user/support-level/support-level.constants.js
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/support-level.module.js
  client/app/account/user/support-level/support-level.routing.js
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: remove duplicate ssh section
  client/app/account/user/ssh/user-ssh.controller.js
  client/app/account/user/ssh/user-ssh.routing.js
  client/app/account/user/user.html
  client/app/billing/autoRenew/ssh/ssh.module.js
  client/app/billing/autoRenew/ssh/user-ssh.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.support-leve): add subs urls
  client/app/account/user/support-level/support-level.constants.js
Due: eslint --fix

build: bump ovh-ui-angular and ovh-api-services
  package.json
  yarn.lock
Due: none

fix(account.contacts): move contacts to according url
  client/app/account/contacts/request/user-contacts-request.routes.js
  client/app/account/contacts/service/edit/edit.routing.js
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/contacts/user-contacts.routes.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: eslint --fix

refactor(account.user): improvements
  client/app/account/contacts/service/user-contacts-service.routes.js
  client/app/account/user/advanced/user-advanced.html
  client/app/account/user/dashboard/translations/Messages_fr_FR.json
  client/app/account/user/dashboard/translations/Messages_fr_FR.xml
  client/app/account/user/dashboard/user-dasboard.component.js
  client/app/account/user/dashboard/user-dashboard.controller.js
  client/app/account/user/dashboard/user-dashboard.html
  client/app/account/user/dashboard/user-dashboard.less
  client/app/account/user/dashboard/user-dashboard.routing.js
  client/app/account/user/infos/user-infos.routing.js
  client/app/account/user/security/user-security.html
  client/app/account/user/support-level/index.less
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/account/user/user.controller.js
  client/app/account/user/user.routes.js
  client/app/account/user/users/users.controller.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(account): remove unecessary files
  client/app/account/user/support-level/translations/Messages_fr_FR.xml
  client/app/account/user/users/translations/Messages_cs_CZ.xml
  client/app/account/user/users/translations/Messages_de_DE.json
  client/app/account/user/users/translations/Messages_de_DE.xml
  client/app/account/user/users/translations/Messages_en_ASIA.xml
  client/app/account/user/users/translations/Messages_en_AU.xml
  client/app/account/user/users/translations/Messages_en_CA.xml
  client/app/account/user/users/translations/Messages_en_GB.json
  client/app/account/user/users/translations/Messages_en_GB.xml
  client/app/account/user/users/translations/Messages_en_SG.xml
  client/app/account/user/users/translations/Messages_en_US.xml
  client/app/account/user/users/translations/Messages_es_ES.json
  client/app/account/user/users/translations/Messages_es_ES.xml
  client/app/account/user/users/translations/Messages_es_US.json
  client/app/account/user/users/translations/Messages_es_US.xml
  client/app/account/user/users/translations/Messages_fi_FI.json
  client/app/account/user/users/translations/Messages_fi_FI.xml
  client/app/account/user/users/translations/Messages_fr_CA.json
  client/app/account/user/users/translations/Messages_fr_CA.xml
  client/app/account/user/users/translations/Messages_fr_FR.json
  client/app/account/user/users/translations/Messages_fr_FR.xml
  client/app/account/user/users/translations/Messages_it_IT.json
  client/app/account/user/users/translations/Messages_it_IT.xml
  client/app/account/user/users/translations/Messages_lt_LT.json
  client/app/account/user/users/translations/Messages_lt_LT.xml
  client/app/account/user/users/translations/Messages_nl_NL.json
  client/app/account/user/users/translations/Messages_nl_NL.xml
  client/app/account/user/users/translations/Messages_pl_PL.json
  client/app/account/user/users/translations/Messages_pl_PL.xml
  client/app/account/user/users/translations/Messages_pt_PT.json
  client/app/account/user/users/translations/Messages_pt_PT.xml
  client/app/account/user/users/users.routing.js
  client/app/images/support-level/business.svg
  client/app/images/support-level/enterprise.svg
  client/app/images/support-level/premium.svg
  client/app/images/support-level/standard.svg
Due: eslint --fix

fix: fix translation errors
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: eslint --fix

fix: code review
  client/app/dedicated/server/bandwidth/bandwidth.service.js
  client/app/dedicated/server/dedicated-server-bandwidth-vrack-order.service.js
  client/app/dedicated/server/interfaces/attach/interface-attach.routing.js
Due: eslint --fix

fix(billing.autorenew): fix bulk enable/disable
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.routing.js
Due: eslint --fix

fix: split modals to modules
  client/app/app.js
  client/app/dedicated/server/bandwidth/bandwidth.module.js
  client/app/dedicated/server/bandwidth/bandwitdh.module.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.module.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.routing.js
  client/app/dedicated/server/bandwidth/private-order/private-order.module.js
  client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.module.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.routing.js
  client/app/dedicated/server/bandwidth/public-order/public-order.module.js
  client/app/dedicated/server/bandwidth/public-order/public-order.routing.js
Due: eslint --fix

fix: fix code review
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.controller.js
  client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
Due: eslint --fix

fix(billing.autorenew): fix bulk enable/disable (#1400)
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.routing.js
Due: eslint --fix

release v10.28.6
  CHANGELOG.md
  package.json
Due: none

feat: rename an interface + attach a vrack
  client/app/dedicated/server/interfaces/attach/interfaces-attach.component.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.controller.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.html
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.controller.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

build: update ovh-ui-kit
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat: allow detaching vracks
  client/app/dedicated/server/interfaces/attach/interfaces-attach.module.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.routing.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.component.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.controller.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.html
  client/app/dedicated/server/interfaces/detach/interfaces-detach.module.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.routing.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.module.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.routing.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: show ola status on dashboard
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola.class.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): update autorenew activation condition
  client/app/billing/autoRenew/autorenew.html
Due: htmlhint 'client/**/*.html'

fix(billing.autorenew): update autorenew activation condition (#1403)
  client/app/billing/autoRenew/autorenew.html
Due: htmlhint 'client/**/*.html'

release v10.28.7
  CHANGELOG.md
  package.json
Due: none

feat: add action menu to activate & configure OLA
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
