Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

release v10.17.16
  CHANGELOG.md
  package.json
Due: none

perf: remove duplicate randexp
  .eslintignore
  client/app/index.js
  client/assets/randexp.min.js
  package.json
  yarn.lock
Due: eslint --fix

refactor(host): rename legacy order funnel
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.controller.js
  client/app/dedicatedCloud/datacenter/host/orderLegacy/dedicatedCloud-datacenter-host-orderLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(host): allow order for all subsidiaries
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): can order ressources in US again
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html'

refactor(datastore): rename order funnel
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  client/app/dedicatedCloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(backup): use correct service pack
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
Due: eslint --fix

refactor: rename imported modules of dedicated cloud
  client/app/app.js
Due: eslint --fix

feat(resource): allow order for all subsidiaries
  client/app/dedicatedCloud/resource/upgrade/state.js
Due: eslint --fix

build: bump "@ovh-ux/ng-ovh-sidebar-menu" to "8.2.0"
  package.json
  yarn.lock
Due: none

fix(order.confirm): handle all price cases (negative, 0 and 1)
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(upgrade): restore missing translations
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_fr_FR.json
Due: none

fix(selection): display message to pay checkout
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

refactor(backup.enable): rename order funnel
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
  client/app/dedicatedCloud/datacenter/backup/enableAgora/dedicatedCloud-datacenter-backup-enableAgora.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(license): remove supernumerary ngController
  client/app/dedicatedCloud/license/dedicatedCloud-license.html
Due: htmlhint 'client/**/*.html'

style(license.enable): change indentation
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

feat(license): use legacy order everywhere necessary
  client/app/dedicatedCloud/dedicatedCloud.service.js
  client/app/dedicatedCloud/license/dedicatedCloud-license.controller.js
Due: eslint --fix

refactor(dashboard.legacy): export to Component
  client/app/app.js
  client/app/dedicatedCloud/dashboard/legacy/component.js
  client/app/dedicatedCloud/dashboard/legacy/controller.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/template.html
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(datacenter): handle newly created filers & hosts
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

style(tiles.confirm): change indentation
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
Due: eslint --fix

fix(options.order): add content and fix duplicates options
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.routes.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(name-edition): use string interpolation
  client/app/components/name-edition/name-edition.controller.js
Due: eslint --fix

build: bump ovh-api-services
  yarn.lock
Due: none

refactor(datacenter): reorder parameters alphabetically
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datastore-datacenter.routes.js
Due: eslint --fix

refactor(host): rename legacy order funnel
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-cloud): remove caches for tabbed entries
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

fix: add missing injections
  client/app/account/billing/main/billing-main.controller.js
  client/app/account/billing/main/history/billing-main-history.controller.js
  client/app/components/name-edition/name-edition.controller.js
  client/app/components/sidebar-menu/account/sidebar-menu-account.config.js
  client/app/dedicated/server/dedicated-server-feature-availability.js
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.controller.js
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.service.js
  client/app/dedicatedCloud/user/edit/dedicatedCloud-user-edit.controller.js
  client/app/ip/ip-feature-availability.js
  client/app/license/license-feature-availability.js
Due: eslint --fix

fix(dashboard): add link to doc if no certification
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/index.js
Due: eslint --fix

fix(options.order): disable buttons when step is invalid
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/template.html
Due: htmlhint 'client/**/*.html'

refactor(dashboard.legacy): use controller instead of parent controller
  client/app/dedicatedCloud/dashboard/legacy/controller.js
  client/app/dedicatedCloud/dashboard/legacy/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(tiles.confirm): add priceAsNumber parameter
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

fix(datacenters): enable button for all subsidiaries
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.html
Due: htmlhint 'client/**/*.html'

fix(options.order.selection): sort by service pack name
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

feat(options): add guides for all subs
  client/app/config/constants.config.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/option/service.js
  client/app/dedicatedCloud/security-options/dedicatedCloud-security-options.controller.js
  client/app/dedicatedCloud/vmware-option/dedicatedCloud-vmware-option.controller.js
Due: eslint --fix

build: bump ovh-api-services to 6.25.0
  package.json
  yarn.lock
Due: none

feat(datacenters): enable order funnel for all subsidiaries
  client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.controller.js
Due: eslint --fix

fix(license.enable): add missing annotation
  client/app/dedicatedCloud/license/enable/dedicatedCloud-license-enable.routes.js
Due: eslint --fix

style(host.order-us): change function order
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
Due: eslint --fix

fix(options): display Certification is service has one
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(dashboard.options.order): fix number of ip blocks to be allowed
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/controller.js
Due: eslint --fix
