Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

release v10.32.14
  CHANGELOG.md
  package.json
Due: none

fix(ola): PR fixes
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.controller.js
  client/app/dedicated/server/interfaces/ola-configuration/ola-configuration.html
  client/app/dedicated/server/statistics/dedicated-server-statistics.controller.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated-netboot): fix text
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: none

fix(i18n): add missing translations [CDS 86]
  client/app/billing/autoRenew/actions/terminate-enterprise-cloud-database/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/actions/terminate-webcoach/translations/Messages_pl_PL.json
  client/app/billing/autoRenew/translations/Messages_pl_PL.json
  client/app/billing/translations/Messages_pl_PL.json
  client/app/dedicated/nas/translations/Messages_pl_PL.json
  client/app/dedicated/server/translations/Messages_fr_CA.json
  client/app/dedicated/server/translations/Messages_pl_PL.json
Due: none

release v10.33.0
  CHANGELOG.md
  package.json
Due: none

fix(billing.payment.method): prevent duplicates translations
  client/app/billing/payment/method/translations/Messages_fr_FR.json
Due: none

fix(billing.payment.method): prevent duplicates translations (#1503)
  client/app/billing/payment/method/translations/Messages_fr_FR.json
Due: none

fix(licences): fix purchase order button
  client/app/license/order/license-order.html
Due: htmlhint 'client/**/*.html'

feat(billing.autorenew): improve message when no service is excluded (#1391)
  client/app/billing/autoRenew/bulk/bulk.component.js
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/disable/disable.html
  client/app/billing/autoRenew/disable/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/billing/autoRenew/enable/enable.html
  client/app/billing/autoRenew/enable/enable.module.js
  client/app/billing/autoRenew/enable/translations/Messages_fr_FR.json
  client/app/models/BillingService.class.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew.bulk): display eligible services (#1410)
  client/app/billing/autoRenew/bulk/bulk.html
  client/app/billing/autoRenew/bulk/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

fix(i18n): add missing translations [CDS 87]
  client/app/billing/autoRenew/actions/terminate-webcoach/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/translations/Messages_pt_PT.json
  client/app/billing/translations/Messages_pt_PT.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_pt_PT.json
  client/app/dedicated/server/interfaces/translations/Messages_pt_PT.json
  client/app/dedicated/server/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations [CDS 88]
  client/app/dedicated/server/translations/Messages_it_IT.json
Due: none

build: bump chart js
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 90]
  client/app/billing/autoRenew/bulk/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/bulk/translations/Messages_it_IT.json
  client/app/billing/autoRenew/bulk/translations/Messages_pt_PT.json
  client/app/billing/autoRenew/disable/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/disable/translations/Messages_it_IT.json
  client/app/billing/autoRenew/enable/translations/Messages_fr_CA.json
  client/app/billing/autoRenew/enable/translations/Messages_it_IT.json
  client/app/billing/payment/method/translations/Messages_fr_CA.json
  client/app/billing/payment/method/translations/Messages_it_IT.json
  client/app/dedicated/server/bandwidth/dashboard/translations/Messages_de_DE.json
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_de_DE.json
  client/app/dedicated/server/interfaces/translations/Messages_de_DE.json
  client/app/dedicatedCloud/dashboard/tiles/general-information/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/dashboard/tiles/general-information/translations/Messages_it_IT.json
  client/app/dedicatedCloud/dashboard/tiles/service-management/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/dashboard/tiles/service-management/translations/Messages_it_IT.json
  client/app/dedicatedCloud/service-pack/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/service-pack/translations/Messages_it_IT.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-access/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/configure-access/translations/Messages_it_IT.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/selection/translations/Messages_it_IT.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/validation/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/service-pack/upgrade/steps/validation/translations/Messages_it_IT.json
  client/app/dedicatedCloud/service-pack/upgrade/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/service-pack/upgrade/translations/Messages_it_IT.json
Due: none

fix(dedicated-servers): fix servers list sorting issue
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(payment.method.edit): remove form from edit template
  client/app/billing/payment/method/edit/index.html
Due: htmlhint 'client/**/*.html'

fix(deps): upgrade manager-server-sidebar to v0.6.7
  package.json
  yarn.lock
Due: none

fix(deps): upgrade manager-server-sidebar to v0.6.7 (#1507)
  package.json
  yarn.lock
Due: none

release v10.33.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 92]
  client/app/billing/autoRenew/bulk/translations/Messages_de_DE.json
  client/app/billing/autoRenew/disable/translations/Messages_de_DE.json
  client/app/billing/autoRenew/enable/translations/Messages_de_DE.json
  client/app/billing/autoRenew/translations/Messages_en_GB.json
  client/app/billing/autoRenew/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/translations/Messages_lt_LT.json
  client/app/billing/payment/method/translations/Messages_de_DE.json
  client/app/dedicated/server/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations [CDS 92] (#1514)
  client/app/billing/autoRenew/bulk/translations/Messages_de_DE.json
  client/app/billing/autoRenew/disable/translations/Messages_de_DE.json
  client/app/billing/autoRenew/enable/translations/Messages_de_DE.json
  client/app/billing/autoRenew/translations/Messages_en_GB.json
  client/app/billing/autoRenew/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/translations/Messages_lt_LT.json
  client/app/billing/payment/method/translations/Messages_de_DE.json
  client/app/dedicated/server/translations/Messages_de_DE.json
Due: none

release v10.33.2
  CHANGELOG.md
  package.json
Due: none

feat(account.security): create a state for mfa modal
  client/app/account/user/security/2fa/user-security-2fa.controller.js
  client/app/account/user/security/2fa/user-security-2fa.routing.js
  client/app/account/user/security/user-security.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(mfa): add mfa enrollment page
  client/app/account/user/security/2fa/user-security-2fa.routing.js
  client/app/app.js
  client/app/app.routes.js
  client/app/images/double-authentication.png
  client/app/images/double-authentication@2x.png
  client/app/images/double-authentication@3x.png
  client/app/mfaEnrollment/mfaEnrollment.component.js
  client/app/mfaEnrollment/mfaEnrollment.controller.js
  client/app/mfaEnrollment/mfaEnrollment.html
  client/app/mfaEnrollment/mfaEnrollment.less
  client/app/mfaEnrollment/mfaEnrollment.module.js
  client/app/mfaEnrollment/mfaEnrollment.routes.js
  client/app/mfaEnrollment/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(dedicated.server.servers): add columns configuration (#1505)
  client/app/dedicated/server/servers/servers.controller.js
  client/app/dedicated/server/servers/servers.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(license.order): disable purchase order if checkbox is not selected (#1484)
  client/app/license/order/license-order.html
Due: htmlhint 'client/**/*.html'

fix(i18n): add missing translations [CDS 94]
  client/app/billing/autoRenew/bulk/translations/Messages_en_GB.json
  client/app/billing/autoRenew/bulk/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/bulk/translations/Messages_lt_LT.json
  client/app/billing/autoRenew/disable/translations/Messages_en_GB.json
  client/app/billing/autoRenew/disable/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/disable/translations/Messages_lt_LT.json
  client/app/billing/autoRenew/enable/translations/Messages_en_GB.json
  client/app/billing/autoRenew/enable/translations/Messages_fi_FI.json
  client/app/billing/autoRenew/enable/translations/Messages_lt_LT.json
Due: none

fix(i18n): add missing translations [CDS 95]
  client/app/mfaEnrollment/translations/Messages_en_GB.json
  client/app/mfaEnrollment/translations/Messages_fi_FI.json
  client/app/mfaEnrollment/translations/Messages_fr_CA.json
  client/app/mfaEnrollment/translations/Messages_lt_LT.json
Due: none

fix(i18n): add missing translations [CDS 96]
  client/app/mfaEnrollment/translations/Messages_en_GB.json
  client/app/mfaEnrollment/translations/Messages_fi_FI.json
  client/app/mfaEnrollment/translations/Messages_lt_LT.json
Due: none

build(deps): upgrade ovh-api-services to v9.23.1
  package.json
  yarn.lock
Due: none

release v10.33.3
  CHANGELOG.md
  package.json
Due: none

fix(mfa-enrollment): manage the forced state & resolve on api error
  client/app/app.routes.js
  client/app/mfaEnrollment/mfaEnrollment.component.js
  client/app/mfaEnrollment/mfaEnrollment.html
  client/app/mfaEnrollment/mfaEnrollment.routes.js
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

fix: update getter to get function
  client/app/billing/autoRenew/disable/disable.controller.js
  client/app/billing/autoRenew/enable/enable.controller.js
  client/app/models/BillingService.class.js
Due: eslint --fix
