Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

refactor: extract constants from angular
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc.drp): fix state reload after validation
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: eslint --fix

fix(pcc): fix vpn status to status returned by API
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): change step 2 button text
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html'

fix(pcc.drp): use correct delivering constant
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
Due: eslint --fix

fix: hide actions during vpn configuration
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): display correct status for plan in error
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(pcc): disable actions for concerned plan or vpn errors
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat: retrieve translations
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_pl_PL.json
Due: none

fix(pcc): fix translations
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_cs_CZ.json
Due: none

fix(billing): add comments title to confirm terminate page
  client/app/billing/confirmTerminate/billing-confirmTerminate.html
  client/app/billing/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

release v10.28.0
  CHANGELOG.md
  package.json
Due: none

fix: redirect old aurorenew url
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

release v10.28.1
  CHANGELOG.md
  package.json
Due: none

fix: pagination works correctly on services page
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

release v10.28.2
  CHANGELOG.md
  package.json
Due: none

fix: add missing translations for language fr_FR
  client/app/account/user/translations/Messages_fr_FR.json
  client/app/billing/translations/Messages_fr_FR.json
Due: none

fix(rtm): add missing lodash import
  client/app/dedicated/server/statistics/rtm/ServerStatsRtmGeneralController.js
Due: eslint --fix

build(package.json): set @ovh-ux/ng-ovh-payment-method to v4.2.0
  package.json
  yarn.lock
Due: none

feat(autorenew): add manual renew action
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build: upgrade ovh-ui-angular
  package.json
  yarn.lock
Due: none

feat: first attempt at network interfaces page
  client/app/dedicated/server/dedicated-server.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.routes.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(autorenew): handle 404 errors for /me/autorenew
  client/app/account/billing/autoRenew/billing-autoRenew.controller.js
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
Due: eslint --fix

feat: add manager banner
  client/app/app.js
  client/app/configuration/configuration.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat(dedicated.server.dashboard): apply changes on the overview page
  client/app/app.less
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.service.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(autorenew): add manual renew action (#1379)
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat: add manager banner (#1383)
  client/app/app.js
  client/app/configuration/configuration.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

build: update @ovh-ux/manager-server-sidebar
  package.json
  yarn.lock
Due: none

feat: allow sorting by effect date
  client/app/billing/autoRenew/autorenew.html
Due: htmlhint 'client/**/*.html'

build: update @ovh-ux/manager-server-sidebar (#1384)
  package.json
  yarn.lock
Due: none

release v10.28.3
  CHANGELOG.md
  package.json
Due: none

feat: generate interface list
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.user.support-level): update images
  client/app/account/user/support-level/support-level.html
  client/app/images/support-level/business.png
  client/app/images/support-level/enterprise.png
  client/app/images/support-level/premium.png
  client/app/images/support-level/standard.png
Due: htmlhint 'client/**/*.html'

feat(dedicated.server.dashboard): create configuration page for ola
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/interfaces/ola/ola.component.js
  client/app/dedicated/server/interfaces/ola/ola.constants.js
  client/app/dedicated/server/interfaces/ola/ola.controller.js
  client/app/dedicated/server/interfaces/ola/ola.html
  client/app/dedicated/server/interfaces/ola/ola.module.js
  client/app/dedicated/server/interfaces/ola/ola.routing.js
  client/app/dedicated/server/interfaces/ola/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: update interfaces to use component
  client/app/app.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.controller.js
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.html
  client/app/dedicated/server/interfaces/dedicated-server-interfaces.routes.js
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.component.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
  client/app/dedicated/server/interfaces/interfaces.controller.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola/ola.module.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dedicated.server.interfaces): fix when vni is undefined
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/ola/ola.component.js
  client/app/dedicated/server/interfaces/ola/ola.controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix: handle every interface type
  client/app/dedicated/server/interfaces/interface.class.js
  client/app/dedicated/server/interfaces/interfaces.constants.js
Due: eslint --fix

refactor(account.user.support-level): modularize support level
  client/app/account/user/support-level/SupportLevel.class.js
  client/app/account/user/support-level/support-level.component.js
  client/app/account/user/support-level/support-level.constants.js
  client/app/account/user/support-level/support-level.controller.js
  client/app/account/user/support-level/support-level.html
  client/app/account/user/support-level/support-level.module.js
  client/app/account/user/support-level/support-level.routing.js
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/user.module.js
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
