Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

feat(resource): allow order for all subsidiaries
  client/app/app.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.controller.js
  client/app/dedicatedCloud/datacenter/datastore/dedicatedCloud-datacenter-datastore.html
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  client/app/dedicatedCloud/datacenter/host/dedicatedCloud-datacenter-host.html
  client/app/dedicatedCloud/resource/upgrade/constants.js
  client/app/dedicatedCloud/resource/upgrade/controller.js
  client/app/dedicatedCloud/resource/upgrade/index.js
  client/app/dedicatedCloud/resource/upgrade/state.js
  client/app/dedicatedCloud/resource/upgrade/template.html
  client/app/dedicatedCloud/resource/upgrade/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

build: bump ovh-api-services
  package.json
  yarn.lock
Due: none

refactor(resource.upgrade.state): import controller instead of its name
  client/app/dedicatedCloud/resource/upgrade/state.js
Due: eslint --fix

fix: merge errors
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
Due: eslint --fix

refactor(resource.upgrade): use functions better
  client/app/dedicatedCloud/resource/upgrade/controller.js
Due: eslint --fix

feat(resource): allow order for all subsidiaries
  client/app/app.js
Due: eslint --fix

refactor(dashboard): move legacy dashboard
  client/app/dedicatedCloud/dashboard/legacy/dedicatedCloud-dashboardLegacy.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dashboard.legacy): export to Component
  client/app/app.js
  client/app/dedicatedCloud/dashboard/legacy/component.js
  client/app/dedicatedCloud/dashboard/legacy/controller.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/template.html
  client/app/dedicatedCloud/dashboard/template.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(dashboard.legacy): use controller instead of parent controller
  client/app/dedicatedCloud/dashboard/legacy/controller.js
  client/app/dedicatedCloud/dashboard/legacy/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix: merge errors
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/component.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/service.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/state.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/step.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/confirmation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(options.order): add content and fix duplicates options
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
  client/app/dedicatedCloud/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dashboard): add link to doc if no certification
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/index.js
Due: eslint --fix

fix(dedicatedcloud.dashboard): fix labels ng inject
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/service.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/step.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/service.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.controller.js
  client/app/dedicatedCloud/datacenter/backup/dedicatedCloud-datacenter-backup.html
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.controller.js
  client/app/dedicatedCloud/datacenter/backup/enable/dedicatedCloud-datacenter-backup-enable.html
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.controller.js
  client/app/dedicatedCloud/datacenter/backup/enableLegacy/dedicatedCloud-datacenter-backup-enableLegacy.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor: remove constants for angular modules name logic
  client/app/dedicatedCloud/dashboard/legacy/component.js
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/main/constants.js
  client/app/dedicatedCloud/dashboard/main/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/activationStatus/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/state.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/constant.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/header/constant.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/header/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/preference/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/preference/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/option/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/servicePack/option/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/serviceManagement/index.js
Due: eslint --fix

refactor: rename imported modules of dedicated cloud
  client/app/app.js
Due: eslint --fix

fix: reviews
  client/app/dedicatedCloud/dashboard/main/tiles/generalInformation/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(options.order): set order at final order step
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/summary/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

fix(options.order): disable buttons when step is invalid
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/smsActivation/template.html
Due: htmlhint 'client/**/*.html'

fix(dashboard.options): fix empty options if order is ok
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(dashboard.options): add confirmation modal for options order
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/translations/Messages_fr_FR.xml
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/index.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(dashboard.options.order): fix number of ip blocks to be allowed
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/requiredConfiguration/controller.js
Due: eslint --fix

fix(dashboard.options.order): change button text if one step only
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

fix(datacenter.options.order): fix no default payment means messages
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html'

fix(dashboard.options): remove action if no certification orderable
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(options): handle expired order case
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(options): change text
  client/app/dedicatedCloud/dashboard/main/tiles/options/translations/Messages_fr_FR.xml
Due: none

fix(tiles.options): allow ordering when only one pack is available
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

style(tiles.confirm): change indentation
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
Due: eslint --fix

feat(tiles.confirm): add priceAsNumber parameter
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

fix(order.confirm): handle all price cases (negative, 0 and 1)
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/template.html
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/confirm/translations/Messages_fr_FR.xml
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(tiles.options): enhance code readability
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(selection): hide message about default means of payment when paying
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html'

refactor(options.order): simplify next step call
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/stepper/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/constants.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(options.order): save pending order to variable
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix

fix(dedicated-cloud): remove caches for tabbed entries
  client/app/dedicatedCloud/dedicatedCloud.service.js
Due: eslint --fix

fix(options.order.selection): sort by service pack name
  client/app/dedicatedCloud/dashboard/main/tiles/options/order/steps/selection/controller.js
Due: eslint --fix

fix(tiles.options): remove left padding
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
Due: htmlhint 'client/**/*.html'

fix(tiles.options): handle expired checkouts
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
  client/app/dedicatedCloud/dashboard/main/tiles/options/template.html
Due: htmlhint 'client/**/*.html', eslint --fix

fix(tiles.options): display appropriate text for update menu button
  client/app/dedicatedCloud/dashboard/main/tiles/options/controller.js
Due: eslint --fix
