Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

refactor(billing.autorenew): refactor common exchange actions
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): refactor manual renew actions
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): refactor renew day selector
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): pass correct param format for bulk actions
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

refactor(billing.autorenew): allow pagination through the state
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(billing.autorenew): instantiate model
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/enable/enable.routing.js
Due: eslint --fix

refactor(billing.autorenew): allow pagination through the state (#1275)
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/disable/disable.routing.js
  client/app/billing/autoRenew/enable/enable.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix(ip.reverse.add): display error fields when value are invalid (#1277)
  client/app/ip/ip/reverse/add/ip-ip-reverse-add.html
  client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

build(deps): upgrade ng-ovh-web-universe-components to v4.0.3 (#1276)
  package.json
  yarn.lock
Due: none

fix(dedicated.universe.components.price): add asia gst price text (#1245)
  client/app/dedicatedUniverseComponents/price/price.filter.js
  client/app/dedicatedUniverseComponents/price/translations/Messages_fr_FR.json
Due: eslint --fix

build(deps): upgrade some dependencies
  package.json
  yarn.lock
Due: none

refactor(app): hide preload on transition finish
  client/app/account/account.routes.js
  client/app/app.controller.js
  client/app/app.js
  client/app/app.routes.js
  client/app/components/manager-preload/manager-preload.less
  client/app/components/manager-preload/manager-preload.module.js
  client/app/css/source.less
  webpack.config.js
Due: eslint --fix, stylelint 'client/**/*.less' --fix

build(deps): upgrade some dependencies (#1280)
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/dedicated/server/translations/Messages_es_ES.json
  client/app/ip/ip/reverse/update/translations/Messages_en_ASIA.json
  client/app/ip/ip/reverse/update/translations/Messages_en_AU.json
  client/app/ip/ip/reverse/update/translations/Messages_en_CA.json
  client/app/ip/ip/reverse/update/translations/Messages_en_GB.json
  client/app/ip/ip/reverse/update/translations/Messages_en_SG.json
  client/app/ip/ip/reverse/update/translations/Messages_en_US.json
  client/app/ip/ip/reverse/update/translations/Messages_fi_FI.json
  client/app/ip/ip/reverse/update/translations/Messages_lt_LT.json
  client/app/ip/translations/Messages_de_DE.json
  client/app/ip/translations/Messages_es_ES.json
  client/app/ip/translations/Messages_it_IT.json
  client/app/ip/translations/Messages_pt_PT.json
Due: none

feat(billing.autorenew): add actions
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.constants.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing): remove unused filters
  client/app/billing/components/filters/frequenceText.js
  client/app/billing/components/filters/orderRenew.js
  client/app/billing/components/filters/renewDate.js
  client/app/billing/components/filters/renewal.js
Due: eslint --fix

feat(billing.autorenew): update wording
  client/app/billing/autoRenew/BillingService.class.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): remove unecessary translations
  client/app/billing/autoRenew/autorenew.controller.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: eslint --fix

fix(billing.autorenew): fix active tab
  client/app/billing/autoRenew/autorenew.routing.js
Due: eslint --fix

feat(billing.autorenew): add delete action for hostings
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat(billing.autorenew): add autorenew activation
  client/app/app.routes.js
  client/app/billing/autoRenew/actions/activation/activation.component.js
  client/app/billing/autoRenew/actions/activation/activation.controller.js
  client/app/billing/autoRenew/actions/activation/activation.html
  client/app/billing/autoRenew/actions/activation/activation.module.js
  client/app/billing/autoRenew/actions/activation/activation.routing.js
  client/app/billing/autoRenew/actions/activation/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/actions/delete/billing-autoRenew-delete.controller.js
  client/app/billing/autoRenew/actions/delete/delete.component.js
  client/app/billing/autoRenew/actions/delete/delete.routing.js
  client/app/billing/autoRenew/actions/delete/translations/Messages_fr_FR.json
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.html
  client/app/billing/autoRenew/autorenew.module.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/autorenew.service.js
  client/app/billing/autoRenew/billing-autoRenew.constants.js
  client/app/billing/autoRenew/translations/Messages_fr_FR.json
  client/app/user/User.class.js
  client/app/user/user.constants.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(billing.autorenew): remove unused constants
  client/app/billing/autoRenew/autorenew.component.js
  client/app/billing/autoRenew/autorenew.routing.js
  client/app/billing/autoRenew/billing-autoRenew.constants.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/ip/translations/Messages_pl_PL.json
Due: none

feat(billing.payment.method): handle vantiv with /me/payment/method
  client/app/account/billing/payment/method/add/billing-payment-method-add.controller.js
  client/app/account/billing/payment/method/add/billing-payment-method-add.html
  client/app/app.js
  client/app/components/paymentMethod/services/billing-payment-method.constant.js
  client/app/components/paymentMethod/services/billing-payment-method.service.js
  client/app/components/paymentMethod/services/me-payment-method.service.js
  client/app/components/paymentMethod/vantiv/billing-vantiv-configurator.provider.js
  client/app/components/paymentMethod/vantiv/billing-vantiv-instance.service.js
  client/app/components/paymentMethod/vantiv/billing-vantiv.constants.js
  client/app/components/paymentMethod/vantiv/billing-vantiv.factory.js
Due: htmlhint 'client/**/*.html', eslint --fix

build: set specific branch of @ovh-ux/ng-ovh-payment-method for test
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 2]
  client/app/error/translations/Messages_de_DE.json
  client/app/error/translations/Messages_it_IT.json
  client/app/error/translations/Messages_pt_PT.json
Due: none

feat(billing.autorenew): remove HOSTING_DOMAIN grouping (#1255)
  client/app/account/billing/autoRenew/billing-autoRenew.html
  client/app/account/billing/autoRenew/billing-autoRenew.service.js
  client/app/account/billing/autoRenew/domain/billing-autoRenew-domain.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat: use ng-ui-router-line-progress
  client/app/app.js
  client/app/app.less
  client/app/index.html
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations [CDS 4]
  client/app/error/translations/Messages_pl_PL.json
Due: none

fix(support): fix support status text error
  client/app/account/otrs/translations/Messages_fr_FR.json
Due: none

fix(billing.payment.method): remove skeleton in list
  client/app/account/billing/payment/method/billing-payment-method.html
Due: htmlhint 'client/**/*.html'

feat(app): update and use error page
  client/app/app.js
  client/app/error/error.component.js
  client/app/error/error.controller.js
  client/app/error/error.html
  client/app/error/error.module.js
  client/app/error/error.routes.js
  client/app/error/error.routing.js
  client/app/error/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(app): hide preload on transition finish (#1281)
  client/app/account/account.routes.js
  client/app/app.controller.js
  client/app/app.js
  client/app/app.routes.js
  client/app/components/manager-preload/manager-preload.less
  client/app/components/manager-preload/manager-preload.module.js
  client/app/css/source.less
  webpack.config.js
Due: eslint --fix, stylelint 'client/**/*.less' --fix
