Repository ovh-ux/ovh-manager-dedicated: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix: fix translation errors
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola-configuration/translations/Messages_fr_FR.json
  client/app/dedicated/server/interfaces/ola-step-checker/ola-step-checker.controller.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: eslint --fix

fix: split modals to modules
  client/app/app.js
  client/app/dedicated/server/bandwidth/bandwidth.module.js
  client/app/dedicated/server/bandwidth/bandwitdh.module.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.module.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.routing.js
  client/app/dedicated/server/bandwidth/private-order/private-order.module.js
  client/app/dedicated/server/bandwidth/private-order/private-order.routing.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.module.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.routing.js
  client/app/dedicated/server/bandwidth/public-order/public-order.module.js
  client/app/dedicated/server/bandwidth/public-order/public-order.routing.js
Due: eslint --fix

fix: code review
  client/app/dedicated/server/bandwidth/bandwidth.service.js
  client/app/dedicated/server/dedicated-server-bandwidth-vrack-order.service.js
  client/app/dedicated/server/interfaces/attach/interface-attach.routing.js
Due: eslint --fix

fix: fix code review
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.controller.js
  client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
Due: eslint --fix

fix: fix code review
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  client/app/dedicated/server/bandwidth/private-order/private-order.controller.js
  client/app/dedicated/server/bandwidth/public-order/public-order.controller.js
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat: show ola status on dashboard
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/dedicated-server.routes.js
  client/app/dedicated/server/interfaces/interfaces.routing.js
  client/app/dedicated/server/interfaces/ola.class.js
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

build: update ovh-ui-kit
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/dedicated-server.controller.js
  client/app/dedicated/server/interfaces/ola-activation/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint 'client/**/*.html', eslint --fix

feat: add action menu to activate & configure OLA
  client/app/dedicated/server/dashboard/DASHBOARD_VIEW.html
  client/app/dedicated/server/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html'

feat: rename an interface + attach a vrack
  client/app/dedicated/server/interfaces/attach/interfaces-attach.component.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.controller.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.html
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.service.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.controller.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

feat: allow detaching vracks
  client/app/dedicated/server/interfaces/attach/interfaces-attach.module.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.routing.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.component.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.controller.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.html
  client/app/dedicated/server/interfaces/detach/interfaces-detach.module.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.routing.js
  client/app/dedicated/server/interfaces/interfaces.html
  client/app/dedicated/server/interfaces/interfaces.module.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.module.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.routing.js
  client/app/dedicated/server/interfaces/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

fix: fix code review
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.controller.js
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.html
  client/app/dedicated/server/bandwidth/private-cancel/private-cancel.module.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.component.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.controller.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.html
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.module.js
  client/app/dedicated/server/bandwidth/public-cancel/public-cancel.routing.js
  client/app/dedicated/server/interfaces/attach/interfaces-attach.routing.js
  client/app/dedicated/server/interfaces/detach/interfaces-detach.routing.js
  client/app/dedicated/server/interfaces/rename/interfaces-rename.routing.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(account.suppport-level): extract translations
  client/app/account/user/dashboard/translations/Messages_fr_FR.json
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/translations/Messages_fr_FR.json
Due: none

feat(account.suppport-level): extract translations (#1414)
  client/app/account/user/dashboard/translations/Messages_fr_FR.json
  client/app/account/user/support-level/translations/Messages_fr_FR.json
  client/app/account/user/translations/Messages_fr_FR.json
Due: none

refactor(billig): fix typo
  client/app/models/BillingService.class.js
Due: eslint --fix

fix(billing): return according capability for resiliated services
  client/app/models/BillingService.class.js
Due: eslint --fix

refactor(pcc.datacenter.drp): move activation at step 2 validation
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): rename drp service
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
Due: eslint --fix

refactor(pcc): expose pcc drp at top level
  client/app/dedicatedCloud/dashboard/dashboard.component.js
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/legacy.component.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/tiles/options/options.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.dashboard): set drp informations on pcc dashboard
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter): change dashboard into a oui tile component
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.datacenter.dashboard): add zerto informations
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc): set delete drp action to pcc legacy dashboards
  client/app/app.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.html
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): set delete drp modal as a module
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/delete/dedicatedCloud-datacenter-drp-delete.html
  client/app/dedicatedCloud/datacenter/drp/delete/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/delete/dedicatedCloud-datacenter-drp-confirmationStep-delete.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): use current drp informations in last step
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/steps/common/confirmation/dedicatedCloud-datacenter-drp-confirmationStep.html
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.component.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(pcc.datacenter.drp): move confirmation step to summary
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/dedicatedCloud-datacenter-drp-ovh-confirmationStep.component.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/index.js
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/confirmation/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/steps/ovh/dedicatedCloud-datacenter-drp-ovh.html
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.component.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/datacenter/drp/summary/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/summary/translations/Messages_pl_PL.json
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(drp): make ovh type path and steps as components
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/dedicatedCloud-datacenter-drp-ovh.routes.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/mainPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: eslint --fix

feat(drp): add on premises steps translations
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_GB.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fi_FI.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pt_PT.json
Due: none

feat(pcc.datacenter.drp): add on premises steps
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(drp): update ovh-api-services
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
Due: eslint --fix

refactor(pcc.datacenter.drp): rename on premises to on premise
  client/app/dedicatedCloud/datacenter/drp/configuration/dedicatedCloud-datacenter-drp-choice.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/dedicatedCloud-datacenter-drp-onPremise.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_cs_CZ.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_ASIA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_AU.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_SG.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_es_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/dedicatedCloud-datacenter-drp-onPremises.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/index.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/dedicatedCloud-datacenter-drp-onPremises-onPremisesPccStep.component.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/onPremisesPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_de_DE.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_en_US.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_es_ES.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_CA.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_fr_FR.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_it_IT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_lt_LT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_nl_NL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pl_PL.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremises/ovhPcc/translations/Messages_pt_PT.json
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/index.js
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.datacenter.drp): activate on premise agora order
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

feat(drp): add vpn configuration
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.controller.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
Due: htmlhint 'client/**/*.html', eslint --fix

feat(pcc.datacenter.drp): display alerts message at different places
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.component.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.html
  client/app/dedicatedCloud/datacenter/drp/alerts/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.constants.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.html
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
  client/app/dedicatedCloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
Due: htmlhint 'client/**/*.html', eslint --fix

refactor(drp): use current service for pcc informations
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.component.js
  client/app/dedicatedCloud/datacenter/drp/alerts/dedicatedCloud-datacenter-drp-alerts.controller.js
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/ovh/secondPcc/index.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.component.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  client/app/dedicatedCloud/datacenter/drp/index.js
  client/app/dedicatedCloud/dedicatedCloud.controller.js
Due: eslint --fix

fix(drp): typos
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/index.js
Due: eslint --fix

refactor(drp): simplify data used for deletion
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.controller.js
  client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.service.js
Due: eslint --fix

fix(drp): fix local vra network input field
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  client/app/dedicatedCloud/datacenter/drp/configuration/steps/onPremise/onPremisePcc/dedicatedCloud-datacenter-drp-onPremise-onPremisePccStep.html
Due: htmlhint 'client/**/*.html'

feat(pcc): add modal to select datacenter for drp
  client/app/dedicatedCloud/dashboard/dashboard.component.js
  client/app/dedicatedCloud/dashboard/dashboard.html
  client/app/dedicatedCloud/dashboard/legacy/index.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.component.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.controller.js
  client/app/dedicatedCloud/dashboard/legacy/legacy.html
  client/app/dedicatedCloud/dedicatedCloud.controller.js
  client/app/dedicatedCloud/dedicatedCloud.routes.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.component.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.controller.js
  client/app/dedicatedCloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.html
  client/app/dedicatedCloud/drpDatacenterSelection/index.js
  client/app/dedicatedCloud/drpDatacenterSelection/translations/Messages_fr_FR.json
Due: htmlhint 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
